[2020-11-04 16:31] lholmquist commented on #361
Not to many responses from the slack channel,  other then me and you @lance thinking that those values should be updated wit ha cloneWith   and @grant suggesting that we don't have this method,  and just let users create a new Cloudevent themselves, which gets around the issue.

Grants suggestion:  `new CloudEvent({...ce.toJSON(), id: 'new-id'})`,  which, as he points out is how things are being d

[2020-11-04 16:33] lholmquist commented on #359
i feel like we were going to release a 4.0 when we did the 3.2.0, but then we got delayed,  so things got a little weird.   but i can't remember that exactly.

but anyway,  the 4.0 release notes will have commits that are in the 3.2.0 release,  and i think that is ok,  since it is just documentation

[2020-11-04 16:49] grant commented on #361
I suggest not having this method imo.

Keeping the interface as small as possible is really ideal in the long term. I deal with similar issues across consistency between implementations across 7 implementations with a similar library.

[2020-11-04 21:56] lance commented on #361
I'm fine with removing the method in 4.0.0 because it's correct that the user can do this themselves. Though frankly, I think it would be better to just deprecate it initially.

But there is one thing I think  we should consider changing before that. Even though we [eliminated munging](https://github.com/cloudevents/sdk-javascript/pull/344) the `data` property, there is still a `get()` and `set()`

[2020-11-05 14:07] lance commented on #359
There were a couple of issues that we wanted to definitively land in 4.0.0. IIRC

* https://github.com/cloudevents/sdk-javascript/issues/326 - done
* https://github.com/cloudevents/sdk-javascript/issues/332 - this is still open but we closed https://github.com/cloudevents/sdk-javascript/pull/349 without merging. Not sure what we want to do here
* https://github.com/cloudevents/sdk-javascript/issue

[2020-11-07 20:17] lholmquist commented on #359
This https://github.com/cloudevents/sdk-javascript/pull/362 should also be merged first,  and possibly #360 which i will PR soon

[2020-11-10 01:15] grant opened #364 "CloudEvent Constructor Validation Error Too Generic"
**Describe the Bug**

Hi, I'm trying to debug an error from a different user. They're using this SDK.

Their code is like this:

[code]

However, running this produces the following output:

[code]

I think this output could be improved. I don't really know what is wrong and don't know if the user is really trying to create an extension.

- Ideally, the error would state the field name and exactly

[2020-11-10 01:18] grant commented on #364
Relevant code:

https://github.com/cloudevents/sdk-javascript/blob/main/src/event/cloudevent.ts#L103

[2020-11-12 18:53] grant opened #367 "Split SDK Functionality Into Separate Modules"
**Describe the Bug**

Different CloudEvent consumers have different uses/applications. Some features folks just want certain features. We talked about splitting this repo with separate modules:

- CloudEvent object model / interfaces
- CloudEvent receiver
- CloudEvent emitter
- CloudEvent discovery / subscription

Same repo but separate libraries/modules.

[2020-11-13 19:16] lholmquist opened #369 "Deprecate cloudevents-sdk using npm deprecate"
If you search for cloudevents in npm,  the cloudevents-sdk will still show up,  https://www.npmjs.com/package/cloudevents-sdk

I think we should run `npm deprecate` on that old version/name so it no longer shows up in the list,  and gets a nice banner added to it, if someone does find it,  like request has:  https://www.npmjs.com/package/request

Also this message will show when someone installs t

[2020-11-13 19:18] lance commented on #369
Sounds good to me. If you have the rights to do it, fire away!

[2020-11-13 19:19] lholmquist commented on #369
i'll check,  and if i do,  i will take care of it

[2020-11-13 19:25] lance commented on #367
I don't think it makes sense to remove the transport APIs from the top level `cloudevents` module. I do think a `cloudevents-discovery` module and a `cloudevents-subscription` module are good though.

[2020-11-13 19:39] lance commented on #364
The error is occurring because you are using `dataContentType` instead of `datacontenttype` for the property name and those properties are not the same thing. In the source you point to above, the regex is validating that the extension conforms to the spec and (all lowercase and a-z, 0-9). I agree that it would be useful to change that error to something like this however.

[code]

I would not rec

[2020-11-13 19:46] grant commented on #367
Agreed.

[2020-11-13 19:57] grant commented on #364
Thanks.

A nice error like in the spec would be good:

[code]

https://github.com/cloudevents/spec/blob/master/spec.md#attribute-naming-convention

[2020-11-13 19:59] grant commented on #364
Would like to get feedback from event providers as to the strictness. I imagine some provider probably serves an event with a key >20 characters. Hopefully that doesn't break customer apps. I do see your point on the goal of keeping events clean when propagating.

[2020-11-13 20:51] lholmquist commented on #369
All Set:  https://www.npmjs.com/package/cloudevents-sdk

[2020-11-13 20:51] #369 closed

[2020-11-25 18:25] lance commented on #355
@cardil I've been thinking about this, and I wonder how you see this in practical usage. In the [spec](https://github.com/cloudevents/spec/blob/master/extensions/distributed-tracing.md#using-the-distributed-tracing-extension), the example given is,

[code]
Receiving an event message like this in the SDK would result in a `CloudEvent` that had the extension `traceparent`. For example assuming those

[2020-11-25 18:28] lance commented on #355
If what we have already is sufficient to consider the Distributed Tracing extension supported, we should add this to the README.md and maybe provide an example.

[2020-11-25 19:15] cardil commented on #355
Awesome. I think we can easily resolve this issue with just writing those examples above in documentation.

[2020-11-25 19:17] cardil commented on #355
I assume `tracestate` is also supported, just as `traceparent`?

[2020-11-25 19:40] cardil commented on #355
I think if both of those are supported, we should write those in documentation as examples, and maybe also add a unit test to make sure this behavior will be kept.

[2020-11-25 19:52] lance commented on #355
Yes - it behaves just as any extension. A `ce-<extname>: <extvalue>` header will get created when creating new events, and a `ce-<extname>` header will result in that `<extname>` being a property of the event.

[2020-11-30 15:02] cardil commented on #355
@lance Looking at Golang implementation it seems like more than just passing those extensions should be done:

https://github.com/cloudevents/sdk-go/blob/8ff3fbc/v2/client/client_observed.go#L48-L57

[2020-11-30 22:38] #364 closed

[2020-11-30 22:54] lance commented on #355
@cardil I have started a thread in the CNCF Slack to discuss what exactly is expected for the distributed tracing extension in terms of SDK support.

[2020-12-01 07:55] slinkydeveloper commented on #355
@cardil the golang implementation was done before the latest changes to the specification. The goal of the extension is not to carry the actual tracing informations (aka the actual traceparent), but the historic one. For more details, look here: https://github.com/cloudevents/spec/blob/master/extensions/distributed-tracing.md#using-the-distributed-tracing-extension

If you need to carry the tracin

[2020-12-02 20:49] lholmquist commented on #361
It looks like we can break this into a couple workable issues.

1. remove the getter/setter for data
2. deprecate cloneWith and remove in a later major release

as for if a user modifies the data, put a warning on the readme when we introduce the change?

[2020-12-07 16:21] #360 closed

[2020-12-07 16:24] lholmquist commented on #355
So is the actual action item here just adding docs?   That is sort of what i got from skimming this thread

[2020-12-07 20:20] lance commented on #355
I think so, yes

[2020-12-09 10:21] cardil commented on #355
Docs with code examples

[2020-12-09 21:42] lance commented on #359
@lholmquist what do you say? About ready for that 4.0.0 release? (I could use it for boson).

[2020-12-10 13:56] lholmquist commented on #359
@lance sorry,  some other things have gotten in the way.   I'll review what we have left today.

[2020-12-10 20:02] lholmquist commented on #359
There are 2 issues that were mentioned that have not yet been fixed,  but I think they could be done in a follow up 4.0.1

#332
#323

Also the distributed tracing issue, #355 can be taken care of in a patch release

@lance if it is ok with you,  I think we can do this release.  The PR, #368 , that release-please created is pretty close,  but doesn't include all these changelog entries. I can updat

[2020-12-10 21:36] lance commented on #359
Agree that these two and #355 can be a part of 4.x.y

[2020-12-11 19:32] lholmquist commented on #359
Version 4.0.0 just released on npm

[2020-12-11 19:32] #359 closed

[2021-01-25 13:49] lance opened #379 "Use HTTP.structured() and/or HTTP.binary() in Express.js example"
**The Express.js example is only partially correct**

In the Express.js example, we are doing some things by hand that should really be handled by the framework.

https://github.com/cloudevents/sdk-javascript/blob/6be3b2751401e529fce6ccf8a406a057472c10a9/examples/express-ex/index.js#L21-L41

In the response, we are just returning the `CloudEvent` instead of using the builtin framework capabilities

[2021-01-25 18:51] lholmquist commented on #379
I agree,  we should review our examples to make sure they are up to date

[2021-02-04 15:13] c-pius commented on #332
I think this should also be the same for the `id` attribute, right?

As of now, `HTTP.toEvent()` will also assign a new uuidv4 to an event if passed in `structured` mode with no `id` present. This time even implicitly without a log message that it was defaulted.

---

`parseStructured` will call the CloudEvent constructor with `eventObj` missing the `id` attribute and generate it.
https://github.c

[2021-02-08 10:12] c-pius opened #380 "SHOULD throw if extension attributes are NOT following naming convention?"
**Describe the Bug**
Extension attributes NOT following the naming convention (lowercase) are added to the event (no error thrown) but their value is added as `undefined`.

**Steps to Reproduce**
Use the following snippet:
[code]

Check the resulting event:
[code]

**Expected Behavior**
I assume according to [spec](https://github.com/cloudevents/spec/blob/v1.0.1/spec.md#attribute-naming-convention

[2021-02-08 10:33] c-pius opened #381 "SHOULD throw if ce-datacontenttype is present in binary mode?"
**Describe the Bug**
[Spec](https://github.com/cloudevents/spec/blob/v1.0.1/http-protocol-binding.md#311-http-content-type) states that the `ce-datacontenttype` header MUST NOT be present in a binary mode message. If it is passed anyway, no error is thrown and the given `ce-datacontenttype` is treated as extension attribute overwriting the value from the `Content-Type` header.

**Steps to Reproduc

[2021-02-10 15:35] c-pius opened #382 "SHOULD throw if subject is empty string (parsed from structured content mode)?"
**Describe the Bug**
[Spec](https://github.com/cloudevents/spec/blob/v1.0.1/spec.md#subject) states that the `subject` MUST be a non-empty string. In structured content mode `HTTP.toEvent` adds an empty subject string as `undefined` to the event and calling `validate` on the resulting event does therefore NOT throw.

In binary content mode, `HTTP.toEvent` adds the empty subject as `subject: ''` an

[2021-02-11 09:24] c-pius opened #383 "SHOULD update schema to latest CE-spec schema?"
**Describe the Bug**
The [schemaV1](https://github.com/cloudevents/sdk-javascript/blob/main/src/event/schemas.ts) is currently not up to date with the one from the [specification](https://github.com/cloudevents/spec/blob/v1.0.1/spec.json) (e.g. spec schema contains `source minLength 1`, SDK schema doesn't). Therefore, `event.validate()` does for instance not throw when `source` is an empty string.

[2021-02-11 13:11] c-pius commented on #332
FYI, there is another effect that when calling `HTTP.toEvent` with a structured mode event and a `specversion` value different from `1.0` or `0.3` (e.g. `2`), than the defaulting here is applied:
https://github.com/cloudevents/sdk-javascript/blob/6be3b2751401e529fce6ccf8a406a057472c10a9/src/message/http/index.ts#L58

but the parsed event is actually getting the original value (e.g. `2`) assigned b

[2021-02-17 05:12] moltar opened #385 "Class static side 'typeof Emitter' incorrectly extends base class static side 'typeof EventEmitter'"
**Describe the Bug**

When building the project with TS, I get the following error:

[code]

[code]

**Steps to Reproduce**

N/A

**Expected Behavior**

Build passing.

**Additional context**

[code]

[2021-02-17 16:37] c-pius opened #386 "SHOULD throw if time has an invalid value?"
**Describe the Bug**
If an invalid value for `time` is given, `HTTP.toEvent` silently defaults it to the current time in UTC.

**Steps to Reproduce**
Use the following snippet:
[code]

Check the resulting event:
[code]

**Expected Behavior**
As with the other issues I opened regarding (silent) defaulting, I think `HTTP.toEvent` should not do this. I think it would be more appropriate to either fai

[2021-02-18 20:36] lance commented on #385
Hi @moltar if you could provide some steps to reproduce this, that would be great! Looking at the typescript example in this repository, I do not see this problem. Thanks. :)

[2021-02-19 05:46] moltar commented on #385
Yup, here you go:

https://github.com/moltar/cloudevents-exp

Thanks!

[2021-02-23 07:03] moltar commented on #323
https://blog.benwinding.com/github-stale-bots/

https://news.ycombinator.com/item?id=25821092

[2021-02-23 13:20] hilfor commented on #385
+1

[2021-02-24 21:01] mnesbitt commented on #385
I'm having this issue as well in version 4.0.0.

I did some testing and it looks like it's caused by the version of `@types/node` being used. The typescript example in this repository is using `@types/node@8.9.0` which is 3 years old. I'm currently using `@types/node@14.14.10` and seeing the issue, and @moltar 's example is using 14.14 as well.

I downgraded to `cloudevents@3.2.0` for now and it's

[2021-02-25 14:18] lance commented on #385
@mnesbitt thanks for that info. I'll take a look.

[2021-02-25 15:05] lance commented on #385
@mnesbitt @moltar @hilfor if you all have an opportunity to test [this change](https://github.com/cloudevents/sdk-javascript/pull/387) in your project and provide feedback, that would be appreciated. Thanks!

[2021-02-26 02:57] moltar commented on #385
@lance can we get a pre-release or an alpha channel release? It's not easy to test this, because the code needs to be transpiled to be recognized by NPM.

I installed it from the PR:

[code]

But the dir does not have the packaged files:

[code]

[2021-02-26 02:57] moltar commented on #385
Reference: https://github.com/danillouz/til-npm-release-channels

[2021-02-28 00:27] #385 closed

[2021-03-03 18:58] lance opened #388 "Consider using npm distribution channels for early access releases"
**Is your feature request related to a problem? Please describe.**
Currently it is difficult for users to test changes on `main` without a published module. We often go months without a release, which can make it hard for users to keep up with changes as they are happening.

See: https://github.com/cloudevents/sdk-javascript/issues/385#issuecomment-786376145

**Describe the solution you would like

[2021-03-03 19:19] lance commented on #323
@moltar I see your point to some degree (though the blog post you linked is 404), which is why we have modified the bot to never actually close an issue. But having the label is useful, imo.

[2021-03-03 22:00] lance commented on #385
@moltar thanks for bringing this up.

Given that this is a community repo with established processes, we'll need to discuss it. But I think it is a good suggestion. I've opened an issue to track this https://github.com/cloudevents/sdk-javascript/issues/388.

[2021-03-04 15:19] lholmquist commented on #388
+1 to using the canary tag.

I know npm now has the "automation tokens" that can be enabled, https://github.blog/changelog/2020-10-02-npm-automation-tokens/,  but haven't used them yet.

I guess in my mind,  we would publish to the canary tag after every merge(automated with some action),  but would still want release-please to create a PR for the "next real release" which we would merge manually

[2021-03-05 19:45] lance commented on #380
When creating a new event in code, I think I agree. But this is similar to other scenarios in that when receiving an event, the library should adhere to loose validation. That is, if we can effectively recover from the wrongly formatted event when receiving it, we should. I accept that this scenario should be caught and flagged somehow.

It's not so clear to me. In that case, the resulting event w

[2021-03-05 19:56] lance commented on #380
In fact, that is what's happening. See: https://github.com/cloudevents/sdk-javascript/pull/389

[2021-03-05 20:19] lance commented on #381
I don't think it should, to be honest. This is similar to other scenarios that have been pointed out with regard to receiving malformed events. The `HTTP.toEvent()` function is meant to be used when receiving events via incoming HTTP requests, and we should be as forgiving as possible. To me the debate is really, what should the `datacontenttype` value be in this scenario, `text/xml` or `applicati

[2021-03-05 20:32] lance commented on #382
Hmm, since `subject` is an optional attribute, it seems odd to throw if it's empty - even if the spec states that it should be a non-empty string. I would argue that the binary parser is wrong, and that it should not throw when receiving a header such as `ce-subject: ""`.

[2021-03-06 01:06] justinrush opened #390 "plans for amqp/nats/stan/etc (similar to sdk-go)?"
**Is your feature request related to a problem? Please describe.**
The sdk-go project contains protocol implementations for other popular message buses, such as AMQP, NATS/STAN, and Kafka. I would like to see the same protocol layer available in the javascript SDK.

**Describe the solution you would like to see**
The same interfaces created for Protocol, Consumer, Receiver, Sender, etc, with a cli

[2021-03-11 20:50] lance opened #391 "The emitterFor() function drops additional defaults when an option is provided"
**Describe the Bug**
When calling `emitterFor()`, if you provide an option, as in the README example, it will fail. Example:

[code]
Produces the failure message:
[code]

This is because the defaults are dropped when a parameter is provided here:

https://github.com/cloudevents/sdk-javascript/blob/39812f77d086d75dcf562618a3cde46c3ca57d6d/src/transport/emitter.ts#L48

**Steps to Reproduce**
1. Copy

[2021-03-23 16:56] lholmquist opened #392 "Failure to generate typedocs"
**Describe the Bug**
Running the `npm run generate-docs` command fails.

**Steps to Reproduce**
1. npm install
2. npm run gerenate-docs
3.

**Expected Behavior**
It should generate docs

**Additional context**
There was an update recently from typedoc@0.18.x to typedocs@0.20.x, which according to the release notes, does have some breaking changes,   https://github.com/TypeStrong/typedoc/releases/t

[2021-04-01 19:57] lance commented on #390
Hi @justinrush - yes, we would definitely like to support all of the protocols that have a [specification](https://github.com/cloudevents/spec/#cloudevents-documents). There is no active work toward these goals at the moment, but we welcome contributions if you find yourself interested in that.

[2021-04-05 14:19] #392 closed

[2021-04-05 17:14] #391 closed

[2021-04-05 19:21] lance commented on #388
@lholmquist I started to look into this, and it's not clear what the best way to determine the next version should be. The release-please library and action don't expose a way to determine what the next version is. We could write code to look at the current version in package.json, then bump it according to conventional commit rules, based on iterating over the commits since the last release. But

[2021-04-07 14:28] lholmquist commented on #388
it's almost like there should be a "prerelease-please" action :)

i'm sure we could write something based on convential commit rules,  i'm pretty sure there is an api we can use.  Just thinking out loud here,  but i don't htink we would want to merge back into main those pre-release commits,  so getting the current pre-release version and bumping it to the next appropriate one might be interesting

[2021-04-14 20:01] antonioaguilar opened #400 "Can not view the code quality and coverage metrics for this library."
**Describe the Bug**
Codacy URLs for code quality and code coverage metrics are stale or not configure correctly

I clicked on the provided badge URLs on the README.md for this repo.

https://www.codacy.com/app/fabiojose/sdk-javascript?utm_source=github.com&utm_medium=referral&utm_content=cloudevents/sdk-javascript&utm_campaign=Badge_Grade

https://www.codacy.com/app/fabiojose/sdk-javascript?utm_s

[2021-04-15 18:11] lance commented on #400
Good catch - thanks. The correct link for both is https://app.codacy.com/manual/cloudevents/sdk-javascript/dashboard

[2021-04-15 22:49] #400 closed

[2021-05-17 21:53] lance commented on #332
@lholmquist ping - were you still thinking you'd take this? If not, I'll pick it up. Running into this as an issue now with function runtime.

[2021-05-18 14:02] lholmquist commented on #332
@lance it isn't on my radar atm,  so feel free to pick it up

[2021-05-24 18:53] #380 closed

[2021-05-25 15:10] #332 closed

[2021-07-28 21:57] hrobertson opened #423 "AJV schema validation functions should be pre-compiled to avoid unsafe-eval CSP requirement"
**Describe the Bug**
Compiling the AJV schema validation functions at runtime uses new `new Function` which requires the CSP `script-src` to include `'unsafe-eval'`.

Instead, the schema validation functions should be pre-compiled.

**Steps to Reproduce**
1. Use the cloudevents/sdk-javascript library in a site with a CSP with `script-src` not including `'unsafe-eval'`
2. Use `new CloudEvent(...)`

[2021-08-03 14:06] lance commented on #423
@hrobertson thanks for reporting this.

See also: https://github.com/ajv-validator/ajv/blob/master/docs/standalone.md

[2021-08-30 20:46] #379 closed

[2021-09-05 18:14] alex-dixon opened #432 "CloudEvent omits `data` from console output"
**Describe the Bug**
Not sure this is a bug since it may be intentional, but I got lost trying to figure where my event data was until I saw it was defined as a getter and wasn't printing to the console.

**Steps to Reproduce**
1. console.log(myEvent) => headers
1. console.log(myEvent.data) => data

**Expected Behavior**

console.log(myEvent) => headers + data (❤️)

**Additional context**
node v14

[2021-09-18 00:50] grant commented on #432
Maybe we need to add the data to the `toString` function here? Since `_data` is a private field in the class.

https://github.com/cloudevents/sdk-javascript/blob/2dc846c6594d2c19b0564a5e8394235aaa5c2713/src/event/cloudevent.ts#L153-L155

[2021-09-20 14:48] lance commented on #432
Actually, `event.toString()` _does_ print the data. It's just important to call `toString()`. The `toJSON()` function handles this.

https://github.com/cloudevents/sdk-javascript/blob/2dc846c6594d2c19b0564a5e8394235aaa5c2713/src/event/cloudevent.ts#L146-L151

Note below that to see the data, I must call `e.toString()`.

[code]

[2021-09-28 01:38] grant commented on #432
I think I created a PR to fix the issue.

[2021-09-28 01:52] grant commented on #367
I think this issue is a little old and outdated. I'm fine having it closed and all functionality together. Feel free to re-open it.

[2021-09-28 01:52] #367 closed

[2021-09-29 13:55] #383 closed

[2021-10-04 18:11] #432 closed

[2021-10-21 15:18] Alexis01 commented on #390
what about this request?

[2021-11-16 20:15] murrellrr opened #440 "Does not support Batched Content Mode but does not fail with spec validation error"
**Describe the Bug**
Spec allows for an array (or batch) of events to be submitted in the in Section: 4. JSON Batch Format at https://github.com/cloudevents/spec/blob/v1.0.1/json-format.md. If you pass the binding an array it quietly ignores it and just returns a CloudEvent object representing the first element of the array.

**Steps to Reproduce**
1. Create a HTTP request whose main body is an ar

[2021-11-16 21:19] lance commented on #440
Thanks for submitting this issue! I have a couple of comments inline below.

I'm curious if you used the `application/cloudevents-batch+json` content type [noted in the spec](https://github.com/cloudevents/spec/blob/v1.0.1/http-protocol-binding.md#331-http-content-type). While I wouldn't expect it to work, the behavior you describe I would also not suspect! :)

The [SDK requirements](https://githu

[2021-11-16 21:39] lance commented on #440
FWIW, I raised this issue in the CNCF Slack https://cloud-native.slack.com/archives/CCXF3CBL1/p1637098744022900

[2021-11-17 22:55] csantanapr opened #441 "CloudEvent with no datacontenttype parsed as JSON instead of plain text"
**Describe the Bug**
Doing a demo based on this blog to consume S3 events from Kamelet
The nodejs SDK can't handle the HTTP POST request with cloud event
Using the following code https://github.com/knative/docs/blob/main/docs/serving/samples/cloudevents/cloudevents-nodejs/index.js

**Steps to Reproduce**
1. create nodejs service
2. create trigger to send cloudevent from broker to nodejs service

*

[2021-11-19 00:10] grant commented on #355
@lance I think this issue is complete? Anything else this issue is waiting on?

[2021-11-19 13:53] lance commented on #441
@csantanapr you are right to point out that the SDK should be able to handle this event. I will note, however, that the event itself is not valid - at least not as represented in the HTTP protocol format.

From the [spec](https://github.com/cloudevents/spec/blob/v1.0.1/spec.md):

Which is basically saying, check the [HTTP transport spec.](https://github.com/cloudevents/spec/blob/v1.0.1/http-protoc

[2021-11-19 14:02] csantanapr commented on #441
@n3wscott should know what the golangsdk does in this case and able to handle it correctly.

[2021-11-19 14:05] csantanapr commented on #441
In the mean time should we also open an issue for kamelete s3 source for not including a content type plain/text?

I'm not you even where to open the issue. I just used openshift and installed the Camel operator

[2021-11-19 14:56] duglin commented on #441
Seems to me that the SDK should not be parsing the body at all - it's binary and should be passed on to the app as an array of bytes. If there was a content-type header that says it is JSON, then the SDK might try to be smart and convert it to a JSON object, but w/o that it seems like the SDK has no choice but to treat it as an array of bytes, not JSON.

[2021-11-19 15:01] duglin commented on #441
TBH I can even see an argument to be made that if the content-type was JSON but the body had invalid JSON, then the SDK should still pass it along to the app 'as is'. It all depends on whether the SDK is supposed to be a pass-thru or a validator. Depending on the usecase, either might be right. A flag to control this type of thing (perhaps exposed as "always pass event as raw bytes") might be usef

[2021-11-19 15:08] lance commented on #441
I'll be willing to bet this is what the Go SDK is doing.

[2021-11-19 16:25] lance commented on #355
Well, I think it would probably be good to document _how_ a user adds traces to an event. Do you think we should just close this issue and open another one? Maybe just changing the title to something like "Document support for distributed tracing". :shrug:

[2021-11-20 00:05] matthewrobertson opened #445 "The CloudEvent type should be generic"
As a developer I usually know what the data payload of my cloudevent will be when I get my hands on it. It would be great if I could express this in typescript to enable better type checking and auto completion:

[code]
IMO the existing  type hint for the `data` field is not adding much value: https://github.com/cloudevents/sdk-javascript/blob/f7b2840f826be8294f5357ab3b9a530170148dfc/src/event/int

[2021-11-20 16:37] lance commented on #445
@matthewrobertson thank you for the suggestion! I agree this is quite nice. While I feel pretty strong about my Node.js chops, please forgive my relative inexperience with TypeScript. (This project was converted to TS at the request of the community)

I just dropped a PR that should do what you want. IIUC this would not be a breaking from our mishmash type union. Can you please confirm that, and w

[2021-11-23 22:39] grant commented on #355
In terms of how a user uses this:

A user should be able to add the HTTP header `traceparent: 01-asdfasdf-etc` and see the value within their CloudEvent receiver, such as a property `cloudevent.extensions.traceparent`.

[2021-11-23 23:04] lance commented on #355
They'd add it as `ce-traceparent`. Here is an example. https://github.com/cloudevents/spec/blob/v1.0.1/extensions/distributed-tracing.md#using-the-distributed-tracing-extension

I believe this would just show up as an extension attribute naturally. We already have a test for a random extension here, which is essentially the same thing, just not using `traceparent`. I suppose we could add an explic

[2021-11-24 16:02] #441 closed

[2021-11-24 18:28] lance commented on #440
@murrellrr I'm working on an implementation. Hopefully we can release support for batch mode relatively soon.

[2021-11-29 22:03] #445 closed

[2021-12-07 20:36] #440 closed

[2021-12-07 23:16] lance commented on #440
@murrellrr batch support landed in 5.2.0. If you feel inclined, please give it a try and let us know how it goes.

[2021-12-11 01:34] grant opened #452 "Support CloudEvents Traceparent Extension"
**Describe the Bug**

Some HTTP requests may follow the CE traceparent extension. Currently, the default way of parsing this extension does not work as expected.

Concretely, this extension / attributes (`traceparent`, `tracestate`):

https://github.com/cloudevents/spec/blob/v1.0/extensions/distributed-tracing.md

- There should be a way to access CloudEvent extensions after converting a HTTP requ

[2021-12-14 18:51] lance commented on #452
Hey @grant - so to be quite honest, this extension has been a bit confusing to me, and I have had different expectations. To try and clarify, I posted in the #cloudevents slack about it. https://cloud-native.slack.com/archives/C9DB5ABAA/p1639507801025900

[2021-12-14 18:56] lance commented on #423
I have been working on this, but am awaiting some response from the ajv team https://github.com/ajv-validator/ajv/issues/1837

[2021-12-15 15:17] lance commented on #452
@grant I am pretty sure that the SDK is doing the right thing based on discussion in the Slack link above. There is also an open PR to the Distributed Tracing Extension that we should be aware of https://github.com/cloudevents/spec/pull/912.

[2021-12-19 00:56] LeoVS09 commented on #390
@lance @justinrush @Alexis01 My team wants to use CoudEvents for our JS services, but currently, for transport, we use only Kafka. I made [cloudevents-kafka](https://github.com/LeoVS09/cloudevents-js-sdk-kafka) package as Kafka transport extension for the main `cloudevents` library, with all features which need for us right now.
I do not have enough time to work on PR in this repository, but anyon

[2021-12-29 10:19] neelance opened #456 "Can not build with --isolatedModules"
**Describe the Bug**
Can not build with [TypeScript compiler option](https://www.typescriptlang.org/tsconfig#isolatedModules) `isolatedModules`.

**Steps to Reproduce**
Add `cloudevents` as a dependency to a project that uses `isolatedModules` and run a build.

You get:
[code]

The problem is with `export declare const enum Version`. One way to solve this would be to drop the `const` modifier.

**

[2022-01-10 23:37] lholmquist commented on #390
once we do a new release with. #455 ,  can this be closed, or should we keep it open until those other protocols are dealt with?

[2022-01-11 22:21] lance commented on #390
I think we can probably just close this, period. It's pretty broad and includes more than just transport implementations. The original ask is for all of the same interfaces here as in the Go SDK. But this implementation comes at it from a completely different perspective - not the least of which is the fact that Javascript is 'bring-your-own-transport-implementation' and Go just uses the built in

[2022-01-11 23:22] lholmquist commented on #390
closing,  and if we need to re-open we can

[2022-01-11 23:22] #390 closed

[2022-01-16 16:47] BOLT04 commented on #198
Hi @lance 👋. does this issue still apply to the current version of the SDK?
I noticed the package changed from `cloudevents-sdk` to `cloudevents`, so are those different usages still possible?

If it still applies and I could help just let me know 🙂

[2022-01-17 22:11] lance commented on #198
Hey @BOLT04 thanks for the offer! Yes, the issue is still relevant. The `cloudevents-sdk` versions are all really old at this point, so really it's only `cloudevents` that is needed. Your contribution would be appreciated!

[2022-01-17 22:42] BOLT04 commented on #198
Awesome! I'll work on a PR this week 👍. Thanks 🙂

[2022-01-24 23:35] lholmquist opened #463 "Kafka message protocol example"
With the recent release of [5.3.0](https://github.com/cloudevents/sdk-javascript/releases/tag/v5.3.0) and its ability to format Kafka messages, we should create an example like we have for the [HTTP protocol](https://github.com/cloudevents/sdk-javascript/tree/main/examples/express-ex)

[2022-01-24 23:36] lholmquist opened #464 "MQTT message protocol example"
With the recent release of [5.3.0](https://github.com/cloudevents/sdk-javascript/releases/tag/v5.3.0) and its ability to format MQTT messages, we should create an example like we have for the [HTTP protocol](https://github.com/cloudevents/sdk-javascript/tree/main/examples/express-ex)

[2022-01-26 21:54] #198 closed

[2022-02-09 19:42] jketcham commented on #456
I'm running into this issue as well in a Typescript project being transpiled with babel.

For reference, it looks like there are two places where `const enum` is being used:
- https://github.com/cloudevents/sdk-javascript/blob/2ac731eb884965e91a19bb3529100a6aee7069dd/src/event/cloudevent.ts#L17
- https://github.com/cloudevents/sdk-javascript/blob/80d987c1f6046efb5e0c89b0472d653ccd35ee2c/src/transp

[2022-02-09 19:53] grant commented on #456
@lance Do you think we could simply remove `const` from our enums here?

Seeing a downstream issue.

[2022-02-09 20:05] lance commented on #456
That should be part of it. But I think the resolution should be more comprehensive. I found this article a good read on the problem, as I was unaware of exactly why this was an issue. https://ncjamieson.com/dont-export-const-enums/

We should add `"isolatedModules": "true"` to our tsconfig.json. I did this locally, and it actually exposes a number of problems besides just this.

[code]

[2022-02-09 20:14] lance commented on #456
By simply changing tsconfig.json to use `"isolatedModules": "true"`, it seems TypeScript transpiles to the correct JavaScript.

[code]

[2022-02-10 13:39] #456 closed

[2022-02-11 23:48] grant opened #474 "release"
**Describe the Bug**
A clear and concise description of what the bug is.

**Steps to Reproduce**
1.
2.
3.

**Expected Behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here. If applicable, add screenshots to help explain your problem.

[2022-02-15 19:12] lance commented on #474
That document should be changed. It is quite out of date. The release script previously ran `standard-version` which we dropped in favor of `release-please` in this commit https://github.com/cloudevents/sdk-javascript/commit/edd3c7fbaced2af95275f0c9690f87833c0c6803

Using `release-please` eliminates or changes many of those steps outlined in the RELEASE_GUIDENLINES.md document.

[2022-02-22 13:38] lance opened #477 "The datacontenttype header is omitted from HTTP binary representation"
**Describe the Bug**

When converting a `CloudEvent` into an HTTP `Message`, the `datacontenttype` attribute is ignored, and no corresponding `ce-datacontenttype` header is generated.

[code]

As you can see, while the structured representation retains the `datacontenttype` property, it is omitted from the binary representation's headers.

**Steps to Reproduce**
1. Create a new `CloudEvent` instan

[2022-04-14 20:52] evanshortiss opened #487 "Return type definition of Kafka.structured seems incorrect"
**Describe the Bug**

The types for return values from `Kafka.structured(cloudEventInstance)` seem to be incorrect. The returned object has the following structure if viewed using logs or a debugger:

[code]

However, the types come from `CE.Message<string>`. This results in the following intellisense structure being suggested:

[code]

It seems as though the headers key is correct, but the body i

[2022-04-18 19:37] evanshortiss commented on #487
After looking a little more at this today, it seems as though the [Binding](https://github.com/cloudevents/sdk-javascript/blob/main/src/message/index.ts#L25) might need to support a generic(s) to pass the necessary structure(s) down to the [Serializer](https://github.com/cloudevents/sdk-javascript/blob/main/src/message/index.ts#L68-L70)? Currently the more specific structures are lost, and the typ

[2022-04-29 11:39] FelixHarvey commented on #487
Yep I think I'm seeing the same issue, but in the reverse.

When consuming a Kafka message, I want to convert it back into an abstract CloudEvent. I can use `Kafka.toEvent` which takes the general `Message` type. The `Message` interface can be seen below.

[code]

This is a bit confusing because `Kafka.toEvent` is bound to `deserializeKafkaMessage` which [checks for a `value` property](https://git

[2022-05-10 16:20] lance commented on #487
@FelixHarvey @evanshortiss thank you for your detailed descriptions of the issues you are seeing with the SDK - and I would welcome any contributions you have towards improvement. The interfaces are a bit clumsy.

The `Binding` interface is what is causing all of this trouble, I think. https://github.com/cloudevents/sdk-javascript/blob/d9ee0e05d1b38c84314d3e0535b17c25470d95a5/src/message/index.ts#

[2022-05-13 12:24] lance opened #489 "bug: parsing big integers in JSON `data` loses precision"
**Describe the Bug**
When parsing JSON data, if a JSON field value is a number, and that number is really big, JavaScript loses precision. For example, the Twitter API exposes the Tweet ID. This is a large number that exceeds the integer space of `Number`. You can see this by simply assigning a large number to a simple variable (it's not actually JSON that is the problem, it's JavaScript itself).

[2022-05-13 19:40] cardil commented on #489
I think your _Steps to Reproduce_ are a little misleading. You type there in verbatim a long number. JavaScript engine, parse a file, and use [IEEE 754 Standard](https://en.wikipedia.org/wiki/IEEE_754) to parse a `Number`. You could avoid that by using `BigInt` notation:

[code]

The problem exists, though. The problem lies in parsers implemented in this library. Here's simple jest for `HTTP`:

[c

[2022-05-24 16:45] shaheer-k opened #490 "Cloudevent SDK for Angular"
I want to use standard cloudevent format for sending events from frontend applications to the backend API.

I came to know about the following package which conform to the standard cloudevent format.

https://github.com/cloudevents/sdk-javascript

But I want to use it in angular application. Are there any cloudevent package exists for angular 12.

[2022-05-27 13:55] lholmquist commented on #490
@shaheer-k there aren't any packages that i know of that wrap this sdk in an angular component(or whatever it is called in Angular land).

But this is just a regular javascript library that should be able to be integrated into any JS framework

[2022-05-30 17:34] shaheer-k commented on #490
@lholmquist
thank you for the response.

I installed cloudevent sdk in Angular `12.0.0` application.
`npm install cloudevents`

Installation completed successfully.

I tried the following code in my .ts file

[code]

The line `const event = new CloudEvent(ce);` is causing the following error

[code]

Could you please help me in solving the above error.

[2022-06-02 07:49] matthewchngshopback opened #491 "Non Uint32Array binary data does not set the CloudEvent's data_base64 value"
When binary data, e.. `Buffer` or `Uint8Array`, is not converted to `Uint32Array` before being set as a CloudEvent's data, the `data_base64` will not be set because `isBinary()` detection fails. This results in **structured mode** to go out of spec by not having the expected `data_base64` attribute but instead include an unexpected `data` object.

If we convert the `Buffer` to `Uint32Array` and se

[2022-06-02 16:11] matthewchngshopback opened #492 "Binary mode header missing extension attribute when the value is false (boolean)"
When an extension attribute contains a boolean false value, it does not appear in the binary mode HTTP headers.

**Steps to Reproduce**
[code]

**Expected Behavior**
Headers should include expected `ce-extfalse: false`.

[2022-06-14 20:07] lance commented on #489
@cardil you are correct to point out the error in my example. But your example would not produce a valid CE even if we could handle big integers, because the required type for the `id` field is `String`.  https://github.com/cloudevents/spec/blob/main/cloudevents/spec.md#id

I think this is still a problem, but if something is sending a big int for the `id` that's not going to fly.

[2022-06-14 21:44] #492 closed

[2022-06-15 04:51] #491 closed

[2022-06-15 15:35] adgerrits opened #500 "Validation is broken"
**Describe the Bug**
Event.validate() is not functioning correct (tested in the express-ex example)

**Steps to Reproduce**
1. let e = HTTP.toEvent({headers: req.headers,body: { "a space": "not allowed", specversion: "1.0", source: "source1", id: "1", type: "test" }
2. e.validate() //no error

**Expected Behavior**
An error (just like when an ext.attribute with the name "Acapital"  is used).

**Ad

[2022-06-20 10:42] matthewchngshopback commented on #491
@lance Yes, this fix addresses all the issues described. Thanks very much. What do you think the ETA is for 6.0.2?

[2022-06-20 21:58] lance commented on #491
@matthewchngshopback We can probably bump a release this week.

[2022-06-21 21:40] lance commented on #500
I know it seems that way, but the schema is actually precompiled at build time, so you don't see it in this source repository. You can see where this was changed here: https://github.com/cloudevents/sdk-javascript/pull/471 and where it actually happens during the build here: https://github.com/cloudevents/sdk-javascript/blob/847f6bfcc77934a53b07493a957ed11f724c6deb/package.json#L10

This seems lik

[2022-06-22 19:27] #500 closed

[2022-07-05 12:50] lance commented on #490
@shaheer-k I am going to close this, assuming you've had some success. If you have not been able to get this to work, please re-open this issue or create a new one. Thanks.

[2022-07-05 12:50] #490 closed

[2022-08-16 22:10] dqiubread opened #506 "Issue converting a golang cloudevents type Kafka message"
Hello,
I'm trying to deserialize a kafka message that was initially creating using the cloudevents type in golang. An error occurs when i try to deserialize the kafka message to a cloudevent type.
[code]
Error message I get:
[code]

[2022-08-24 13:18] lance commented on #506
Hi @dqiubread when you are deserializing a Kafka message, you should use the Kafka message protocol in this module. Can you please try something like this and see if that resolves your issue?

[code]

[2022-08-27 16:07] PSanetra opened #507 "Unnecessary polyfill for http and https required"
**Describe the Bug**
Compiling a react app with this library as dependency results in a compilation error.

**Steps to Reproduce**
1. Create a react app using the `create-react-app` tooling
2. Add `cloudevents` as dependency
3. Compile project

Compiling the project results in the following error message:
[code]

**Expected Behavior**
It should be possible to compile the project including this lib

[2022-08-31 16:22] manuelottlik opened #508 "Harmonize validation of CloudEvents"
**Is your feature request related to a problem? Please describe.**
My problem is related to the validation of extensions. While `new CloudEvent()` rightfully rejects an extension named `my-extension` (problem being the `-`) it is perfectly okay for `HTTP.toEvent()` and even to `ce.validate()`.

**Describe the solution you would like to see**
I think the creation of a CE should always have the same

[2022-08-31 16:23] manuelottlik commented on #508
To anyone running into this issue, this is my fix for the moment:
[code]

[2022-09-02 20:53] lance commented on #507
@PSanetra thanks for reporting this. We do generate browser friendly code with these polyfills set to `resolve.fallback { "https": false }` as recommended. You can use this in your react app, by using the bundle like so.

[code]

I tried this locally and it seemed to work fine. However, I am not really much of a front end dev, so I'm not sure if this is really the best way to do it. Please let me

[2022-09-02 21:01] lance commented on #508
@manuelottlik we explicitly require incoming events to be manually validated, where extensions with non-conformant names should result in an error. See this test: https://github.com/cloudevents/sdk-javascript/blob/ea94a4d779d0744ef40abc81d08ab8b7e93e9133/test/integration/message_test.ts#L43-L57

The reason for this is that you cannot know what the incoming event might look like, and this gives the

[2022-09-04 13:37] manuelottlik commented on #508
Hi @lance, thank you for pointing that out – this makes sense to me regarding `HTTP.toEvent()`, but the behaviour `ce.validate()` is really confusing in my opinion. It returns true but its actually not valid.

[2022-09-06 12:15] lance commented on #508
@manuelottlik sorry I have not seen that behavior. In our tests, we have `expect(() => evt.validate()).to.throw(TypeError);` which should be the case for invalid extension attribute names. I agree that the API is weird - it will return true if valid and throw otherwise. But you still should be seeing an exception. Can you provide me with some code that duplicates the issue you are seeing?

[2022-09-06 16:44] manuelottlik commented on #508
I will check, but might need a few days.

[2022-10-03 21:38] lance commented on #507
Closing as not reproducible.

[code]

[2022-10-03 21:38] #507 closed

[2022-10-03 21:40] lance commented on #506
Closing this, assuming this worked for you @dqiubread. Please reopen with more detail if not.

[2022-10-03 21:40] #506 closed

[2022-10-11 20:36] lance commented on #452
Closing as obsolete

[2022-10-11 20:36] #452 closed

[2022-10-30 20:29] PSanetra opened #515 "Avoid jest#13535 and planttheidea/fast-equals#91"
**Describe the Bug**
`CloudEvent` class instances are at the moment not comparable using some popular libraries. Instances might be considered equal although they are not equal.

See the following issues:
* https://github.com/facebook/jest/issues/13535
* https://github.com/planttheidea/fast-equals/issues/91

**Steps to Reproduce**
1. Create two CloudEvent instances with different data properties
2

[2022-11-01 16:46] #515 closed

[2022-11-04 15:03] PSanetra commented on #388
Just as a hint to tooling: I have written a cli tool that also supports prerelease counters: https://github.com/PSanetra/git-semver#examples-1
The next version is calculated based on previous git tags and recent conventional commits.

[2022-11-08 19:51] duglin opened #517 "[security] Potential XSS in httpTransport()"
# Description
The httpTransport() method in the JavaScript SDK writes raw response messages from the endpoint when an error occurs. If user-controlled data is reflected in the error message, and the callee of this API includes the response in a web page without sanitizing the output, the application using the SDK and rendering its results will become vulnerable to XSS.
Validation and sanitization

[2022-11-08 19:51] duglin commented on #517
This was opened due to the Trail of Bits security review

[2022-11-10 20:41] lance commented on #517
@duglin this code is not doing what the Trail of Bits security review purports it to be doing.

https://github.com/cloudevents/sdk-javascript/blob/c282922ef9a02c57686d48ce97f7e377ef1cc82f/src/transport/http/index.ts#L55-L57

There are three different things happening on these three lines of code.

- `req.on("error", reject)` This code sets the `reject()` function as the error handler in the event

[2022-11-11 16:25] helio-frota commented on #517
+1 I agree with @lance

[2022-11-17 17:47] #517 closed