[2019-03-06 14:44] micheleangioni opened #7 "$ref: keywords ignored in schema at path "#""
Hi,
just requiring the sdk with a simple
`const Cloudevent = require('cloudevents-sdk');`

causes the following error to be shown in the console:

`$ref: keywords ignored in schema at path "#"`

Any suggestion or comment?

[2019-03-15 14:43] micheleangioni opened #9 "TypeScript types"
The TypeScript declaration package is missing in https://www.npmjs.com/~types .

More information on this: https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html

This is very important to ensure a proper diffusion of the cloudevents standards.

[2019-04-04 16:58] fabiojose commented on #9
@micheleangioni Could you make a PR with this? If you can't, please write an example using some piece of code from sdk.

[2019-04-04 17:12] fabiojose commented on #7
@micheleangioni any other detail? Are you using in frontend running in the browser?

[2019-04-08 07:33] micheleangioni commented on #7
@fabiojose I am pretty sure it's related to the `ajv` library. I think something is wrong in the json schema definition.
However, I use it in Node.js.

[2019-04-08 07:37] micheleangioni commented on #9
I do not have the complete library definitions. I have the definitions of the `Spec01`, `Spec02` and `Cloudevent` classes.

This are the definitions are wrote:

[code]

[2019-04-09 13:02] fabiojose commented on #7
Hi @micheleangioni, according with [this](https://github.com/epoberezkin/ajv/blob/master/lib/dot/validate.jst#L152) this is a warn message.

What do you think? In my option this is not big problem.

Should we close this?

[2019-04-09 13:22] fabiojose commented on #9
@micheleangioni Now I understood. Do you want to join us and work in this issue?

[2019-04-11 14:34] micheleangioni commented on #7
Hey @fabiojose , no, it's not a big problem. It's just that if all libraries emitted a warning line, an application would be flooded by warnings at startup.

What I mean it's that, even if it does not cause problems, it would be nice to remove the warning somehow. I would leave it open honestly, at least for now.

[2019-04-11 14:35] micheleangioni commented on #9
Yes, sure. I hope to find some time to write the declarations also of the remaining classes, hopefully in a couple of weeks :)

[2019-04-18 19:39] Justin2997 opened #11 "Clear documentation to how to receive cloudevents"
I am opening this issue as a question but also for proposing my help if you need. I will like to see a receive section in the readme as there is in the golang sdk : https://github.com/cloudevents/sdk-go#working-with-cloudevents

If you think is a good idea I can look into this.

[2019-04-18 19:42] fabiojose commented on #11
Off course! It's an amazing idea!

@justin2997

Please perform the PR!

[2019-04-22 21:31] fabiojose commented on #7
Solve with PR #10

[2019-04-22 21:31] #7 closed

[2019-04-25 17:40] cwallsfdc commented on #9
@micheleangioni, would be awesome!

Novice question, how to use the type definition above w/ `cloudevents-sdk`?  I placed the type definition here `lib/@types/cloudevents-sdk/index.d.ts`, but it's unclear how to create a `Cloudevent` with a JSON string.

Thanks.

[2019-04-26 15:08] cwallsfdc commented on #9
@micheleangioni, I had to change the typing to the following to match `cloudevents.js`'s single export of `Cloudevent`.

https://gist.github.com/cwallsfdc/183c2df8dad88964efa957217b12c496

[2019-04-27 14:01] Justin2997 commented on #11
I think that will be useful to as something like this: https://github.com/GoogleCloudPlatform/functions-framework-nodejs#enable-cloudevents in the readme. We can add other languages too. That will make it more centralize in the repo to receive and send CloudEvent.

[2019-05-07 17:08] fabiojose commented on #9
@cwallsfdc Can you help us in how to publish this typing in NPM?

[2019-05-07 18:40] cwallsfdc commented on #9
Honestly, I think a better approach is to convert to Typescript and include the typings in the `cloudevents-sdk` npm module.  This way the lib and typing stay aligned.  Migrating to Typescript shouldn't disrupt users.

If in agreement, I can post a PR w/ Typescript changes.  We'd then publish a new `cloudevents-sdk` version w/ typings.

Thoughts?

[2019-05-14 17:00] fabiojose commented on #9
LGTM

[2019-05-24 11:10] csantanapr opened #12 "develop branch and npm package behind"
There are 2 PRs that are already merged.

PR #10 Changed JSON schema validator's options to remove warning: "$ref: key…
- is in the develop branch, not in master or released in npm registry

PR #8 Added missing 'source' getter on Spec02
- is in master branch but not released on npm registry

Can this 2 fixes be promoted to the npm registry?

Also trunk based development working on `master` branch

[2019-05-24 11:33] csantanapr commented on #12
For anyone hitting the same problem I created a branch with develop merged in master here is what to put in your `package.json`
[code]

[2019-05-24 12:50] fabiojose commented on #12
@csantanapr sorry about this little mess!

Now, the things are good again!

https://www.npmjs.com/package/cloudevents-sdk/v/0.2.1

[2019-05-24 12:50] #12 closed

[2019-05-24 12:52] fabiojose commented on #11
LGTM

[2019-05-24 16:04] jthomas commented on #11
This is a great idea. I came to this repo looking for the exact same thing.... I'd like to have both the ability to decode an incoming cloudevents message (with validation) manually using the SDK and then have the automatic HTTP listener (mirroring the Go SDK example) where I can just register the event processing callback.

[2019-05-25 22:49] Justin2997 commented on #11
@jthomas  I will do a PR. I need to test it first.

[2019-06-11 23:36] playground-julia opened #17 "README emitter example bug"
In the README, the example on how to emit events does not work because the word new is missing.

[2019-06-11 23:37] playground-julia commented on #17
Fixed in #16 !

[2019-06-11 23:41] playground-julia opened #18 "HTTP binding for binary format"
The HTTP binding for binary formatted data currently does not follow the cloudevents/spec:
1. The event type, time, and schema url should not be required
2. the content-type should be json, but not cloudevents-json

Additionally, the config object should be copied because creating multiple bindings with the same config will override the content-type.

Fixed in issue #14.

[2019-06-12 01:20] fabiojose opened #19 "On new PR the coverage command fails"
Fix the pipeline coverage command to run just for master and develop branches.

[2019-06-16 22:48] fabiojose opened #20 "Create CONTRIBUTING.md with guidelines"
Write down guidelines to show how to contribute with CloudEvents' JavaScript SDK

[2019-06-17 16:56] playground-julia commented on #20
@fabiojose should I change my PRs to base off of the develop branch?

[2019-06-25 13:10] fabiojose commented on #20
Off course @playground-julia!
But is not required.

[2019-06-25 15:47] #19 closed

[2019-06-25 15:47] #20 closed

[2019-06-25 16:31] fabiojose commented on #11
A way to receive event is available now:

Check it out [here](https://github.com/cloudevents/sdk-javascript#receiving-events)

[2019-06-25 16:31] #11 closed

[2019-06-25 16:32] fabiojose commented on #17
Released in version [0.2.2](https://github.com/cloudevents/sdk-javascript/releases/tag/v0.2.2)

[2019-06-25 16:32] #17 closed

[2019-06-25 16:33] fabiojose commented on #18
Release in version [0.2.2](https://github.com/cloudevents/sdk-javascript/releases/tag/v0.2.2)

[2019-06-25 16:33] #18 closed

[2019-06-25 22:01] playground-julia commented on #18
@fabiojose Tried to use the updated version and I noticed my changes for emitter_binary_0_2 didn't get merged in properly... The optional / required fields do not follow the spec but remain as they used to be.

[2019-06-30 17:59] fabiojose commented on #18
Oh boy! I will check what gonna wrong!

[2019-06-30 18:46] fabiojose commented on #18
Fixed! https://github.com/cloudevents/sdk-javascript/releases/tag/v0.2.3

[2019-07-02 14:58] playground-julia commented on #18
Thanks, it works :)

[2019-07-24 09:34] akoenig opened #22 "How to emit event to Knative broker?"
I have a Knative service which receives a CloudEvent from a Knative source. After processing this event I want to emit another CloudEvent to my Knative Eventing broker. Unfortunately, I'm having a hard time achieving this:

[code]

This configuration leads to communication timeouts. Any help on this is highly appreciated 🙂

[2019-07-24 17:51] fabiojose commented on #22
Hi @akoenig

Can you post the full source code?

[2019-07-24 18:34] fabiojose opened #23 "Invalid content-type validation for binary format"
With the following binary message:

[code]

We got:

[code]

[2019-07-24 18:47] #23 closed

[2019-07-24 18:51] fabiojose commented on #22
@akoenig checkout this full example of how to emit CloudEvent using binary:

[code]

[2019-07-25 08:08] akoenig commented on #22
@fabiojose Thanks for your response. That was also exactly my code. My fault was that I had a wrong broker endpoint. So for posterity: When having a default Knative Eventing broker, just create the following `config`:

[code]

Closing. Thanks again 🙂

[2019-07-25 08:08] #22 closed

[2019-07-27 20:09] fabiojose opened #24 "Attributes of spec v0.3"
Implement the support for attributes of [spec v0.3](https://github.com/cloudevents/spec/tree/v0.3)

[2019-07-28 06:10] pengsrc opened #25 "Binary data not supported"
Hi，I was using the example from (https://github.com/cloudevents/sdk-javascript/blob/master/examples/express-ex) and got this error.

[code]

[2019-07-28 06:10] pengsrc commented on #25
https://www.iana.org/assignments/media-types/application/octet-stream

arbitrary binary data.

[2019-07-28 06:21] pengsrc commented on #25
Code to send the CloudEvent message.

[code]

[2019-07-29 00:46] fabiojose commented on #25
@pengsrc,
Nice PR!

[2019-07-29 00:58] #25 closed

[2019-07-29 01:09] fabiojose commented on #25
@pengsrc
Released: https://www.npmjs.com/package/cloudevents-sdk/v/0.2.6

[2019-08-05 19:08] grant commented on #9
Google Cloud Functions uses it's own TypeScript types because this SDK does not have them.

Google Cloud Functions Framework:
https://github.com/GoogleCloudPlatform/functions-framework-nodejs/blob/master/src/invoker.ts#L63

[2019-08-06 01:47] grant opened #27 "Merge dev into master"
It's hard to contribute to this library when the `dev` branch is 50 commits behind `master`.

Please merge these commits to `master` before we can contribute. There's not a large reason for there to be separate branches afaik.

[2019-08-06 11:30] fabiojose commented on #27
@grant develop is under development. Planning to release today.

[2019-08-06 11:30] #27 closed

[2019-08-06 11:32] fabiojose commented on #27
@grant please take a look in Gitflow.

[2019-08-06 15:46] #24 closed

[2019-08-07 12:04] fabiojose opened #28 "A Cloudevent class per spec version"
Today we have just one cloudevent.js that makes the interface with Spec classes. This is ok with vanilla js, because of flexibility which exists in js programming we inject new methods we needed.

Now it's time to stabilize the things. We are reaching the v1.0 and some attribute names are getting stable, in special the required ones: `id`, `source`, `specversion` and `type`.

We need:

- a base cl

[2019-08-07 12:13] fabiojose opened #29 "Immutable event builder"
Implements an immutable event builder, to builds events instances that are unchangeable after its build.

Depends on #28

[2019-08-08 16:53] grant commented on #9
Answering questions from email:

Yes. When we publish to `npm`, we publish pure js and we have files for TypeScript types for autocompletion.

We can publish this npm module instead of using DefinitelyTyped. See https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html

---

Just let me know when `master` and `dev` are the same so I can do the conversion without new changes in

[2019-08-08 17:24] fabiojose commented on #9
@grant Thanks for the answers.

Because of the changes that are coming from the spec, I think that is more prudence to publish the types using Definitely Typed. This will help the projects written in TypeScript and we save time to model the stuff for the future of the sdk and to work in the incoming spec changes.

It's fair if we make voting:

- Vote `a` if you are in favor of to create just the t

[2019-08-08 17:30] fabiojose commented on #28
@grant What do you think about this definition? May be would be better in ts?

[code]

[2019-08-08 17:37] grant commented on #9
`b` is so much better and easier.
This is what Google does with all JavaScript libraries.

[2019-08-08 17:43] grant commented on #28
Looks ok.
Would be much better with modern javascript (`class`) or TypeScript.

[2019-08-08 17:49] fabiojose commented on #28
@grant Would like to help us with these definitions?

[2019-08-08 19:39] fabiojose commented on #9
@micheleangioni
@cwallsfdc

[2019-08-09 01:03] cwallsfdc commented on #9
Thanks for leading this charge @fabiojose.

I agree with @grant.  `b`.  TypeScript is natural and well supported.

[2019-08-14 21:26] fabiojose commented on #9
`b` wins!

_Vote b if you are in favor of to migrate the entire codebase from JavaScript to TypeScript_

@grant Thanks for your contribution! Let's code?

[2019-08-15 18:28] grant opened #31 "Don't Push Directly to Master"
I don't think we're allowed to push directly to `master`. It seems like we must get 1 reviewer cross company.

Wanted to create a PR to convert to TS, but the library was changing too often.
See https://github.com/cloudevents/sdk-javascript/issues/9
CC @n3wscott

[2019-08-15 18:50] fabiojose commented on #31
@grant, yep! We are working with PR and reviews over that!

The library will change too often until we reach version `1.0`. After that, we expect to changeless.

[2019-08-21 21:16] jabrown85 opened #32 "Unmarshalling structured cloudevent with subject fails"
Providing a `subject` key in a structured payload falls into the extension flow. It is then rejected as being a reserved attribute name.

I did not open a PR yet, I wanted to ensure this was not intended behavior. Failing test shown below.

https://github.com/cloudevents/sdk-javascript/compare/master...jabrown85:jab/subject-unmarshaller?expand=1

[code]

[2019-08-21 22:37] fabiojose commented on #32
@jabrown85,

The subject must be accepted as context attribute.

This test must pass.

[2019-08-22 11:55] fabiojose commented on #32
@jabrown85 I already found the bug, but, feel free if you want to file a PR.

[2019-08-22 11:56] fabiojose commented on #9
@grant

Will you code for this issue? Just to know.

[2019-08-22 13:20] jabrown85 commented on #32
Go right ahead!

On Thu, Aug 22, 2019 at 6:55 AM Fabio José <notifications@github.com> wrote:

[2019-08-22 14:37] grant commented on #9
I can't continue since this repo doesn't seem to follow the CNCF standards of having reviews. Need to check on Slack and with others first.

[2019-08-22 17:46] joshwlewis opened #33 "Special handling of the "data" attribute not supported"
In the v0.3 spec for JSON format section about [Special Handling of the "data" Attribute](https://github.com/cloudevents/spec/blob/v0.3/json-format.md#31-special-handling-of-the-data-attribute), it says:

If I'm reading the spec correctly, it looks like the SDK should serialize stringified JSON in the data attribute. In other words, I would expect this to work:

[code]

I wrote a sample test (http

[2019-08-22 21:02] #31 closed

[2019-08-23 11:57] #32 closed

[2019-08-23 12:12] fabiojose commented on #33
That references it's wrong, please, ignore it.

[2019-08-23 15:37] fabiojose commented on #33
@joshwlewis, after reading and talking with some fellows, we conclude that's right for incoming events, that needs to be unmarshaled. But, for the outcoming event, created by the `v03.event()...` the type will be as-is, no parsing at all.

If we parse a string to json in the `v03.event()..`, we will ending to marshall a json object, not a string.

That's makes sense to you?

[2019-08-26 11:52] fabiojose commented on #9
Nice!

This is a great opportunity. You can become a new commiter and helps us to review. At this moment I am the only one: maintainer and commiter.

Because of that, I guess, you got that impression of loose standards.

Come, join us! Make this better!

[2019-08-26 12:06] duglin commented on #9
@grant can you elaborate?  As @fabiojose mentioned, we do try to follow "normal" review processes (see the golang repo, it has more people involved) but if there's only one person active in the repo then it's hard to require multiple people for reviews :-)

[2019-08-27 08:26] takethefake commented on #9
I would like to join migrating cloudevents to typescript!

[2019-09-01 14:02] fabiojose commented on #33
@joshwlewis, I've some baking on this. Your point of view is right! Because of the dynamic typing of js, we can do that easily.

Lets review it in the PR #35

[2019-09-03 00:19] #33 closed

[2019-09-03 11:49] fabiojose opened #36 "Deprecation of Spec v0.1"
Is time to deprecate the implementation for spec v0.1?

[2019-09-30 16:47] grant commented on #28
@fabiojose Sent email to you to discuss more first.

[2019-09-30 19:32] grant commented on #9
Makes sense. I can look into converting this package again. It needs a lot of major changes though.

[2019-10-02 15:52] fabiojose opened #37 "Support for spec v1.0"
Spec v1.0 is coming, now should be the time to start the implementation.

[2019-11-06 14:31] fabiojose commented on #9
Folks, it's not the best, but now we have (types for version 1.0.0)[https://github.com/cloudevents/sdk-javascript/blob/v1/v1/index.d.ts]

[2019-11-09 08:37] xpepermint opened #40 "File upload example"
As I understand, when uploading a file over the HTTP, the `data` of the event should contain a `stream`. So a NodeJS example would look like this?

[code]
[code]

Is this correct?

[2019-11-09 09:56] #40 closed

[2019-11-12 17:35] #37 closed

[2020-02-01 20:14] achille-roussel opened #45 "Batched Content Mode"
Hello,

I wanted to ask if a plan to support [Batched Content Mode](https://github.com/cloudevents/spec/blob/v1.0/http-protocol-binding.md#33-batched-content-mode) was in the work?

[2020-02-04 15:37] MoMannn opened #46 "Error handling response"
I have a question regarding error handling of events. Standard dictates that you always return the event parameters(e.g. headers) in case of success what about in case of an error? In your example you do not return them but just respond with status 415.

And how to handle a batch of events if only one fails or n fail.

[2020-02-04 15:52] xpepermint commented on #46
What I'd propose is something like this:

[code]

And for headers (similar to other HTTP headers):

[code]

Alternatively, we can add `ce-status` attribute which holds `200/201` for success, `4xx` for application-level errors and `5xx` for system errors.

@fabiojose, @duglin do you guys think this is an acceptable approach? To support batch events we have to somehow include errors into CE definiti

[2020-02-13 16:28] fabiojose commented on #45
It's comming! But, could be faster if you help us with a nice PR!

[2020-02-13 16:56] achille-roussel commented on #45
Fair point, I mostly didn’t want to duplicate work if it was already inflight.

If I find time to contribute I’ll post on this issue 👍

[2020-03-24 17:02] nan-xiong opened #48 "getting error using httpsAgent in http binding emitter"
we need to use mTLS authentication to a https endpoint with certificate and key when submitting cloud events.
We got the following error:
"The "options.agent" property must be one of type Agent-like Object, undefined, or false."
when using the following code:
`var options = {
        method: "POST",
        url: requestUrl,
        httpsAgent: new https.Agent({
          cert: fs.readFileSync(cf_c

[2020-04-03 13:45] lance opened #50 "Dependencies are outdated and contain vulnerabilities"
There are a number of vulnerabilities identified when running a clean `npm install`. There are also a number of dependencies specified in package.json that are unused. And finally, a couple of the dependencies are no longer maintained.

See: https://github.com/cloudevents/sdk-javascript/pull/49

[2020-04-03 15:42] lance opened #51 "Tests are not run for pull requests"
The `.travis.yml` file is configured so that the code coverage results are only published when the commit is not a pull request. However, as written, tests are not run at all for pull requests.

[2020-04-08 20:27] lance opened #54 "A linter should be added to the package.json scripts"
Because there are no linting rules outlined in the repository, and no task in package.json to lint the code, contributors can't know what the style guidelines/expectations are, and might therefore submit a pull request that will fail the linting checks on [Codacy](https://app.codacy.com/manual/cloudevents/sdk-javascript/pullRequest?prid=5330379).

[2020-04-10 15:46] fabiojose commented on #45
Go ahead! We are looking forward for your PR.

[2020-04-10 22:27] achille-roussel commented on #45
The HTTP bindings for CloudEvents are simple enough to implement that I ended up just writing custom code to support my use case instead of taking a dependency on this package, so I don't have much incentives to contribute to this package anymore.

Thanks for following up tho!

[2020-04-15 12:13] #51 closed

[2020-04-15 13:22] lance opened #56 "Recommend using standard-version for versioning and changelog"
The [`standard-version`](https://www.npmjs.com/package/standard-version) package automates releases and nicely handles updates to changelogs, git repository tags and semver based versioning bumps for each release. I recommend using it to simplify these things.

[2020-04-16 18:45] #48 closed

[2020-04-21 19:52] lance opened #61 "Recommend dropping support for 0.2"
In the [SDK requirements documentation](https://github.com/cloudevents/spec/blob/master/SDK.md#contribution-acceptance), it says "Each SDK supports the latest(N), and N-1, major releases of the CloudEvent spec", with a special case being 1.0 as latest with 0.3 recommended support.

Ultimately, dropping support for 0.2 should make maintenance simpler. From npm download numbers, I guess it's hard to

[2020-04-22 12:23] #50 closed

[2020-04-23 12:46] Gerrit-K commented on #9
A remark from a (rather inexperienced) typescript user: the provided types are not really flexible as they are more of an interface than a type definition. I think the whole structure would be much more versatile (i.e. usable in / connectable to other libraries) if you split the event builder pattern from the bare data model and use basic object attributes instead of getters and setters in the typ

[2020-04-25 00:06] grant commented on #36
Yes. I believe v0.1 is already dropped here.

[2020-04-25 00:07] grant commented on #61
I agree in dropping 0.2 (and I support dropping 0.3).

[2020-04-25 00:30] grant commented on #9
Hi @fabiojose,
Do you mind making me a collaborator to this repo? I have an expertise in JavaScript/TypeScript and would really like to make this project better.

At Google, we don't use this CloudEvent SDK (even though we use CloudEvents with Node) because of some of the issues described above. I would like to improve this situation but I need to be able to contribute to this repo and use best pr

[2020-04-25 00:33] grant commented on #56
I agree with using this versioning and changelog system.

[2020-04-25 01:58] fabiojose commented on #9
For me, it's ok.

Please, file an issue requesting to be a collaborator and I will ask someone to add you.

[2020-04-25 03:15] grant opened #64 "Add grant as collaborator"
Hello, I'd like to become a copaborator for this repo as I'm working heavily on events at Google.
I was requested to create an issue, so here it is!

[2020-04-25 03:16] grant commented on #9
Ok, I filed an issue:
https://github.com/cloudevents/sdk-javascript/issues/64

[2020-04-27 12:16] helio-frota commented on #61
+1 in dropping support for 0.2

[2020-04-27 15:33] lance commented on #9
@grant @fabiojose I would like to request that this repository NOT be converted to TypeScript. It is a mistake, in my opinion to assume that JavaScript and TypeScript are interchangeable.

[2020-04-27 15:43] lance commented on #61
@grant currently, it is recommended that adapters continue to support v0.3. See: https://github.com/cloudevents/spec/blob/master/SDK.md#contribution-acceptance

[2020-04-27 16:00] lance commented on #61
Hmm - although it appears that 0.3 isn't really supported. https://github.com/cloudevents/sdk-javascript/blob/master/lib/cloudevent.js#L1-L7

[2020-04-27 16:33] grant commented on #9
@lance Can you please describe more? The library will still be compatible with JavaScript. I strongly recommend using TypeScript. What specific concerns do you have?

[2020-04-27 16:39] grant commented on #61
I propose we follow the versioning of the most mature CE SDK, Go, and support v1 and v2.
https://github.com/cloudevents/sdk-go

However, this library needs a bit of work before then.

[2020-04-27 18:22] grant opened #65 "Use Direct Object Creation Pattern, Do Not Use Builder Pattern"
The JavaScript SDK uses a Java-like builder pattern for creating events.

This is not ideal as it is not very JavaScript-like, and is unnecessarily wordy. As we are in JavaScript, we can use direct JSON objects for creating the CloudEvent payload.

Here is a sample taken from the README:

## Actual

[code]

## Expected

[code]

[2020-04-27 18:55] fabiojose commented on #64
LGTM

@duglin ?

[2020-04-27 18:56] fabiojose commented on #56
+1

[2020-04-27 18:56] fabiojose commented on #61
+1

[2020-04-27 18:57] fabiojose commented on #65
LGTM

[2020-04-27 19:08] fabiojose commented on #9
@lance there is a channel at slack. Join us to discuss this issue. More heads, more thoughts

#cloudeventssdk

[2020-04-27 19:29] lance opened #66 "Cloudevent object should not have a contentype attribute"
The [`Cloudevent`](https://github.com/cloudevents/sdk-javascript/blob/master/lib/cloudevent.js#L93) object conflates HTTP `Content-type` with the CloudEvent specification [`datacontenttype`](https://github.com/cloudevents/spec/blob/v1.0/spec.md#datacontenttype). In fact, there is no `datacontenttype` attribute on the `Cloudevent` object.

The API for a `CloudEvent` exposed in this module should ma

[2020-04-27 20:13] lance commented on #36
Remnants of it have been removed in https://github.com/cloudevents/sdk-javascript/pull/67

[2020-04-27 20:22] grant commented on #64
I've sent a Slack message and email to Dug for this request.

[2020-04-27 20:49] lance commented on #9
@grant I understand that the library can be _used_ with Node.js if it's TypeScript and I'm fine with adding types to this module. But I personally do not use TypeScript and don't particularly want to completely change my projects to use TypeScript just to parse CloudEvents, whether or not you strongly recommend that I do. I also will stop contributing to this project if it's converted to TypeScrip

[2020-04-27 21:14] lance commented on #9
@fabiojose I've sent a request to join the Slack

[2020-04-27 21:21] helio-frota commented on #9
My TS knowledge still limited to continue contributing

[2020-04-27 21:34] grant commented on #9
Hi Lance, I think there may be some confusion, which is completely understandable.

You don't need to change any of your projects to use TypeScript. We don't expect anybody to do that. I assume many projects will just use vanilla Node now and in the future.

I understand as a personal (and large) contributor to this project who might not be using TypeScript, it might seem like we are coming from l

[2020-04-27 22:15] lance commented on #9
Hi @grant - just to be clear, I have used TypeScript and understand that it's valid JavaScript.

However

This is exactly what I object to. That and the verbose non-intuitive syntax of TypeScript. And the added code size.

With good linting, proper use of `class`, private fields, and complete test coverage (all things any modern JavaScript project should have) the benefits of TypeScript just don't

[2020-04-27 22:26] lance commented on #9
Just wanted to add... I realize that in some circles this is not a popular opinion. I don't mean to be abrasive about it. I'm just a purist and do not believe TypeScript is by default an improvement.

[2020-04-27 22:37] grant commented on #9
Can you be more specific as to what you object? I said we don't have to use any special TS syntax to start. The code size would not be different, there is no impact on user-executed code. Do you not want to have a different file extension? Do you not want to run the watch command?

If I told you that Google, Microsoft, Lyft, Slack, Asana, and others use TypeScript because of clear benefits with to

[2020-04-27 23:27] lance commented on #9
Let's be clear - I can't allow or disallow anything. I'm just a community contributor who has become invested in this project. I don't have write permission on this repository or any level of contributor status other than as a community member. I haven't even submitted an issue asking to be added as a collaborator.

I apologize for my apparent self-aggrandizement as the most prolific contributor i

[2020-04-27 23:48] grant commented on #9
OK, thanks for the response. And thanks for your contributions.

I hope we don't have unreadable code. I hope we have a more usable module with active developers like yourself that can improve the CloudEvent ecosystem.

There are a few logistics/issues we need to solve before adding TypeScript type support anyhow. I'm curious as to how you're using this module currently, and perhaps how it could b

[2020-04-28 00:17] lance commented on #9
@grant good deal. I don’t want unreadable code either. I want this to be high quality idiomatic JavaScript and of course, with Typescript type support. :) IMO one good improvement might be this: https://github.com/cloudevents/sdk-javascript/issues/65

[2020-04-28 00:24] lance commented on #65
I agree that this would be an improvement in the API. It makes me think about versioning. This is a breakable change to the API. So, presumably it would need a major version number bump. Does this become problematic reconciling the module version with the spec version? What is the thinking here?

[2020-04-28 00:51] grant commented on #65
Good questions.
The npm version (CloudEvent client) and specversion may differ. As such, the npm module version may be higher than the CE spec (they should be unrelated). We don't really expect the Node client to only be changed when there's a major release in the CE spec of course.

I've updated the exact sample to be more consistent with Go and normal versioning. When `v2` comes out, I would ass

[2020-04-28 00:57] grant opened #69 "Unnecessary `ext` folder"
The repo has a folder of the CE spec in JSON format in `ext`.

https://github.com/cloudevents/sdk-javascript/tree/master/ext

While this may be useful, it's not necessary for a CloudEvent SDK. Let's refer back to the spec rather than keeping the files.

[2020-04-28 01:16] grant commented on #69
It looks like these specs might be currently used. I'll keep this open but close the PR.

[2020-04-28 01:22] duglin commented on #64
sorry for the delay - Should be done now

[2020-04-28 01:22] #64 closed

[2020-04-28 01:27] grant commented on #64
Sorry @duglin, can I have write access like fabiojose? I can't see any changes in functionality. I'd like to merge approved PRs and manage issues if needed.

[2020-04-28 01:28] duglin commented on #64
hmmm did you accept the invite?  The team had write access, but I just upped it to admin

[2020-04-28 01:33] grant commented on #64
Oh, I see you added me to the org. That works even better!
GitHub didn't notify me. Anyways, it all works.

[2020-04-28 16:01] #54 closed

[2020-04-28 16:58] lance opened #71 "Integrate with conformance cucumber tests"
The cloudevents/conformance repository now has HTTP transport [cucumber specifications](https://github.com/cloudevents/conformance/blob/master/features/http-protocol-binding.feature). This SDK should integrate these into the tests.

Ref: https://github.com/cucumber/cucumber-js

[2020-04-28 20:37] #61 closed

[2020-04-28 20:37] #66 closed

[2020-04-28 21:59] lance opened #72 "Contributor guide is out of date or not enforced"
The [contributor's guide](https://github.com/cloudevents/sdk-javascript/blob/master/CONTRIBUTING.md) for this repository is out of date and should be updated, or the recommendations there should be enforced. For example, the `develop` branch is out of date, and we're not following the gitflow recommendation of pull requests submitted to `develop`. Personally, I don't mind `master` being the tip as

[2020-04-29 11:50] #56 closed

[2020-04-29 12:36] helio-frota opened #76 "Error when installing Express example"
[code]

I'm going to send a PR to fix and align that with the same approach used by TypeScript example.

[2020-04-29 14:01] lance opened #79 "Recommend using GPG signed commits vs. --signoff"
The `--signoff` flag for commits is not often used and is primarily a declaration that the committer has actually authored the code or has rights to submit code she has not written. Instead, I think it's better to use [cryptographically signed commits](https://help.github.com/en/github/authenticating-to-github/signing-commits) which can also be enforced by GitHub (see protected branches in setting

[2020-04-29 14:03] lance opened #80 "Project board is out of date"
The project board for this repository has not been updated in over 8 months. Is it still being used? If so, it should be updated to reflect the current state of the project. If not, it should be disabled in GitHub.

Ref: https://github.com/cloudevents/sdk-javascript/projects/1

[2020-04-29 14:04] lance commented on #36
@fabiojose I think this issue should be closed since #67 has been merged

[2020-04-29 15:09] helio-frota commented on #79
I agree with that :+1:

[2020-04-29 15:18] grant opened #81 "Travis is Flaky"
Travis looks like it is flaky. I have added some PRs that don't affect the tests, yet Travis seems to fail.

Example:
https://github.com/cloudevents/sdk-javascript/pull/74

Ideally a PR like this shouldn't fail.

[2020-04-29 15:21] grant commented on #79
Yes please. I use GPG and have not seen any problems. It has been frustrating seeing commits fail for this project due to this requirement.

[2020-04-29 15:25] grant commented on #80
I've disabled the projects tab as it isn't being used.
We can re-enable if we happen to want to use it.

[2020-04-29 15:25] #80 closed

[2020-04-29 15:30] grant commented on #36
Cool. I'll close this issue.

@lance I would contact Dug on the CNCF Slack group to become a "SDK maintainer" in the cloudevents GitHub org so you can do things like directly close issues.

[2020-04-29 15:30] #36 closed

[2020-04-29 15:49] grant opened #82 "Remove "Fun" Functions"
This SDK has a set of common utility methods in a file called `fun.js`:
https://github.com/cloudevents/sdk-javascript/blob/master/lib/utils/fun.js

These methods are common amongst other libraries and shouldn't be re-invented.
Rather, use a library such as `is`:
https://www.npmjs.com/package/is

[2020-04-29 15:55] grant opened #83 "Remove Unused .d.ts Types"
The TypeScript definitions at [`v1/index.d.ts`](https://github.com/cloudevents/sdk-javascript/blob/master/v1/index.d.ts) are not being used and cannot be used as-is (at least in a normal way). They are not exported in `package.json`.

They're likely out of date and not going to be aligned with the source code as things change.

I suggest removing them and auto-generating them at a later point in t

[2020-04-29 16:03] duglin commented on #36
done!

[2020-04-29 16:09] lance commented on #81
I think this will be resolved with https://github.com/cloudevents/sdk-javascript/pull/78

[2020-04-29 16:25] grant commented on #81
Hi, can we please keep the issue open until we're sure the issue is fixed? Did we test that this is fixed?
I'm still seeing the issue.

Here is trace from a test I ran after the PR merged:

[code]

[2020-04-29 16:45] lance commented on #81
Not sure where that failure is happening now. Can you link to it? All of the recent CI runs for pull requests are passing: https://travis-ci.org/github/cloudevents/sdk-javascript/pull_requests

And the CI run for #78 passed: https://travis-ci.org/github/cloudevents/sdk-javascript/builds/681089567.

It seems the failure is only happening on your branches. Maybe you haven't pulled that commit in yet

[2020-04-29 16:52] lance commented on #81
This also makes me wonder if it really makes sense for the Travis-CI configuration to build all branches. Perhaps it should be [configured](https://docs.travis-ci.com/user/customizing-the-build/#building-specific-branches) to build only from `master` and any release branches. (Speaking of... it would probably make sense to create release branches).

[2020-04-29 17:23] lance opened #85 "Discussion: Version Branches"
Currently the repository is tagged for each prerelease, mirroring the spec versions as they progressed. However, there are no release branches. This was probably fine prior to 1.0. But now that 1.0 is out, a `v1.x` branch should be created and maintained so that fixes can be backported to previous versions as we continue to move forward with changes in the repository.

I suggest the following:

*

[2020-04-29 17:37] lance opened #86 "Discussion: Codify How Pull Requests are Landed"
Currently there are only a handful of folks in the @cloudevents/sdk-maintainers group who are actively participating in this repository. But as other contributors come on board, it might be good to codify how pull requests are landed.

For example, can a contributor with committer rights submit, approve and land their own PR all within a single day? A single hour? At the risk of overkill, here's a

[2020-04-29 17:39] lance commented on #86
By this I mean to say that if there has been no activity on the PR, including approvals. If there is active discussion but no approval it shouldn't be landed.

[2020-04-29 18:34] helio-frota commented on #76
landed here: https://github.com/cloudevents/sdk-javascript/commit/bb8e0f9e0ca7aef00103d03f6071a648a9fab76d

[2020-04-29 18:34] #76 closed

[2020-04-29 19:33] lance opened #88 "Consider refactoring Cloudevent.format()"
Based on some discussion in [this pull request](https://github.com/cloudevents/sdk-javascript/pull/87#issuecomment-621412733) there are some improvements that could be made to the [`Cloudevent.format()` function](https://github.com/cloudevents/sdk-javascript/blob/master/lib/cloudevent.js#L20-L29).

* Consider optimizing so that JSON.parse doesn't require several levels of indirection to get to.
*

[2020-04-29 19:56] lance opened #89 "Update uuid dependency"
Currently we are on 3.x. Current release line is 7.x. That's a big jump, but not as big as you might think. Ref: https://www.npmjs.com/package/uuid#deep-requires-now-deprecated

[2020-04-29 20:04] lance opened #90 "Change CI config to only build master, version branches and pull requests"
Currently CI is configured to build all branches. We should consider modifying the configuration so that only `master` and perhaps `develop`, plus version branches are built. In general, I think feature/fix branches should be on the contributor's fork of the repository to avoid this problem and to prevent branch proliferation on `origin`. But that's not always the case - and when a feature/fix bra

[2020-04-29 20:07] #83 closed

[2020-04-29 20:07] lance commented on #81
@grant - looks like you got the CI issues worked out. OK to close this now?

[2020-04-29 20:10] grant commented on #81
Looks like it's been fixed and the signing issue isn't a problem anymore. Thanks for checking. Closing.

[2020-04-29 20:10] #81 closed

[2020-04-29 20:57] helio-frota opened #92 "Question: To separate constants by meaning/group ?"
For example `STRUCTURED_ATTRS_1` is used only inside `received_structured_1.js`.
But it requires all the other constants inside: `require("./constants.js");`.

Is it worth separating constants in different files? Is there a possibility that the file of constants will grow even more?

[2020-04-29 21:00] lance opened #93 "Eliminate up-front spec version awareness in the receiver"
Currently, when receiving `CloudEvents` you have to know what spec version the event is being sent as. But that shouldn't be required. As an event receiver, I should be able to accept events from any spec version supported by the module without prior knowledge of the sender's spec version.

[2020-04-29 21:04] lance opened #94 "Support browser usage"
JavaScript is ubiquitous in the browser and the `CloudEvents` module should be easy to consume in that environment. A good example is the [sockeye](https://github.com/n3wscott/sockeye/blob/master/cmd/sockeye/kodata/templates/main.html#L240-L247) cloud event viewer. This little chunk of code would be much improved if the `CloudEvent` module could be used.

[2020-04-29 21:05] fabiojose commented on #92
I guess not, no way to constants.js grow up.

[2020-04-29 21:10] fabiojose commented on #85
@lance I am with you lets remove the `develop` and works with `master`. As you said, no activity landed to `develop` for a long time, then it useless to maintain this branch.

[2020-04-29 21:11] fabiojose commented on #82
+1

[2020-04-29 21:13] helio-frota commented on #92
@fabiojose thanks for the quick response, the current size of the file is acceptable :+1:
only concern is in case that increase the size to the point of start losing meaning.

[2020-04-29 21:13] #92 closed

[2020-04-29 21:17] fabiojose commented on #65
No problems @lance, we may have versions higher than spec. Now we are are a kit and we have our own lifecycle that supports some spec versions and features.

[2020-04-29 21:24] fabiojose commented on #92
Now the spec will change less frequently, no more huge changes like we have from 0.1, .3 and 1.0

[2020-04-29 21:55] lance commented on #85
@fabiojose great - I'll leave time for others to comment and will start a PR with some docs around this (or whatever is eventually agreed on in this discussion).

[2020-04-30 00:44] grant opened #96 "Don't use AJV. Use JSON."
This SDK uses a library called AJV for schema validation. However, it makes creating and using CloudEvent objects very complicated through a set of setters and getters.

It would be a lot simpler to be able to directly create CloudEvent objects given a JSON object. Further field validation could be done externally through a different function rather than a `ajv.compile(schema)` and external `spec`

[2020-04-30 00:47] grant opened #97 "Enforce ES6 with Lint Rules"
Modern JavaScript doesn't use `var`. Instead use `let` or `const`.

We can enforce modern JavaScript through lint rules such as ESLint.

[2020-04-30 01:09] grant opened #99 "Recommend dropping support for 0.3 in Favor of 1.0 (and 2.0)"
I recommend we drop support for 0.3 events and only support the major releases of the CloudEvent spec. 0.3 is not a major release. There is no other major release. [See releases](https://github.com/cloudevents/spec/releases).

See go for example (v1 and v2):
https://github.com/cloudevents/sdk-go

If there's still debate as to the exact definition of this, but I propose we talk to the other SDK fol

[2020-04-30 01:16] grant opened #100 "Spell CloudEvent Correctly and Consistently"
There are a few places where the term `CloudEvent` is spelled and named in different ways:
- `event`
- `cloudevent`
- `Cloudevent`
- `CloudEvent`

We should spell the term the same and not have multiple options for referring to the same thing.

[2020-04-30 11:46] helio-frota commented on #99
That makes sense. :+1:

"Better code is no-code"... without v0.3 I don't need to bother with a failing test anymore: https://github.com/cloudevents/sdk-javascript/pull/95

[2020-04-30 12:47] helio-frota commented on #99
npm has no support of download counts per version.

So we can only speculate on that:

Comparing downloads from ~6 months https://www.npmjs.com/package/cloudevents-sdk/v/0.3.2
https://npm-stat.com/charts.html?package=cloudevents-sdk&from=2019-10-01&to=2020-04-29

And looking the public projects that are using cloudevents-sdk:

https://github.com/micheleangioni/node-messagebrokers/blob/master/packa

[2020-04-30 15:36] #97 closed

[2020-04-30 16:53] grant commented on #89
Fixed with above PR.

[2020-04-30 16:53] #89 closed

[2020-04-30 17:37] grant commented on #85
This is a really long issue, so I'm sorry if I'm misunderstanding something.

I'm in favor of removing `develop` and working with `master`.

I don't think we should create branches for releases, just tags and releases at a tag. This is how the Go SDK and requires much less work. Having multiple branches is a pain.

Branches suggest that there will be future patches on these branches.

[2020-04-30 17:39] grant commented on #85
A separate concern is that the version of this npm module shouldn't be tied to the CloudEvent spec support version. I'm not sure if that's clear, but it's worth restating. The interface for using CloudEvents may change over time even with the same specversion.

[2020-04-30 17:57] lance commented on #85
@grant yes I agree - versioning of the module is independent of spec version.

Regarding version branches... yes, this assumes that improvements will be made on release versions. I think it's reasonable to assume that the 1.0.0 version of this module will be updated to 1.1.0 or 1.0.1 after version 2.0.0 is out. Release branches help simplify this.

The go SDK seems to follow this pattern: https://

[2020-04-30 18:03] grant commented on #85
@lance OK, that sounds fine, although a lot of work right now. I'll let you lead that.

Are we unblocked for removing 0.3 support with #99 or is there something else we need to decide before I can create a PR?

[2020-04-30 18:11] lance commented on #85
@grant Let's just slow down a tiny bit so that we can ensure everyone agrees on a process, it can be documented, branches can be created, we can ensure CI is set up properly to test these branches, etc. I don't think there's a huge rush to land a naming change right now. Let's do it right.

[2020-04-30 18:15] lance commented on #82
I agree that a file full of utility functions can be a code smell. But I generally prefer to keep dependencies as minimal as possible. What's the benefit of removing this code that already exists and works and replacing it with a dependency?

[2020-04-30 18:22] grant commented on #82
The less code we have to maintain the faster we can progress with testing, refactoring, updating etc. We have a lot of code that is not needed. There are a lot of reasons to use libraries and simplify functions.

I think the reality is that we'll include one dependency for type validation and remove all the unused code.

[2020-04-30 18:35] grant commented on #85
I don't quite understand the proposal above. If you want to create extra branches at this point that are separate from master, then that's fine with me. Seems like a lot of work that won't be very useful to users right now.

---

With ensuring everyone agrees on the process, can you be more specific? Who do you want to agree? @fabiojose already said he was OK with removing 0.3, not sure about this

[2020-04-30 18:38] lance commented on #82
I generally agree that less is more. I'm just saying that this works, it's 1/30 the size of the `is` module, and I haven't seen any indication that maintaining this single file is problematic for our velocity. To me, switching to `is` seems arbitrary, bloats the install size of the module, and doesn't really buy us anything.

[2020-04-30 18:42] lance commented on #85
What don't you understand? It's a proposal for managing branches and versions of this module as we move forward.

Sure I can just create a branch and go to town, but I would like to have agreement on this overall strategy first. In what way is creating a branching strategy based on versions a lot of work? And why do you think it will not be useful? I think having clarity on how versions are manage

[2020-04-30 18:56] grant commented on #85
I'd rather have:
- 1 master branch with the current state of the code
  - New features can use a branch for their respective PRs like we've been doing
- N number of GitHub releases when we are in a stable state https://github.com/cloudevents/sdk-javascript/releases
  - You can refer to previous releases there.

I don't want to have to patch previous versions that will never get into master. I don'

[2020-04-30 22:32] lance opened #107 "Add Snyk for dependency management"
https://snyk.io/

[2020-04-30 22:40] lance commented on #107
Nevermind! It's already there :)

[2020-04-30 22:40] #107 closed

[2020-04-30 23:14] #100 closed

[2020-04-30 23:19] grant commented on #85
I think this understanding is a bit old. So long as we don't have an unmanageable level of branches and eventually stop support for old branches, that's fine.

[2020-05-01 16:15] lance commented on #99
Just to be clear. There is no 2.0 version of the spec. The only two versions that are expected to be supported are 1.0 and (semi-optionally) 0.3. FWIW, the Go module does support both of these versions.

So even though I said yesterday that I agreed dropping 0.3 would make refactoring easier. I'm still on the fence about it.

[2020-05-01 16:17] lance commented on #96
Can you help me understand why you think that JSON schema validation makes creating CloudEvent instances difficult? I don't follow.

[2020-05-01 16:48] lance commented on #79
Looking into this a bit further, the `--signoff` requirement is from the need for CNCF to enforce a commit's "[Developer Certificate of Origin](https://en.wikipedia.org/wiki/Developer_Certificate_of_Origin)". I discussed this with @duglin in Slack. That conversation is pasted below.

I think this issue should be closed, but will leave it open for a bit so folks can catch up.

--

Lance Ball  12:27

[2020-05-01 17:01] grant commented on #96
The issue is around AJV.

https://github.com/cloudevents/sdk-javascript/blob/master/lib/specs/spec_1.js#L36

which expects a file like:

https://github.com/cloudevents/sdk-javascript/blob/master/ext/spec_1.json

and uses boilerplate like this:

https://github.com/cloudevents/sdk-javascript/blob/master/lib/specs/spec_1.js#L111-L201

---

Rather than creating this boilerplate, I suggest we remove AJ

[2020-05-01 17:17] grant commented on #99
Yeah, I can see that.

At the very least, we should be able to refactor this library such that removing 0.3 would be easy.

I think the cost-benefit of removing 0.3 in favor of an awesome SDK for 1.0+ would be great. Perhaps we can support 0.3 events without having completely separate files for each file (`..._0_3.js) in this library.

[2020-05-01 17:39] lance commented on #96
However, it looks to me like that's not what AJV is used for in this case. If you look at the [commit history](https://github.com/cloudevents/sdk-javascript/commits/master/lib/specs/spec_1.js) of that file, you can see that it appears to have been hand written. In this case, AJV is not being used to generate code, rather it is being used to [validate input](https://github.com/cloudevents/sdk-javas

[2020-05-01 17:52] grant commented on #96
OK, so if we want to keep the feature to validate the input, I suggest we use a different tool than AJV for the `isValidAgainstSchema` method. Perhaps in a `validate_ce.js` file rather than the main spec file. Is that fine?

[2020-05-01 18:00] lance commented on #96
I don't have any particular love or hate for AJV. But do you have another suggested tool for schema validation? AJV get's 31 million downloads a week, so I think it's probably pretty well liked.

[2020-05-01 18:08] grant commented on #96
I'll look into it. It might just be the way we use the library with our current format and not the validator itself.

[2020-05-02 13:56] helio-frota opened #114 "Add helio-frota as collaborator"
Hi, I'd like to become a collaborator for this repository as I'm working with Node.js at Red Hat.
And helping with some FaaS efforts.

Thanks.

[2020-05-02 15:37] grant commented on #114
Sounds good.
All GitHub collaborators are members of the cloudevents GitHub org, SDK Maintainers team.
https://github.com/orgs/cloudevents/teams/sdk-maintainers

To be a part of the GitHub org, you need to ask Dug on the CNCF Slack. Probably best to do that during the work week.

[2020-05-03 17:58] fabiojose commented on #114
@duglin could you add @helio-frota as sdk-maintainers? Thanks in advance.

[2020-05-03 18:33] duglin commented on #114
Done

[2020-05-03 18:46] #114 closed

[2020-05-04 06:08] danbev commented on #86
This sounds a little short to me, thinking about weekends for example. Perhaps 72 hours?

[2020-05-04 11:20] helio-frota commented on #114
@fabiojose @duglin Thank you!

[2020-05-04 12:11] helio-frota commented on #86
Yeah probably 72 hours will fit better.

[2020-05-04 14:45] aliok opened #117 "Support for lack of `content-type` header in binary mode parsing"
I have a very simple binary receiver:
[code]

When I send a request without `Content-Type` header, I see an error in the logs:
[code]
Logs:
[code]

I understand that this is a supported case in Golang SDK as lack of content type means `application/json` (maybe I am wrong).
Although I couldn't find anything like that in the CloudEvents spec.

My use case is, that I have a Knative Kafka event source

[2020-05-04 14:46] aliok commented on #117
cc @lance @slinkydeveloper

[2020-05-04 16:32] lance commented on #117
@aliok you're right - the spec doesn't address how to handle an HTTP bound event without a `Content-Type` header in binary mode: https://github.com/cloudevents/spec/blob/v1.0/http-protocol-binding.md#311-http-content-type. I opened an [issue](https://github.com/cloudevents/spec/issues/614) on the spec repository about this and will apply a fix here.

[2020-05-04 19:23] grant commented on #99
@lance @fabiojose LMK what your thoughts are here. I can definitely see both sides and respect the previous work here.

I was going to wait for your feedback here and for this issue to be resolved before making other PRs that might conflict.

[2020-05-04 19:24] helio-frota opened #119 "Suggestion of Node.js versions on CI based on package maintenance group practices"
Hi,

Based on recent comments [here](https://github.com/cloudevents/sdk-javascript/pull/106#discussion_r418337403) and [here](https://github.com/cloudevents/sdk-javascript/pull/106#discussion_r419501709)

I found that may be worth to open this issue.

Directly to the point, the idea is to avoid changing Node.js LTS versions over the time by using `lts/*` and able to include specific versions (curr

[2020-05-04 19:28] grant commented on #119
Adding `lts/*` LGTM.

[2020-05-04 20:02] helio-frota commented on #85
LGTM

[2020-05-04 21:20] lance commented on #119
I like that it will always pick up the most recent LTS version. However, it won't automatically get version 10, which means in `.travis.yaml` we'd still need to have both `10` and `lts/*` specified.

It _does_ buy us LTS testing the moment a new LTS version is released, which is nice. We'd just need to remember to add `12` once `14` is released.

[2020-05-04 21:42] lance opened #121 "Modify CI to also build the backport branch(es)"
The Travis-CI configuration should be modified so that it also runs for the `v1.x.y` branches.

@helio-frota maybe you can tackle this and https://github.com/cloudevents/sdk-javascript/issues/119 in a single PR?

[2020-05-04 21:53] lance commented on #85
I agree that we need to have a plan for stopping support for older versions. I honestly have no idea how long they should be supported, but I do think that fixing bugs in older versions is a good thing, since people will not always be able to upgrade to newer versions immediately - especially with all of the breaking changes coming down the line - but still need to have bugs addressed.

@grant do

[2020-05-04 21:54] lance commented on #86
@danbev that sounds reasonable to me.

[2020-05-04 22:05] lance commented on #69
This issue is related to https://github.com/cloudevents/sdk-javascript/issues/96. The .json in `ext/` is used to  validate the data in an event using the AJV validator. I don't think this should be removed.

[2020-05-04 22:06] lance commented on #79
Closing this issue since it seems at best we could _add_ GPG signed commits as a requirement and I'm not sure I want to do that.

[2020-05-04 22:06] #79 closed

[2020-05-04 22:13] grant commented on #85
Yes, it's fine. I really don't think there are enough people developing this to be able to handle the edge case of backporting, but if any maintainer wants to do that, I won't stop it.

Sure, I can. I'll keep the current PRs here but will open future PRs in a fork.

[2020-05-04 22:17] grant commented on #69
Yes, it shouldn't be removed unless there is a replacement validator.

[2020-05-04 22:24] grant commented on #86
I'm not sure what the current issue is. I also think we could just use existing tooling instead of having a doc with rules in presumably markdown docs. Examples:

- Required PR status check: https://help.github.com/en/github/administering-a-repository/about-required-status-checks
- Required reviews: https://help.github.com/en/github/administering-a-repository/enabling-required-reviews-for-pull-req

[2020-05-04 22:36] lance commented on #85
OK thanks.

I don't think it's an edge case. There is currently a [bug](https://github.com/cloudevents/sdk-javascript/issues/48) in the 1.0.0 released version of this module that prevents its usage when using mTLS authentication. Don't you think it would be good to, sooner rather than later, release a 1.0.1 version so that this could be addressed for existing users? How else would you propose we m

[2020-05-04 23:07] grant commented on #85
My ideal proposal would be to implement this branching strategy once we have a fully functional module that is actually used by folks.
Right now see wee 7k downloads a month.

I would have used this module for Google modules including the [Functions Framework](https://www.npmjs.com/package/@google-cloud/functions-framework) which supports CloudEvents and sees ~1,000k downloads a month. If this mod

[2020-05-05 00:36] lance commented on #85
I think it's super cool that you can drive all of that usage! But let's make sure that the small number of people actually using this module have a reasonable expectation that their stuff won't break without a way to deal with it. So, maybe lots of version bumps is the answer. I'm just trying to ensure that as this module progresses existing users can see the benefits of that progression. As it is

[2020-05-05 12:21] helio-frota commented on #121
@lance yup, PR sent https://github.com/cloudevents/sdk-javascript/pull/122

[2020-05-05 12:31] helio-frota commented on #121
@lance this needs to be cherry-picked into v1.x.y when merged :+1:

[2020-05-05 18:43] grant commented on #85
OK. I agree, lots of version bumps is the answer for breaking changes. I hope we can proceed with that.

[2020-05-05 19:37] helio-frota commented on #119
Yeah, still need to have 10. This is to remove the need of updating lts over time.

[2020-05-05 19:57] lance opened #124 "Eliminate up-front spec version awareness in the emitter"
Similar to https://github.com/cloudevents/sdk-javascript/issues/93, it should not be required for a user to specify the version when emitting events over HTTP. The default should be the most recent protocol version (1.0) and the user should be able to specify a previous supported version.

[2020-05-05 20:04] helio-frota opened #125 "Consider adding a files section in package.json"
Currently after install this module we are getting all these files and directories:

[code]

It would be good to add a `files` section in package.json to discard unneeded resources for end-user installations.

https://docs.npmjs.com/files/package.json#files

[2020-05-05 22:02] #117 closed

[2020-05-05 22:03] aliok commented on #117
Thanks @lance

[2020-05-05 22:14] lance opened #127 "Prepare Release 2.0.0"
There have been a lot of changes since the 1.0.0 release in November, including most notably some bug fixes that are preventing adoption or otherwise causing problems for existing users. We should consider cutting a release soon - and devise a plan to cut them regularly. Currently, the changes on `master` comprise a breaking release for the module, which by semver standards would necessitate a 2.0

[2020-05-05 22:17] lance commented on #127
@fabiojose at the moment, I think you are the only one of the committers who has rights to push to npm. Is that correct?

[2020-05-05 22:42] grant commented on #125
Ideally we have a `src` directory.

[2020-05-05 22:53] fabiojose commented on #127
@lance if you create a tag from master and push it, the release starts and publish to npm.

BTW, what's your user at npm? I will add you there

[2020-05-05 22:55] lance commented on #127
@fabiojose thanks! https://www.npmjs.com/~lanceball

The publish script will create the tag and emits the push command to be copied and pasted. :)

[2020-05-05 22:56] fabiojose commented on #127
@lance I have no deep understand about standard-version scripts. Is that list of changes will appear where?

And I vote for `1.1.0`, because I didn't see huge changes in the sdk API.

[2020-05-05 23:04] fabiojose commented on #127
@lance  added you at npm

[2020-05-05 23:04] lance commented on #127
@fabiojose it's ok regarding standard-version. I added that to the repo and know how it all works. I was just making sure there wasn't anything else you did in the past other than the standard tag/push/publish - just to make sure nothing is missed.

The potentially breaking API changes are really only two, I think.

This went away
[code]

And becomes
[code]

And the `V03` unmarshaller no longer re

[2020-05-05 23:08] fabiojose commented on #127
@lance is there examples showing how to use the new sdk API?

[2020-05-05 23:08] fabiojose commented on #127
Well, let's do `2.0.0`

[2020-05-05 23:13] lance commented on #127
@fabiojose I overlooked your question about where that list of changes will appear. Some of them - not all - will appear in the change log, and it will look a little different than what it does now, but we won't lose any history in the log. It just is prepended. It will look something like this https://github.com/nodeshift/opossum/blob/master/CHANGELOG.md#420-2019-10-28. That changelog is managed

[2020-05-05 23:16] lance opened #128 "Add usage examples to README for HTTPReciever and CloudEvent"
The API has changed a bit, and while the places it has changed are not provided as examples in the README, the changes are notable improvements and should be documented.

Ref: https://github.com/cloudevents/sdk-javascript/issues/127

[2020-05-06 05:38] grant opened #130 "Add JSDoc comments to functions"
This SDK has many functions that don't have comments, making the code more difficult to understand. Sometimes the comments don't make sense or have spelling errors.

Ideally we add comments to the functions.

Example: `receiver_structured.js`

[2020-05-06 17:25] #93 closed

[2020-05-06 21:30] lance commented on #86
@grant I agree that the automated checks are good. That's why my first guideline is "No pull request may land without passing all automated checks".

But I think some additional organizational structure is useful, particularly for people who live in different time zones. For example, I believe @danbev is 9 hours ahead of you. If we want to have solid engagement from contributors across the globe,

[2020-05-06 22:31] lance commented on #69
Closing. Fixed in https://github.com/cloudevents/sdk-javascript/pull/129

[2020-05-06 22:31] #69 closed

[2020-05-06 22:41] grant opened #132 "Rethink Versioning"
When a developer wants to use CloudEvents, they think about an event, not which version they're using. The way this module is written is highly segmented towards the version of CloudEvent.

Rather than this:

[code]

Where `const v1` doesn't make much sense.

We should have

[code]

It should be easy to create a CloudEvent:

[code]

We should remove the `v03` and `v1` folders in the repo and just

[2020-05-06 23:38] lance commented on #85
Closing this since we've reached agreement that frequent releases are going to be the answer for now. We can revisit at a later date if necessary.

[2020-05-06 23:38] #85 closed

[2020-05-07 00:00] lance commented on #132
That's in some ways what [this pull request](https://github.com/cloudevents/sdk-javascript/pull/120) that landed yesterday was about.

[code]
And you can see the `HTTPReceiver` usage in the test here: https://github.com/cloudevents/sdk-javascript/blob/master/test/bindings/http/promiscuous_receiver_test.js#L13

Once a `CloudEvent` has been created, that instance cannot be changed to a different ver

[2020-05-07 00:53] grant commented on #132
Glad we're making progress.
Yeah, changing the CloudEvent version isn't just changing the specversion of course. But there are more things similar between versions than there are that are different.

#65 should make this much easier, yes.

[2020-05-07 11:30] lance commented on #132
It seems like #65 should cover what you are asking for here right? Can this be closed?

[2020-05-07 11:35] lance commented on #132
Also related https://github.com/cloudevents/sdk-javascript/issues/124

[2020-05-07 11:37] lance commented on #119
@helio-frota can you speak closed? It looks like #106 took care of it, right?

[2020-05-07 11:39] lance commented on #121
Adding `stalled` since branching is in question if not dead

[2020-05-07 12:37] helio-frota commented on #119
@lance Sorry, I guess I'm not following your question.
The idea in this issue is just to change the hard-coded [12](https://github.com/cloudevents/sdk-javascript/blob/master/.travis.yml#L3) to `lts/*` in `.travis.yml`, all the other versions keep the same.

[2020-05-07 13:08] lance commented on #119
@helio-frota OMG I'm sorry! I was making these comments while only half awake this morning using voice to text. It's a mess. I mean to say... would you mind updating #121 so that it doesn't build the backport branch, but keeps this suggested change?

[2020-05-07 13:19] helio-frota commented on #119
@lance yup not a problem, PR updated :+1:

[2020-05-07 14:53] helio-frota commented on #119
Closing... PR landed https://github.com/cloudevents/sdk-javascript/commit/c1fda94d25f84db097e75177b166c3f18f707dda

[2020-05-07 14:53] #119 closed

[2020-05-07 15:07] deewhyweb opened #133 "Unable to find parser given the encoding and headers provided"
Using the latest code from master, I'm creating an event from Kafka which is coming into my app as:
**body:** "{\"specversion\":\"1.0\",\"id\":\"3\",\"type\":\"type\",\"source\":\"123\"}"

**headers:** {"host":"event-display.kafka.svc.cluster.local","user-agent":"Go-http-client/1.1","content-length":"59","accept-encoding":"gzip","ce-id":"partition:1/offset:23","ce-source":"/apis/v1/namespaces/kafk

[2020-05-07 15:15] lance commented on #133
Related: [feat: expose a mode and version agnostic event receiver ](https://github.com/cloudevents/sdk-javascript/pull/120)
Related: [fix: make application/json the default content type in binary mode ](https://github.com/cloudevents/sdk-javascript/pull/118)

[2020-05-07 15:27] grant commented on #132
No, they are separate. The non-builder pattern won't fix `const v1 = require("cloudevents-sdk/v1");`. I gave an example of what it would look like that isn't covered by other issues.

[2020-05-07 18:17] lance commented on #132
Oh, I must be confused then. I was thinking you wanted, in addition to the direct object notation, something that looks like this.

[code]

That's what just landed recently. What else are you thinking here?

[2020-05-07 18:56] erikerikson commented on #9
@lance I've been only recently picking up typescript so please excuse my ignorance.  Is there an automated process in `opossum` (or an example elsewhere) that validates that as changes occur that the type declarations do not drift or more pointedly that the typescript consumers aren't caught out?

[2020-05-07 19:29] lance opened #135 "HTTP receiver should not expose bookkeeping functions"
In [receiver_binary.js](https://github.com/cloudevents/sdk-javascript/blob/master/lib/bindings/http/receiver_binary.js#L44-L79) there is a `check()` function which is used to validate the input. It is currently defined on `BinaryHTTPReceiver.prototype` but I don't think it should be exposed at all. It's the SDK's job to check input and validate it, not the user of the SDK, so why expose it? I susp

[2020-05-07 19:30] grant commented on #9
The problem with separate type declarations is that they are not updated with the source code.

This is what was done in the repo before, but they were not updated with the source. Thus, the types were inaccurate and unusable. See https://github.com/cloudevents/sdk-javascript/issues/9#issuecomment-550335296

As this repo changes too much, the only option would be to use TypeScript to generate type

[2020-05-07 19:35] grant commented on #132
That looks like it solves the issue. If it landed, that should fix the issue. I think the README is out of date from the implementation then.

[2020-05-07 19:36] lance commented on #132
Yes it is. I added [this issue](https://github.com/cloudevents/sdk-javascript/issues/128) earlier this week to deal with that before releasing 2.0.0.

[2020-05-07 19:55] lance opened #136 "Ensure HTTPReceiver is sniffing events according to the specification"
Currently, in the 1.x specification it says that, when the `Content-Type` header is not prefixed with the Cloud

That's close to what the implementation is doing, but not quite. At the moment, it's just assuming that an incoming request is a binary event if the content type is not a CloudEvent media type. Instead this should error.

[2020-05-07 19:56] lance commented on #136
I think we can probably get away with looking for the `ce-id` header to determine if it's binary.

[2020-05-07 19:58] erikerikson commented on #9
Thanks @grant I hear that concern.  If the automated validation means I am asking about was in place, I wouldn't expect type drift to have occurred.

[2020-05-07 20:49] lance commented on #9
@grant there is not anything automated for opossum type generation. I agree this is not ideal. The types for that module are mostly maintained by external contributors who have an interest in using TS.

I just skimmed this article, but it looks promising. https://dev.to/open-wc/generating-typescript-definition-files-from-javascript-5bp2

They are auto generating types from JavaScript functions whi

[2020-05-07 20:55] lance commented on #9
FWIW - I would like ultimately for the user-facing API to be a little more stable and expose far less. Ideally, we have this:

[code]
There's not much more that a developer needs to be concerned with IMO. All of the parsers and unmarshallers and all of that are internal to the module and don't need to be exposed. Keeping the API footprint small and clean should also help quite a bit.

[2020-05-07 21:45] erikerikson commented on #9
Hi @lance - pretty sure it was me that asked about automation ;D  Would you be willing to add the automation for validating that drift doesn't happen?  It appears that the relevant PR called out by that article has landed (it targeted 3.7 but 3.8 is out and 3.9 is RC).  Is it working?  If so is this really going to provide the same level of type validation or does it move responsibility off of the

[2020-05-07 22:22] grant commented on #9
Unfortunately JSDoc comments don't satisfy **deep** accurate autocompletion or other benefits of TypeScript such as optional static typing. Besides, code comments aren't enforced or always complete/accurate. Generating `.d.ts` files doesn't sound great even if it could be done.

Converting to ES6 gets some autocompletion, but not as thorough or deep as TypeScript. The IDE experience is awesome. We

[2020-05-07 22:34] lance commented on #9
@erikerikson sorry for the misattribution! :)
@grant JSDoc can be enforced with eslint. We already have a [very basic linting rule](https://github.com/cloudevents/sdk-javascript/blob/master/.eslintrc#L23) that enforces valid JSDoc if JSDoc exists. This [can be changed](https://eslint.org/docs/rules/require-jsdoc#top) to _require_ JSDoc. I think we'd want to clarify exactly what API should be expos

[2020-05-07 23:51] grant commented on #9
@lance Yes, JSDoc can be enforced, and we can write the params twice, once in docs and once in code. Some completion will work but not all, and there aren't great linters. We could add tooling and use/write/maintain custom IDE plug-ins.

With JS, we can't rename variables, have deep autocompletion or autocompletion of objects, or move functions between files. If anyone has a solution using pure JS

[2020-05-08 01:42] cwallsfdc commented on #9
Super important points.

Typescript, because of its inherent typing, is:
- more maintainable,
- reduces bugs (estimation that typing results in a 15% decrease of bugs),
- better for collaboration,
- better for 3pp use.

Typescript with generated type declarations, please.

[2020-05-08 13:29] lance commented on #9
@cwallsfdc

Do you have empirical data showing this? And by whom? I mean, I'm pretty good at maintaining JS projects - a personal project of mine gets about 34k downloads a week from NPM, has a very low bug count, several active maintainers, etc... Your statement is subjective.

Again, let's see some empirical data. I'm not convinced. Here's a [good article](https://medium.com/javascript-scene/the

[2020-05-08 19:04] erikerikson commented on #9
@lance regarding

and

I am not a maintainer here so I am not attempting to assert a preference but I have been a part of CloudEvents for sometime and have written a fair bit of JavaScript over recent years.  In response to these particular comments of yours I'd like to call out that there was a [vote in this issue](https://github.com/cloudevents/sdk-javascript/issues/9#issuecomment-521425115) and

[2020-05-08 19:28] lance commented on #9
@erikerikson

This vote occurred 9 months ago, prior to the release of 1.0, and garnered a total of 6 votes. Surely that can't be interpreted as a fair representation.

Fabio was quite active in the repository then, and I agree, at that time his was the only vote that matters. Today, however, he is not very active. Michele was a [committer at the time](https://github.com/cloudevents/sdk-javascript

[2020-05-08 20:13] erikerikson commented on #9
Thank you for pointing out the timestamp on the vote.  Thank you also for sharing a richer picture of the contribution history than I can get on the repo listing.

My concern is the splitting of the repository as was agreed on the weekly call.  Having two official JavaScript SDKs, one written in vanilla JavaScript and the other in TypeScript would result in two npm packages and two sets of documen

[2020-05-08 20:17] loopingz commented on #9
Looking into CloudEvents system as a newbie the first thing I looked at was this sdk-javascript repository, and my first impression was this is a bummer it is not typescript as it would bring a clean type.

I have no rights or voice as I did not contribute to this repo at all, so just adding my 2 cents. As @grant said, moving to Typescript is not a revolution and could probably benefit everyone. I

[2020-05-08 20:49] lance commented on #9
@erikerikson Thanks for considering my point of view. I too want to avoid splintering this community. Code talks, in my opinion, and if people really want to make change, they are empowered to do so through the wonder of FOSS. This repository is open to pull requests, and I don't think something reasonable will just be dismissed out of hand. Small steps towards stated end goals makes sense and is

[2020-05-08 21:03] grant commented on #9
This is directly attacking the validity of a popular vote and is adding recency bias. CE 1.0 just came out recently and more vendors are joining CloudEvents. Saying there hasn't been that many contributors in the last few months should weight no meaning. We are building this SDK for end-users, not contributors.

Moreover, by commenting that another vote is fine by you, you're not suggesting an act

[2020-05-08 22:09] loopingz commented on #9
To make it more "real" I did migrate the whole repo to typescript: https://github.com/loopingz/sdk-javascript
For the sake of rapidity, I took a few shortcut (it compiles and requires a bit more to be cleaner, use your formatter etc)

[2020-05-08 22:26] lance commented on #9
@loopingz Wow! Thanks for doing this - I really do appreciate it. As @grant mentioned earlier, quoting me on Slack, code talks. I much prefer this approach over all of this discussion. I will try and pull your commit this weekend (or Monday at the latest) to play with it. And if you want to submit a pull request, that's totally fine.

As an aside, there are currently a few in-flight PRs that reall

[2020-05-08 22:32] loopingz commented on #9
Yes, I can do PR next week, with a bit more time, was supposed to be offgrid for a few days :)

I think I've seen there were weekly calls, if it is open to public, I'll try to join. As in-person conversations are usually always easier.

No worries about adapting other PRs, please be aware this is a first pass, we should then add more type specifications etc. What is good with those switch JS to TS

[2020-05-08 22:44] lance commented on #9
@loopingz yes feel free to join the calls and slack. I haven't applied your commit yet, but read through the code changes and have some comments/questions on your fork. We can discuss there or in Slack.

[2020-05-08 23:13] DavidWells commented on #9
For what its worth, It's possible to use JSdocs to generate full typescript types into `[whatever].d.ts` files

This means you can use vanilla JS, annotate with JS docs and typescript users get all the IDE autocompletion goodies. Everyone wins!? 😃

For an example of this see my [analytics project](https://github.com/DavidWells/analytics/tree/master/packages/analytics-core). Using [Jsdocs](https://

[2020-05-08 23:18] lance commented on #9
@DavidWells I discovered this recently, and commented on it above in the thread. How has it been using this?

[2020-05-08 23:27] DavidWells commented on #9
@lance the setup works great IMO. [example](https://twitter.com/DavidWells/status/1176170358304456705)

Basically, I get type checking in VSCode via JSdocs when working on the project and consumers of the project get IDE autocompletion. (From what I can tell the main benefits of using typescript).

Additionally, I get to use (IMO) more human-readable docs with inline doc blocks with usage examples

[2020-05-08 23:40] lance commented on #9
@DavidWells that's great. I'm familiar with the benefits of JSDoc and whatever route we take, I think we need to address that in this repo. I guess what I'm curious about is whether this solution fully addresses the concerns voiced in this thread and how different/similar it would be from a maintainer's perspective as compared to what @loopingz has shown.

[2020-05-08 23:44] lance commented on #99
I would like to propose closing this issue until 2.0 is released in order to remain as spec compliant as possible.

[2020-05-08 23:45] loopingz commented on #9
Using jsdoc to generate typescript types sounds a good idea but on the long run i would expect code to be updated with forgotten jsdoc block etc. That is why typescript came to life and why it is spreading that much.

[2020-05-08 23:46] DavidWells commented on #9
Yeah, I guess it just depends on preference.

Personally, I prefer just javascript because there is a wider audience of developers who author code in JS. So in theory, the larger opportunity for OS contributions lies in pure JS. Additionally, I think Typescript has a larger learning curve and can be trickier for folks to pick up.

Both work and I have no dog in this fight 😃. Pros and cons both way

[2020-05-09 00:38] duglin commented on #9
I finally found time to read this whole thread! oy vey!  :-)

To make sure I understand things since (as I've said) I don't know TS at all and don't do anything with JS outside of a browser, early on in the thread it seemed like there were two concerns from @lance w.r.t. the proposed direction:
1 - it would require users of the SDK to rename their files form *.js to *.ts
2 - it would require users

[2020-05-09 00:54] lance commented on #9
Thanks for taking the time - and on a Friday night, even. :smile:

Not really - those were concerns that were attributed to me by others. Really what I care about is maintainer productivity and the larger pool of potential contributors (and alienating existing contributors who have only recently started to submit code (including myself)).

Correct.

Yes - see David's comment above. Personally, I t

[2020-05-09 01:44] lance commented on #130
I agree - JSDoc is super important. Ideally, I'd like to work to narrow and simplify the exposed API so that we can know best how to prioritize effort when documenting functions. Maybe we can start with the `CloudEvent` and `HTTPReceiver` classes, since those are the most accessible/easiest to use parts of the API at the moment.

[2020-05-09 03:37] #133 closed

[2020-05-09 04:08] lance commented on #28
Given how the repo has evolved since this issue has been opened, I suggest closing this. @grant @fabiojose WDYT?

[2020-05-09 04:09] lance commented on #45
@achille-roussel if you feel like submitting a pull request with support for batch mode, that would be great! For now, marking this as stalled and we can revisit as the SDK evolves.

[2020-05-09 04:11] lance commented on #29
@fabiojose I agree that events should probably be immutable - aside from a well-defined path for converting from/to spec versions. Given how the repo has been evolving, how do you think this issue should progress?

[2020-05-09 04:14] lance commented on #46
@MoMannn are you talking about event receivers and how they handle malformed events? I'm not sure I'm clear on what you are asking for.

[2020-05-09 08:19] xpepermint commented on #46
@lance the question is how an error or errors should be returned by a service in a cloudevent manner.

[2020-05-09 23:02] fabiojose commented on #28
It's ok for me.

[2020-05-11 12:19] lance commented on #28
@fabiojose OK closing for now - as things progress we may revisit this, or not. :)

[2020-05-11 12:19] #28 closed

[2020-05-11 12:23] lance commented on #46
@xpepermint I think this might be most appropriately discussed on the cloudevents/spec repo in #566. Whatever decisions are made there will roll down to all of the SDKs. Unless there is something specific to this repo, this should probably be closed and handled there.

[2020-05-11 13:41] #128 closed

[2020-05-11 13:42] #136 closed

[2020-05-11 15:29] helio-frota commented on #9
I have limited TS knowledge and I have no room for TS learning in my free time to be able to be comfortable in contributing.

[2020-05-11 17:40] grant commented on #9
Yes. Those are the two main points, `.ts` files and running `watch`/`build`. Adding tools/processes on top of this is fine. I think another fear of developers is that TS has a steep learning curve (it does not, there is literally no difference if you only use JS features).

TypeScript is required for many projects including those at Google and Microsoft, hence my interest.

The best path forward i

[2020-05-11 18:03] erikerikson commented on #9
@grant Can you explain the specifics of the Typescript requirement?  Are guaranteed to be correct typescript types are not enough?

The js=>ts renaming doesn't seem to be necessary with the proper tsconfig and the addition of watch/build using tsc and enforced by CI has largely been ceded.  Do I appear wrong on these points?  Insisting on these two points despite direct statement that they are not

[2020-05-11 19:17] grant commented on #9
Sure. As a developer:

- I must know the exact properties of a CloudEvent _before_ execution.
- I must never see "undefined" is not a function or equivalent for SDK _users_.
- I must have autocompletion in my developer tooling/IDE for CloudEvents.
- I must be able to click to definition to see the source code of the SDK.
- I must see linting errors in my code if I use the CloudEvent SDK incorrectl

[2020-05-11 19:47] johnm commented on #9
Finally, caught up with all of this thread and the slack discussion. :-) As I brought up the concern in last week's call and now will say more strongly... I'm against having two separate, "official" "Javascript" sdks. That's just plain bad optics and makes for confusion, bugs, interop, support, etc. issues for users/consumers/providers of CE.

[2020-05-11 19:53] johnm commented on #9
If I understand the camps' positions, @loopingz's code translation and some simple policies such as the tslint enforcement seem like a fair place to start so that we can remain as single JS SDK for CE. As someone who has no personal stake in the pure-JS vs. TS approach, I personally hope that people in the various camps are willing to at least try a joint approach openly before splitting into two

[2020-05-11 20:06] grant commented on #9
Hi @johnm, thanks for your opinion, but there are a couple issues. I literally cannot use this project unless it fully supports TypeScript. I oppose two separate JS-like repos too on the surface. I'm happy to merge separate repos if possible.

What do you expect me to do? This is a deal-blocker.

We currently have separate efforts, literal code duplication already, since there is no TypeScript sup

[2020-05-11 21:28] erikerikson commented on #9
@grant

Two concerns I have heard are exclusion (or even just reduced welcome) and a potentially reduced contributor pool and thereby speed of improvement and community inclusion.

I understand that typescript is a superset and have indicated personal comfort with it (by admitting use).  To be transparent I would welcome a full transition an use of typescript constructs personally but my personal

[2020-05-11 21:34] johnm commented on #9
Hm... Did you respond before reading my second comment? I hope that made clear, as I also commented in the call, was that it seems that there's a combined approach place to come together other.  Based on that, are there still deal breakers?

[2020-05-11 21:56] grant commented on #9
Well, thanks for all the replies and trying to figure this out @erikerikson.

Sorry @johnm, I was reacting a bit. This issue has been open for over a year with hundreds of commits to this project directly to `master` and no progress on issues like this one despite PRs, forks, Slack discussions, calls, etc. The comment of immediately positioning against making progress on this issue via separate re

[2020-05-11 22:06] cwallsfdc commented on #9
[38% of bugs at Airbnb could have been prevented by TypeScript according to postmortem analysis](https://www.reddit.com/r/typescript/comments/aofcik/38_of_bugs_at_airbnb_could_have_been_prevented_by/)

[2020-05-11 22:27] johnm commented on #9
No worries, I understand the frustration as I've been in similar situations previously.

FWIW, I separated the two different aspects on purpose. There are the problems at technology level but also at the project level (of the impact on the users/etc). I think the context of the project should be keep in mind when dealing with the tradeoffs in making the technology decisions.

[2020-05-11 22:29] johnm commented on #9
May I come in and talk with you about our strongly typed savior, Rust & Wasm?  ;-) :-)

[2020-05-11 23:55] lance commented on #9
I was under the belief that using `tsc` and JSDoc would ensure that all of this is possible. Is that not the case?

If type checking is enabled with `tsc` and there is a valid tsconfig, then VSCode should be satisfied, I think. I've recently been experimenting with this on my fork, and have found that it's quite effective.

I might say _reluctance_ to change. There are existing contributors (inclu

[2020-05-12 00:02] lance commented on #132
Closing this, as I think we have come to resolution. If not, feel free to reopen and we can discuss further.

[2020-05-12 00:02] #132 closed

[2020-05-12 00:04] #90 closed

[2020-05-12 00:08] #72 closed

[2020-05-12 07:20] slinkydeveloper commented on #86
If a maintainer has submitted a pull request and it has approval from one other maintainer, it can be landed after 24 hours

@lance I think we should not have a time minimum for PRs approved from at least one mantainer (other than the author). This slows down hotfixes, like it happened in past in sdk-go where i broke some stuff and we needed an urgent fix to release :smile: If a PR is approved, th

[2020-05-12 14:40] lance opened #148 "CloudEvent should generate a date by default"
See: https://github.com/knative/docs/pull/2446/files#diff-de16006ea59029f2429d3228fed269c6R26

[2020-05-12 14:47] lance opened #149 "CloudEvent should expose a method to get all of the CE headers"
See: https://github.com/knative/docs/pull/2446/files#diff-de16006ea59029f2429d3228fed269c6R46-R55

The SDK should provide a simpler way to extract all of the headers from a CE. Check with sdk-go to see if/how this is exposed there. I'm not 100% sure about exposing them on a `CloudEvent` directly since that binds it to the HTTP transport. But what happens when we implement AVRO for example?

[2020-05-12 16:56] doru1004 opened #150 "How to test that an event is a cloud event?"
Hi,

I have been trying several ways to test that an event is a cloud event but I keep getting this error:

[code]

( or, when I don't get this error then the check return false when the event is a cloud event. )

I have installed CloudEvents via the npm install command (which installs v1.0.0 from what I can tell).

My code:

[code]

Is there some other way to test an object is a valid cloud event

[2020-05-12 17:37] helio-frota commented on #150
Hi @doru1004 ,

I reproduced your issue here.
The good news is that the current code on master branch works fine:

[code]

[code]

But I don't know when it will be published /cc @lance @fabiojose

[2020-05-12 17:55] doru1004 commented on #150
Thanks a lot for trying that out @helio-frota ! Will be waiting for the fix to be published. :)

[2020-05-12 18:09] lance commented on #150
Hi @doru1004. We are hoping to have a 2.0.0 release out soon (hopefully this week, but that may stretch into early next week) with some nice, simplifying API changes, proper classes such as `CloudEvent`, and better IDE support. (You can see sample code on the [README](https://github.com/cloudevents/sdk-javascript#receiving-events)).

In the interim, if you are comfortable doing so, you can depend

[2020-05-12 18:21] doru1004 commented on #150
Sounds great and I like the incoming API changes! This definitely helps! Thanks again for the quick replies @lance @helio-frota !

[2020-05-12 18:21] #150 closed

[2020-05-12 18:35] lance commented on #86
@slinkydeveloper good points. I was trying to think of situations where a maintainer might want to stop a pull request from landing but because of time zones may not see it immediately. Do you think it's overkill? There could be other ways to handle hot fixes - with labels for example. But maybe we don't need to bother with this unless it becomes an issue.

So how's this?

* No pull request may la

[2020-05-12 18:39] slinkydeveloper commented on #86
I agree with that second version :smile:

[2020-05-12 20:15] grant commented on #9
`tsc` is just a tool to transpile TypeScript to JavaScript.

One of the big point of TypeScript is to not have to duplicate your code inside of docs. Right now we don't have many comments in the code. The suggestion here is to add JSDoc and annotate types everywhere. That's going to create a lot of boilerplate.

There are 2 options:

1. Add JSDoc everywhere. Keep them up-to-date with refactors.
1.

[2020-05-12 21:59] lance commented on #65
@grant @fabiojose should we consider trying to get this in for a 2.0.0 release? I think it's a nice change, and since we are making big API changes with the upcoming release, this might be the place for it. My only concern is that this is probably a pretty big change, touching lots of the underlying code. It might be a big PR that takes some time to hash through. WDYT?

[2020-05-12 23:12] grant commented on #65
@lance Glad you like the proposed change.

So long as there are tests, any number of PRs to make the change are fine.

[2020-05-12 23:44] lance commented on #148
From the [spec](https://github.com/cloudevents/spec/blob/v1.0/spec.md#time), this should conform to [RFC 3339](https://tools.ietf.org/html/rfc3339)

[2020-05-13 19:44] lance opened #156 "Add the ability to send/receive events via the websocket protocol"
Related: https://github.com/cloudevents/sdk-javascript/issues/94

Based on a discussion in Slack.

[2020-05-13 20:48] erikerikson opened #157 "Support for Strongly Ordered Reciept and Transmission"
For those who [use ordering for its equivalence to consensus](https://en.wikipedia.org/wiki/Atomic_broadcast#Equivalent_to_Consensus) a potentially unordered transmission or receipt of CloudEvents could block use of this library.  However, providing order guarantees has implications for performance and interaction models based on the targeted protocol and/or middleware.   To be concrete, if every

[2020-05-14 13:35] lance opened #160 "Eliminate specific version numbers from examples and docs to extent possible"
https://github.com/cloudevents/sdk-javascript/pull/141/files#r424509323

This is generally true. We should, as much as possible, find a way to eliminate these from the docs and examples except where it can't be avoided - e.g. providing a version number to an emitter to ensure that an event is transported via a specific spec version.

[2020-05-14 13:58] lance commented on #149
In retrospect, it seems that adding this method directly to the `CloudEvent` class is perhaps not the best approach. That conflates the event itself with the HTTP transport protocol. I would like to keep these two concepts decoupled. I currently have an implementation for this on the `HTTPEmitter` which is introduced in this PR soon https://github.com/cloudevents/sdk-javascript/pull/141. Once that

[2020-05-14 15:37] #124 closed

[2020-05-14 15:37] #149 closed

[2020-05-14 20:04] lance opened #162 "Add JSDoc to BinaryHTTPReceiver and StructuredHTTPReceiver"
This also may involve converting these to ES6 classes.

[2020-05-14 21:35] lance commented on #157
To validate this as an issue, I put together a little test. Here is an HTTP server that receives a number in a header, expecting it to monotonically increase with each incoming request. It then sets a timeout for a random amount of time up to one second and returns 200/OK after the timeout. If at any point, a number is received out of order

[code]

Here is a simple client that sends a monotonical

[2020-05-15 04:25] lance commented on #157
Hmm. I should try the client using `sh` and `curl`. Node’s `http.get()` is also async.

[2020-05-15 05:31] erikerikson commented on #157
I guess I thought that was exactly the point.  By default HTTP operations are non-blocking so as not to starve other items on the eventloop.  If they are used in the library, I would expect out of order sending/receiving eventually.  Something like the following is required to guarantee in order submission:
[code]

Note that I'm not doing anything with the responses but I have to wait for an ackno

[2020-05-15 05:59] erikerikson commented on #157
For the record, the above has issues but so long as the transmission of that `x-num` header is the extent to which order matters (as is the case in your server code), the above satisfies.

A minor note is that although this is marked with the transport/http tag, it should apply equally to any transport that is not already inherently ordered and for which providing delivery ordering guarantees isn'

[2020-05-15 20:29] erikerikson opened #166 "Clarify and/or Separate Bindings and Formats Table"
The table at https://github.com/cloudevents/sdk-javascript/tree/cf36a1578af4c482f9d41c1c97e98ab7634accf1#supported-specification-features lists both bindings and formats in the same table.   This is somewhat confusing and, unless these concerns are tangled in the codebase, potentially inappropriate.  If they are tangled, then I would expect the table to represent that explicitly.

I don't expect t

[2020-05-18 12:20] lance commented on #166
Agree it's not the highest priority, but you're right that conflating these two isn't idea. This markdown was shamelessly stolen from https://cloudevents.github.io/sdk-go/

[2020-05-18 12:24] lance commented on #127
It's been a couple of weeks now - moving a bit slower than we had anticipated. That's OK though because some really nice changes have been landing - simplifying and better documenting the API. I propose we land #165 #161 and #155 (at least) before shipping 2.0. WDYT?

[2020-05-18 13:43] lance commented on #125
Landed in https://github.com/cloudevents/sdk-javascript/commit/f8a62b2843b12fe894201670770a00c034ab701d

[2020-05-18 13:43] #125 closed

[2020-05-18 15:34] #162 closed

[2020-05-18 16:45] grant commented on #29
If we use JSON for CloudEvents, then we can just `Object.freeze` our event data to make it immutable.

Requires https://github.com/cloudevents/sdk-javascript/issues/65.

[2020-05-18 18:34] grant opened #169 "How to have autocompletion?"
We need fantastic IDE documentation with inline documentation.

[code]

![image](https://user-images.githubusercontent.com/744973/82247245-ef2a6380-98fa-11ea-83a4-44723bac0827.png)

This requires https://github.com/cloudevents/sdk-javascript/issues/65

[2020-05-18 19:00] lance opened #170 "Specs decorate CloudEvent's prototype with methods"
See: https://github.com/cloudevents/sdk-javascript/blob/master/lib/bindings/http/v1/spec_1.js#L120-L145

Specifically, it's adding methods that are version specific. The 0.3 Spec is adding getter/setter methods for the version 0.3 CE spec, while the 1.0 Spec is adding methods for the 1.0 spec. This can be a problem because each time a new [`CloudEvent` is created](https://github.com/cloudevents/sd

[2020-05-18 19:17] lance commented on #170
Closing, for now... I think this may be OK.

[2020-05-18 19:17] #170 closed

[2020-05-18 23:42] lance commented on #169
@grant can you show more of the code here? How are you creating `ce`?

[2020-05-18 23:46] grant commented on #169
[code]
Is how you create the `ce`.

[2020-05-18 23:50] lance commented on #169
So, I guess I'm not clear on what should change, because this is possible today. Am I missing something?

![image](https://user-images.githubusercontent.com/15952/82269790-b0b79780-9940-11ea-9e6d-45508b44feb9.png)

[2020-05-18 23:59] grant commented on #169
This is what I see in my editor (VS Code) after following the Usage section of the README:

![Screen Shot 2020-05-18 at 16 54 44](https://user-images.githubusercontent.com/744973/82270071-704c1f80-9928-11ea-9a8b-1bf777b21386.png)

Maybe the module isn't updated on npm, but I'd expect to see the experience you're getting when developing locally. I don't want to memorize the CloudEvent properties of

[2020-05-19 00:04] lance commented on #169
No, the module is not published on npm with these changes yet. You should try from `master`.

[2020-05-19 00:13] grant commented on #169
OK. Got it. I'll keep this issue open until we publish to npm then. A user can't really build all npm dependencies from source of course.

[2020-05-21 18:10] alexkhimich opened #173 "Documentation issue with not correct code snippets"
The class names are diff.

[code]

[2020-05-21 18:12] alexkhimich opened #174 "Add link to 1.0 README - code snippets on master are not valid with 1.0.0"
This snippet
[code]
throws

[code]

[2020-05-21 18:24] grant opened #175 "Remove generated files from source control"
This PR https://github.com/cloudevents/sdk-javascript/pull/140 introduced 21,838 lines of mostly HTML/non-Cloud SDK code into `master`.

It introduces files not related to this repo:
https://github.com/cloudevents/sdk-javascript/tree/master/docs/fonts

For example, these files were not hand-written and aren't expected to be added to source control:
<img width="1004" alt="Screen Shot 2020-05-21 at

[2020-05-21 18:40] alexkhimich opened #176 "https://www.npmjs.com/package/cloudevents-sdk has 6 months old package"

[2020-05-21 19:07] lance commented on #176
Hi @alexkhimich - we are [planning a 2.0 release](https://github.com/cloudevents/sdk-javascript/issues/127) and hope to have it out before the end of the month. It is a major change with lots of new features and a changed API, so it's not going quite as fast as we would like. But I agree! An updated is needed soon. In the meantime, if you are not running production code with this, you can refer to

[2020-05-21 19:08] lance commented on #130
Now that we have JSDoc everywhere and are [publishing it](https://cloudevents.github.io/sdk-javascript/), this can be closed.

[2020-05-21 19:08] #130 closed

[2020-05-21 19:36] lance commented on #174
@alexkhimich - I imagine you are using the published 1.0.0 version of the module. The API is rapidly changing, and so what is on the README is ahead of what's available on npmjs.com. I agree this is a problem. In the meantime, you might look at the 1.0.0 version of the README here https://github.com/cloudevents/sdk-javascript/blob/v1.0.0/README.md#how-to-use. Apologies.

[2020-05-21 19:46] lance commented on #9
Fixed in: https://github.com/cloudevents/sdk-javascript/pull/155

[2020-05-21 19:46] #9 closed

[2020-05-21 20:20] lance opened #178 "Provide a better way to extract headers from a CloudEvent"
Currently, in order to extract headers from a CloudEvent, you have to first create an HTTPEmitter.

[code]
Not ideal... you have to create a new object for no real reason. And on top of that, you have to supply it with a URL since the emitter ctor will throw without one.

Something better might be...

[code]

[2020-05-21 20:27] lance opened #179 "Change module's npm publish to include type definitions"
Currently we can generate type definitions, and do so every time `npm test` is run. But these files are not included in the source repository. However, we do want to publish them with the module when the next version is released. I think we need to ensure that we have an automated way to do this with our npm scripts instead of requiring whoever is publishing to remember to do that.

[2020-05-21 22:05] grant commented on #175
A `docs/` folder is simply not very node-like.

Feel free to look at the way any of the top npm packages document their modules for comparison:
https://www.npmjs.com/browse/depended

[2020-05-22 00:06] grant opened #184 "CloudEvent JSON Autocompletion without Class Wrapper"
As a developer, I want to be able to have autocompletion for objects without having a wrapper class such as `CloudEvent`.

JavaScript objects are normal in Node development, and are preferred over classes.

![image](https://user-images.githubusercontent.com/744973/82617377-c3baa980-9b84-11ea-9ea0-2bb12e3b4f89.png)

**EXPECTED:**

[code]

**ACTUAL:**

[code]

### Advantages

- Minus one level of in

[2020-05-22 00:11] grant commented on #184
To get this feature with the use of raw object, I suggest we have 1 `.ts` file that would have the following below.

No other files would need to be `.ts` files.

[code]

[2020-05-22 17:03] #65 closed

[2020-05-22 17:03] #88 closed

[2020-05-22 17:03] #135 closed

[2020-05-22 17:03] #148 closed

[2020-05-22 18:11] lance commented on #121
Closing for now. Will re-open if we end up needing to maintain version branches.

[2020-05-22 18:11] #121 closed

[2020-05-24 17:03] #178 closed

[2020-05-26 12:53] #86 closed

[2020-05-26 21:21] lance commented on #127
@cloudevents/sdk-javascript-maintainers I think we are at a good point for a 2.0.0 release. I would like to do that in the next 24-48 hours. Any objections or concerns?

[2020-05-27 18:43] lance commented on #176
2.0.0 was released today. Closing this. Please feel free to open any issues you have around the new API.

[2020-05-27 18:43] #176 closed

[2020-05-27 18:43] lance commented on #179
Published in 2.0.0

[2020-05-27 18:43] #179 closed

[2020-05-27 18:46] lance commented on #169
2.0.0 released today, including type definitions.

[2020-05-27 18:46] #169 closed

[2020-05-27 18:46] lance commented on #173
The 2.0.0 version was released today, resolving this issue.

[2020-05-27 18:47] lance commented on #173
Oh wait... this is just referencing a typo. Reopening.

[2020-05-27 18:47] lance commented on #174
2.0.0 released today

[2020-05-27 18:47] #174 closed

[2020-05-27 18:48] lance commented on #127
Released

[2020-05-27 18:48] #127 closed

[2020-05-27 19:01] lance opened #187 "Examples should be updated with new API"

[2020-05-27 21:56] lance opened #188 "Generated type definitions don't declare optional parameters"
When using the new direct object style API to create a `CloudEvent` in a TypeScript project, the `CloudEvent` constructor requires all properties for the event to be provided.

This is what the constructor signature looks like in the generated type definition.

[code]

There are two things wrong with this. First of all, it shows the single properties parameter as being optional, and it indicates t

[2020-05-27 22:10] grant commented on #188
This seems like a blocker for projects that use this library using TypeScript and require optional types.
A solution would be to declare a CloudEvent interface with optional fields, but that obviously uses TypeScript which we can't have.
Curious to see the solution.

[2020-05-27 22:22] lance commented on #188
@grant I have been reading and playing around with this for the last hour and was going to come back here and ask if perhaps an interface would fix this. And I find this.

For crying out loud, please can't you just be civil for once?

Yes, let's please find the right solution. I have an inelegant quick fix here: https://github.com/cloudevents/sdk-javascript/pull/189.

I am surprised that you let u

[2020-05-27 22:26] lance opened #190 "Turn off code coverage results publishing for pull requests"
GitHub does not share the Codacy API token (secret) with the action if the action is running against a PR from a forked repo.

[2020-05-27 22:30] lance commented on #188
I assume an interface would address #184 as well.

[2020-05-27 22:42] grant commented on #188
Yes, sorry, that was a bit impolite, @lance. I've edited the comment.
Still genuinely interested in seeing the technological though.

[2020-05-28 07:42] aliok opened #191 "sdk 2 - Cannot emit events that don't have any extensions"
[code]

[code]

Following code doesn't check if the event has extensions or not:
https://github.com/cloudevents/sdk-javascript/blob/master/lib/bindings/http/emitter_binary.js#L73

OR,
`extensions` property of `CloudEvent` is not initialized.

[2020-05-28 12:50] #191 closed

[2020-05-28 20:05] #190 closed

[2020-05-29 00:56] grant opened #195 "Formatter should be static"
I noticed the formatter lives within the CloudEvent object.
[code]
This doesn't really make sense since we can have 1000 CloudEvent objects with the same formatter.

Maybe it should be a static class/set of methods.

[2020-05-29 19:51] lance commented on #195
I was thinking actually of removing it entirely from the class, along with the `format()` function. Instead, expose a top level `Formatter` class or `formatter()` function that takes a `CloudEvent` and formats it as JSON by default. But of course that would be a breaking change and require a version bump. Making it static is a good first step.

[2020-05-29 21:49] #184 closed

[2020-05-29 21:49] #188 closed

[2020-05-29 22:00] lance opened #198 "Add TypeScript example to README"
There are a few different ways to use the API for TS users.

https://i.imgur.com/Vykt17Z.png
![image](https://user-images.githubusercontent.com/15952/83309050-3c011a80-a1d6-11ea-916e-0c4b8cd23dfc.png)

[2020-05-29 22:10] lance commented on #29
I'm going to mark this a stalled for now. TypeScript users now have `Object.freeze` for regular objects. However, that doesn't work for the `CloudEvent` class. We'd need to add a `freeze()` method to the class itself to prevent modification. This is because the setters on the class [delegate to `this.spec`](https://github.com/cloudevents/sdk-javascript/blob/master/src/lib/cloudevent.ts#L109-L111).

[2020-05-29 22:16] lance commented on #96
@grant I think that the schema validator is actually really important and would be a lot of work to replace manually (and would not be as fast/efficient as AJV). It is sometimes valuable to have the capability to determine if a CloudEvent [is actually valid per the specification](https://github.com/cloudevents/sdk-javascript/blob/master/src/lib/bindings/http/v1/spec_1.js#L133-L137) and that's what

[2020-05-29 22:32] grant commented on #96
Yeah, the usage now is a lot cleaner than it was before.
It does take [60%](https://bundlephobia.com/result?p=cloudevents-sdk@2.0.0) of the bundle size, so I was a little concerned if we're trying to slim this package down.
Maybe it could an optional dependency in the future.

Should be fine to keep until there's a better suggestion.

[2020-05-29 22:32] #96 closed

[2020-06-03 16:07] lholmquist commented on #160
@lance i can take a look at this if it is still open?

[2020-06-03 18:29] grant opened #203 "Rename Remaining .js Files to .ts"
It doesn't make sense to have some `.ts` files and some `.js` files in the repo. Although it will work, it is common to just rename the extension of all files to `.ts`.

[2020-06-03 18:35] lance commented on #160
It's all yours @lholmquist :)

[2020-06-03 21:32] grant commented on #175
This was fixed in https://github.com/cloudevents/sdk-javascript/pull/194.

[2020-06-03 21:32] #175 closed

[2020-06-03 21:42] grant commented on #198
Sounds good, although I'd expect a very simple example on the main README. It's pretty easy to discover new methods/types in TypeScript with awesome autocompletion.

We can link to a test for a more complicated sample showing every feature.

[2020-06-03 21:45] grant opened #204 "Simplify README"
- Use forward English: Subject Verb Object rather than Object Verb Subject
- Be terse without losing information
- Use modern Node (no `--save`)

[2020-06-04 14:06] helio-frota commented on #71
Going to assign that to me and start playing with. In case things get delayed (until next week) I remove the assignment :+1:

[2020-06-04 17:25] lance commented on #94
I had assumed that opening a PR for this issue, and mentioning it in the PR, would remove the `no-issue-activity` label, but apparently not. Reopening.

[2020-06-04 18:29] #204 closed

[2020-06-04 18:37] lholmquist commented on #187
I was going to start on this one, but do the typescript examples need to wait to be updated until #202 's changes are published?

[2020-06-04 20:29] lance opened #209 "CloudEvent constructor should accept inline extensions"
There is no way to create a `CloudEvent` instance using the constructor and have the extensions initialized there. For example, this is not valid, but should work.

[code]

[2020-06-04 22:04] #173 closed

[2020-06-06 00:01] #82 closed

[2020-06-08 16:40] lholmquist commented on #209
@lance should the extensions property in your example, be an array of key:value pairs?

[2020-06-08 16:58] lholmquist commented on #209
The reason I ask is because if you take a look at what is created after doing `const ce = new CloudEvent(...)`

The extensions property is a blank array

[code]

As soon as you call `addExtension(key, value)`, the value of thta property actually turns into an object:

[code]

Not sure what the correct answer should be here

[2020-06-08 17:25] lance commented on #209
@lholmquist that was a bug that was fixed at the end of last week https://github.com/cloudevents/sdk-javascript/pull/202/files#diff-695048fccf8efadd88b77db776a94d06L84. It should be an object.

[2020-06-08 17:27] lholmquist commented on #209
@lance yea,  i was just looking in the code and couldn't find that array, and just realized my example was using the version on npm.   :facepalm:

[2020-06-08 17:58] lance opened #212 "Publish SDK docs on gh_pages branch"

[2020-06-08 18:14] grant opened #213 "Publish TypeScript Types"
To use TypeScript types with this module (in a different package), we need to publish types:

This is done pretty simply, by adding the `"types"` property in our `package.json` and ensure we build the types before publishing:

- Docs: https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html
- 30 sec guide: https://medium.com/cameron-nokes/the-30-second-guide-to-publishing-a-t

[2020-06-08 18:27] lholmquist commented on #212
what about using a 'docs/' on the master branch?  This could be generated during a release script, so things would stay in-sync and might be easier to maintain?

[2020-06-08 18:44] grant opened #215 "npm i cloudevents"
We should make it really as simple as possible to use this module.

## Expected

[code]

## Actual

[code]

Not sure who's publishing the npm module, happy to give `cloudevents` for publishing source in this repo.

Python, Ruby, C# all don't use `cloudevents-sdk`, just `cloudevents`.

[2020-06-08 18:51] lance commented on #212
That's how it has been, but @grant pushed back on that for some reason.

[2020-06-08 18:59] lholmquist commented on #215
I would argue that it would create more confusion if the name changed now.

I would suggest that you, @grant , deprecate that module and point your readme to this repo.

[2020-06-08 19:02] lholmquist commented on #212
I understand that it's a common thing for repo's to use gh_pages,  but it seems much more streamlined if the docs lived with the code,  at least from a users perspective.

If you are going to be having typescript types in the main branch,  then why not docs?

[2020-06-08 19:06] lance commented on #212
It's also pretty common to have generated docs in `/docs` on `master`. It's the default option in the repo settings. I'm not sure what the concern is tbh - I just thought it was a minor thing to argue about. I want to set up a GH Action that generates the docs with each push to `master`. It should be pretty straightforward using something like https://github.com/crazy-max/ghaction-github-pages

[2020-06-08 19:09] grant commented on #212
It's common in git to not push generated files in `master`. Putting generated files makes searching worse, docs out of date, etc. For example, CSS files and font files shouldn't be in this repo.

Most top npm modules don't have generated docs, markdown is fine.

There are no typescript types files, assuming you're referring to `.d.ts` files. Only source code.

[2020-06-08 19:11] lance commented on #212
Re: generated files... unless you are volunteering to write the API documentation, I think we're going to go ahead and generate the docs

[2020-06-08 19:16] grant commented on #215
I don't think it would create confusion. There are only 13 dependents, and few downloads/m. What changed now?

History aside, what would you ideally install?:

`cloudevents`
`cloudevents-sdk`

I'd rather show `npm i cloudevents` on stage.

[2020-06-08 19:19] grant commented on #212
Generating docs on `gh_pages` SGTM as before.
Not sure what @lholmquist is suggesting.

[2020-06-08 19:27] lholmquist commented on #215
The problem is the history and older versions that are currently published for the `cloudevents` module.  Those versions are not "cloudevents-sdk" versions.

I can see a user getting burned by this,  if they switch, and then need a previous version, for whatever reason,  and it not working because they forgot about the name change.  What about new users who never knew the history of changing names

[2020-06-08 19:31] lholmquist commented on #212
i'm suggesting that you just use "docs/" on the main branch.

The docs only really get updated during a version release, and there already is a "release" script in the package.json,  it is pretty easy to just add the generate_docs script to that.

[2020-06-08 19:34] lholmquist commented on #215
That only counts other modules that depend on this module, not applications that are not published on npm.  Also i don't think 3k+ downloads a week is "a few"

[2020-06-08 19:45] lance commented on #215
I'm with @lholmquist on this. I don't think it would be wise to change the module name after two major version releases.

[2020-06-08 19:47] #160 closed

[2020-06-08 20:03] grant commented on #160
Won't this version of the README/code be invalid when the spec reaches 2.0 and a user clones the old one?

[2020-06-08 20:13] grant commented on #215
There are 0 dependents on the other package and it's easy to mirror npm versions. I've done this before. The user impact would be 13 repos would get npm warnings when installing asking them to change the dependency, which would be easy and non-breaking.

We're really at the start of this repo and I'd like to make the decision now. Please answer this question:

I couldn't have done this before beca

[2020-06-08 20:42] lholmquist commented on #215
As you soon as you ask someone to change the name of something it is a breaking change.

and i still don't know why you think it is only 13 repos.  that's only the modules that depend on this module.  based on that weekly download count,  it looks like many more users would be affected.

As for the warning,  it is nice to say that users read them,  but the fact is,  someone will do an npm install

[2020-06-08 21:17] grant commented on #215
Hi @lance, @lholmquist, Can you please answer this question?

Like TypeScript support, I'm asking for us to be open. I understand the long-term impact and wish for this change. This name doesn't align with other repos. It would be a better name and would align with other SDK names like Python, Ruby, C#, etc.

[2020-06-08 21:28] grant commented on #99
Sounds good. Looking at the Go SDK and spec, we should support 0.3 events still.

I think there should be some simplification to this SDK, but not dropping it is OK.

[2020-06-08 21:28] #99 closed

[2020-06-08 22:25] #212 closed

[2020-06-08 22:27] #213 closed

[2020-06-09 12:03] lance commented on #215
You have not provided any compelling reason to change the name of this module beyond an aesthetic desire to reduce typing by four characters. I don't think that justifies this change. This module naae perfectly aligns with the Rust module. Maybe we should change the names of the Python and C# modules to better align with JavaScript and Rust.

[2020-06-09 18:04] grant commented on #215
But this module is not an SDK. This is not a "software development kit". The set of 7 languages is the SDK, the kit. This library is a small library for handling CloudEvents. The CloudEvents SDK is meant to refer to a collection of multiple libraries in different languages, not an individual language library.

Moreover, this name with "-sdk" is not idiomatic for JavaScript and Node. It would be mo

[2020-06-09 22:08] #187 closed

[2020-06-09 22:09] #209 closed

[2020-06-10 19:32] grant opened #219 "CloudEvent Object Shouldn't Create Spec Property"
Currently every new CloudEvent object creates a Specification object.

This doesn't really make sense. A CloudEvent should adhere to a specification, not contain a property called `spec`.

[2020-06-11 14:59] helio-frota commented on #71
removing the assignment. I can revisit if needed later, also short week for me here.

[2020-06-12 09:28] c-pius opened #222 "Wrong order of arguments for HttpReceiver.accept in the documentation"
[Receiver Documentation](https://github.com/cloudevents/sdk-javascript#receiving-events) has the wrong order of arguments.

https://github.com/cloudevents/sdk-javascript/blob/99bb88be00f832c58b5fdd467a8a2473830a6547/src/lib/bindings/http/http_receiver.ts#L48

[2020-06-12 09:54] c-pius opened #223 "Passing custom headers through to http.request()"
When using HttpEmitter.send() method, how can I pass additional header arguments (e.g. meant for our infrastructure) that are passed through to the http.request() call?

I tried to use
[code]

When debugging, it seemed like the passed headers are overwritten by the default headers.

https://github.com/cloudevents/sdk-javascript/blob/99bb88be00f832c58b5fdd467a8a2473830a6547/src/lib/bindings/http/em

[2020-06-14 00:01] #45 closed

[2020-06-15 15:21] lholmquist commented on #222
@c-pius nice catch

[2020-06-15 15:30] lance commented on #223
@c-pius it looks like the spread operator assignment is a bug. Thanks for reporting this.

[2020-06-15 15:38] lholmquist commented on #223
I wonder if there are other places that are like this?

[2020-06-15 15:41] lholmquist commented on #223
To answer my own question.  It looks like that is the only spot that the ordering was incorrect

[2020-06-15 16:54] grant commented on #203
Hey @lance, do you have any thoughts around this?

[2020-06-15 20:04] lance commented on #203
Hi @grant - I have actually been working on a complete rewrite of the entire module that does a lot more than just renaming the files to have a `.ts` extension. And it's 100% TS. I hope to have at least a draft PR of this ready this week.

[2020-06-15 20:38] grant commented on #203
OK, sounds good. Thanks for the update @lance.
The rewrite sounds great and could solve lots of issues.

[2020-06-15 20:41] lance commented on #203
I think we can probably consider renaming to 'cloudevents' as well with a 3.0.0 release

[2020-06-15 20:45] grant commented on #203
https://www.npmjs.com/~lanceball now has full permissions for module `cloudevents`. Feel free to mirror previous versions/use that module for publishing.

[2020-06-15 21:06] lholmquist commented on #203
Feel free to mirror previous versions/use that module for publishing.

was it actually decided that this module is changing names?  I thought that was an ongoing discussion in #215 ?

[2020-06-16 00:01] #46 closed

[2020-06-16 14:06] lholmquist commented on #203
so getting back to the issue of #225,  if things are being re-written,  should we even worry about the test and just fix the issue now, so the users who reported the bug can do what they need to do and the typescript stuff will fix itself once the module is re-written?

[2020-06-18 15:24] lholmquist commented on #195
Probably going to hold off on this since it will be part of #226

should we close?

[2020-06-18 21:11] #222 closed

[2020-06-20 16:45] lance opened #228 "CloudEvent should only allow [^a-z|0-9$] for extension names"
Per the spec's [naming conventions](https://github.com/cloudevents/spec/blob/master/spec.md#attribute-naming-convention), attribute names should be all lower case, with nothing but a-z and 0-9 in the name. This module currently does not enforce that.

[2020-06-20 16:56] lance opened #229 "CloudEvent extensions should be restricted to types allowed in spec"
Currently an extension can have any value - e.g. it could be an object. However, the spec limits what value types an extension can have. See https://github.com/cloudevents/spec/blob/master/spec.md#type-system

[2020-06-21 00:01] #157 closed

[2020-06-22 21:07] matejvasek opened #230 "Receiver accept() method modifies its input parameter."
The receiver may destroy input payload.
For instance after calling `receiver.accept(response.headers, response.data)` the data member may end up as empty object.

https://github.com/cloudevents/sdk-javascript/blob/fba3294ce04a30be0e5ab551a1fa01727dc8d1f8/src/lib/bindings/http/validation/structured.js

[2020-06-22 21:10] matejvasek commented on #230
/cc @lance

[2020-06-24 15:09] lholmquist commented on #230
I'm not totally following from the link you posted.   Would it be possible to post a small code example of what you are seeing?

[2020-06-24 15:25] lance commented on #230
@lholmquist the issue is here: https://github.com/cloudevents/sdk-javascript/blob/fba3294ce04a30be0e5ab551a1fa01727dc8d1f8/src/lib/bindings/http/validation/structured.js#L38. Even though the `payload` is assumed to be transformed by the parser [here][(https://github.com/cloudevents/sdk-javascript/blob/fba3294ce04a30be0e5ab551a1fa01727dc8d1f8/src/lib/bindings/http/validation/structured.js#L29) the

[2020-06-24 15:27] lholmquist commented on #230
ah,  ok.  sounds like a bug

[2020-06-24 15:31] matejvasek commented on #230
@lance @lholmquist  note that I reproduced this on the Lance's TS rework branch, I am going to try to reproduce this on master.

[2020-06-24 15:35] matejvasek commented on #230
Yes, the "pass through" parser causes problem.

[2020-06-24 15:42] matejvasek commented on #230
I would submit PR, but I won't since @lance is going to rewrite a lot of things.

[2020-06-24 20:16] #230 closed

[2020-06-29 18:46] #195 closed

[2020-06-29 18:46] #203 closed

[2020-06-29 18:46] #219 closed

[2020-06-29 18:46] #223 closed

[2020-06-29 22:40] lholmquist opened #232 "Test run shows pending tests"
At the end of a `npm run test`, there says there is 6 pending tests.

[code]

There are 6 tests here, https://github.com/cloudevents/sdk-javascript/blob/master/test/cloud_event_test.ts#L104 that don't do anything.

Were these just place holders when doing the TS re-write and should be removed?  or do they need to be implemented?

[2020-06-30 13:51] lholmquist commented on #232
@lance ^^

[2020-06-30 14:30] lance commented on #232
@lholmquist yeah - they were tests that I never implemented in the cut over to TS. There is some overlap with these and other tests in `spec_1_tests.ts` so I didn't consider it an urgent priority

[2020-06-30 14:44] lance opened #233 "A CloudEvent should be readonly but provide a way to augment itself"
With recent API changes, a `CloudEvent` is nicely represented as a plain old JS object. For example, for most purposes, this is actually a valid CE.

[code]

However, because we want to have spec compliance checks, and provide default values (e.g. a UUID or timestamp), we have a constructor and a class. The example above can be written as:

[code]

Here, code in the constructor is providing defaul

[2020-06-30 14:49] lholmquist commented on #232
sort of what i thought.

[2020-06-30 15:10] lholmquist commented on #233
Sounds good.  Going to assign to myself

In the example, you are just talking about extensions,  but i'm assuming this could go for any other value, like source or type or version, etc..?

[2020-06-30 15:14] lance commented on #233
Yes. Though it's obviously not required, since using `Object.freeze()` doesn't prevent the object's properties from being changed. I could, for example, change the timestamp on a "readonly" CE. `freeze()` just prevents adding and removing properties. We _could_ get fancy and use TS to make the [properties themselves `readonly`](https://www.typescriptlang.org/docs/handbook/interfaces.html#readonly-

[2020-07-01 14:17] lholmquist commented on #233
Something i was thinking about was trying to use a Proxy for this instead of Freezing the object and having another method that would be needed to "update" the CloudEvent.

This way, whenever a property is updated, the Proxy can "trap" the set call and run the validate method.

So doing something like this:

[code]
would trigger the validate method

[2020-07-01 14:55] lholmquist commented on #233
Although,  doing it this way(using a Proxy) would not satisfy issue #29

@lance @grant any thoughts on using the Proxy approach.  I'm sort of leaning toward the Proxy approach if it works(testing things out now) instead of having a separate method to update the object

[2020-07-01 15:10] lholmquist commented on #233
just realized not everyone might know what this Proxy object is,  https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Proxy

[2020-07-01 18:44] grant commented on #29
Marking all `CloudEvent` fields as `readonly` should be a solution.

This is very common and recommended in TypeScript. See vscode's source for examples.

[2020-07-01 18:47] grant commented on #233
How about we make CloudEvents immutable like they aught to be and use [`Object.preventExtensions()`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/preventExtensions),
and make it really easy to construct new CloudEvents?

[2020-07-01 18:49] grant commented on #233
I think #29 should be addressed first before this issue.

[2020-07-01 18:56] lholmquist commented on #233
After doing a bit of research on Proxies and a WIP PR #234 , it might be easier/more efficient to have a method an a cloudEvent that takes fields to update and merges then with the existing CloudEvents properties and then returns a new CloudEvent.

sort of what @lance suggested with `myEvent.cloneWith( { extension: 'value' });` :)

While i do like the proxy approach,  the implementation was starti

[2020-07-01 19:14] grant commented on #233
I would expect CloudEvents to be lightweight and immutable.

If you want to clone or slightly modify a CloudEvent, I'd propose this radical idea:

Create a `CloudEvent` from a `CloudEvent` (with additional overridden attributes):
https://github.com/cloudevents/sdk-javascript/blob/master/src/event/cloudevent.ts#L42

Or I could imagine a new `clone(overrides)` method.

[2020-07-01 19:16] lholmquist commented on #233
Yup.   Doing something now.  Probably sticking to the "cloneWith" method

[2020-07-02 21:42] lance opened #237 "Receiver.accept() should sanitize headers"
Most of the time users will be using the `Receiver` in some sort of web framework that automatically sanitizes headers before user code accesses them. That's not always the case, though. Because the `Receiver.acccept()` method doesn't sanitize, it won't be able to detect a structured event if the content type header is `Content-Type` instead of `content-type`.

https://github.com/cloudevents/sdk-j

[2020-07-03 01:31] lance commented on #29
Weird that the bot closed this

[2020-07-06 07:07] c-pius opened #240 "emitter.send() drops datacontenttype header"
Not entirely sure on this but I think emitter.send() drops the datacontenttype header.

## structured
[code]

received `content-type` header : "application/cloudevents+json"

received payload:
[code]

## binary

[code]

received `content-type` header = "application/json"

I assume the `datacontenttype` is dropped (not allowed in binary binding). But then the missing value is defaulted to applicati

[2020-07-06 16:09] lance commented on #240
For binary mode, the `ce-datacontenttype` header [MUST NOT](https://github.com/cloudevents/spec/blob/v1.0/http-protocol-binding.md#311-http-content-type) be present in the message. But you are correct that the `content-type` header should be `text/xml` in this case.

For structured mode, the received payload should have the `datacontenttype` property.

Thanks for reporting this.

[2020-07-06 18:00] lance commented on #240
@lance I have been testing the binary mode transmission, and realized that you need to use `dataContentType`. If you do, your scenario should work. Still poking structured mode.

[2020-07-06 18:27] lance commented on #240
@c-pius the module is working as expected for both binary and structured events. In both cases, the property on the `CloudEvent` object is `dataContentType`. I'm going to close this as not-a-bug. If you find additional problems please feel free to reopen or create a new issue.

[2020-07-06 18:27] #240 closed

[2020-07-06 21:33] #237 closed

[2020-07-06 21:48] lholmquist commented on #228
Is the "-" also allowed.  reading the spec,  it doesn't look like it.  If that is the case, then we will need to update the examples

[2020-07-06 22:07] lance commented on #228
It is not allowed. Only alphanumeric characters.

https://github.com/cloudevents/spec/blob/master/spec.md#attribute-naming-convention

[2020-07-06 22:21] lholmquist commented on #228
Should we make this a semver-major change then?

[2020-07-07 06:50] c-pius commented on #240
ah okay, sorry for the confusion. Will this change with the new release however? I was looking at the examples and that is actually where I got the all lowercase `datacontenttype` from

https://github.com/cloudevents/sdk-javascript/blob/51035dc65b98ce7912d57a78d214612c05c5dc00/examples/typescript-ex/src/index.ts#L9

[2020-07-07 13:11] lance commented on #228
Yes - we will have a semver major release as soon as the typescript version lands, so it should land with that.

[2020-07-07 13:42] lance opened #241 "Prepare release 3.0.0"
The last release on the 2.x line was 2.0.2 on June 8. A major version bump after only one month isn't ideal, but it's probably good to get this out soonish so folks can start using it. If there is something you would like to see in the next release that is not listed here, please open a new issue or submit a pull request.

Edit: Updated July ~~24~~ __27__ with latest commits.

Changes since 2.0.2

[2020-07-07 13:43] lance commented on #241
I would like for #228 and #229 to land first - at a minimum.

[2020-07-07 14:12] lholmquist commented on #241
I think #233 should also land before we do the release

[2020-07-07 14:49] lance commented on #241
My mistake - totally overlooked that. Yes of coruse!

[2020-07-07 14:55] lholmquist commented on #241
Also #198 might be a good candidate

[2020-07-07 15:38] grant commented on #241
Also going through the process to fix #215 seems appropriate when releasing.

[2020-07-07 17:38] lance opened #242 "Proposal to change npm module name to 'cloudevents'"
Since [renaming the module has been an area of disagreement](https://github.com/cloudevents/sdk-javascript/issues/215) in this community, I propose we resolve this with a vote.

Currently the module is named `cloudevents-sdk`, however Grant has proposed changing this to simply `cloudevents` and has provided the `cloudevents` namespace on NPM. We have an upcoming 3.0.0 release which would be the ap

[2020-07-07 18:00] helio-frota commented on #242
Additional comments:
1) I agree this module is not an SDK, it is a library.
2) I agree that, at that time, was not good to change, but now the project has an opportunity frame/window to be changed.

[2020-07-07 20:09] lance commented on #240
@c-pius yes - the examples are previewing what will be coming in 3.0.0. You can track the release of that in [this issue](https://github.com/cloudevents/sdk-javascript/issues/241). We made this change to simplify marshaling/unmarshaling of `CloudEvent` objects, since the specification requires event attributes to be in all lowercase.

[2020-07-08 22:22] lholmquist commented on #229
Since the spec doesn't allow an Object, should we be throwing an error if someone passes in this:
[code]
Or is this ok since it will get converted to a JSON before transmission.  basically,  should this test pass or fail:  https://github.com/cloudevents/sdk-javascript/blob/master/test/spec_1_tests.ts#L99

[2020-07-09 16:07] lance opened #245 "Update specification JSON to match recent updates"
Specifically, the `data` field and what constitutes valid types for that field.

See: https://github.com/cloudevents/spec/pull/658

[2020-07-10 18:57] loopingz commented on #242
If we rename the module, I think it would be good to provide script to use with jscodeshift.
So either reuse stuff like this: https://github.com/jurassix/refactoring-codemods

or custom jscodeshift template, so people can just run `npx jscodeshift -t cloudevents-sdk-2.0-3.0`
[code]
This is a draft not final version, I can work on it if we think it is a good idea

[2020-07-13 13:47] #71 closed

[2020-07-13 17:49] lance commented on #229
That test should probably fail. We can't assume that the receiver will know that the value needs to be converted to an object. Since strings are valid value types, the user should use `JSON.stringify` before setting the extension.

[2020-07-13 17:58] lance commented on #242
@loopingz this is good - but since the API has also changed, I wonder how tricky it will be

[2020-07-13 19:15] #233 closed

[2020-07-14 18:10] lholmquist commented on #241
https://github.com/cloudevents/sdk-javascript/pull/248 should also be part of 3.0

[2020-07-14 20:43] lance opened #249 "Update examples with latest changes to extensions"
See: https://github.com/cloudevents/sdk-javascript/pull/246#pullrequestreview-448367574

[2020-07-15 13:53] #228 closed

[2020-07-16 21:45] #166 closed

[2020-07-20 14:38] lholmquist opened #255 "Should we keep the github dependabot?"
Githubs dependency bot has been sending PR's, that i believe we have merged in the past.  There is one open one right now, https://github.com/cloudevents/sdk-javascript/pull/254

But i was thinking, do we really need this since these updates have only been to the package-lock.json and since this is a module, that file never gets published,  so the end user will never get any benefit it might have.

[2020-07-21 13:19] lance commented on #29
While not exposed via an actual _builder_, I think https://github.com/cloudevents/sdk-javascript/pull/234 should satisfy this issue. Closing.

[2020-07-21 13:19] #29 closed

[2020-07-21 13:31] lance commented on #255
I think it's OK to keep, tbh. The reason it's only updating package-lock.json is because the dependency it's updating (e.g. lodash in [the most recent PR](https://github.com/cloudevents/sdk-javascript/pull/254)) is a nested dependency that is not in package.json. End users see this benefit because this guarantees that when we push the next release, whoever builds it locally is building with the up

[2020-07-21 14:23] lholmquist commented on #255
yea,  i get why it's only updating package-lock.json,  but that file doesn't get published,  so when the user does an npm install,  they are still only getting what is specified in the package.json.

It's not really a big deal if we keep it.  it's really only a couple clicks every so often.

[2020-07-23 04:43] grant opened #258 "HTTPReceiver throws when data attribute is null or undefined"
I'm seeing multiple issues when trying to using this library and testing with a `cURL` request.

These are the issues:

- `TypeError: no cloud event detected`
  - Then I added CE headers. I would assume I'd still be able to accept CloudEvents even if it was missing a header.
- `TypeError: payload is null or undefined`
  - How do you specify this? What do you mean? I tried adding a HTTP body with n

[2020-07-23 04:53] grant commented on #258
Here's an example request that I would expect to work:

[code]

[2020-07-23 05:30] grant commented on #258
I'm seeing error in production too with Google Cloud.

[code]

I assure you, we're sending folks valid CloudEvents with the product.

[2020-07-23 12:27] lance commented on #258
Looks like we are treating `data` as a required attribute. Feel free to contribute a fix as you are also a committer on the project. I will try and take a look today.

[2020-07-23 13:44] lance commented on #258
Maybe you didn't do it right. I can assure you that sending a body with the request works. https://github.com/cloudevents/sdk-javascript/blob/master/test/integration/http_receiver_test.ts#L28-L40

[2020-07-23 15:33] grant commented on #258
Hey mate, this is a bit snarky. Yes, I did find `src/parsers/json.ts`.

The point is that `data` is optional. Besides, our application shouldn't fail if we have a bad CE. It should just have `data` as undefined and not break the app.

[2020-07-23 15:44] lance commented on #258
Yeah, well :shrug:. If you found it you might have considered mentioning it in the PR instead of just saying "it's easier to just not use the SDK". If that's how you feel, as a maintainer of the project you could consider contributing a fix. Not really feeling the collaboration from you on this project.

[2020-07-23 17:16] grant commented on #258
Sorry, I can't contribute more to this GitHub project at this time besides creating issues and using the library due to various reasons. I've tried multiple times and can't currently. I'm just saying that I can't use it and it's literally easier to continue not using it, not a feeling or judgement.

I've suggested a simpler project using TypeScript, focusing on core use-cases in the past. I'd imag

[2020-07-23 18:12] lance commented on #258
Again, if you think the project could be simplified and improved, you are more than welcome to contribute code or ideas. You are a committer on this project. I'm not sure exactly what you think the problem is, so beyond just abstract "it should be simpler" it would be beneficial to understand what you mean.

I'm not sure how much simpler this could be.

[code]

[2020-07-23 18:22] #258 closed

[2020-07-23 18:59] grant commented on #242
I think the votes are in, thanks for organizing @lance 👍
9 👍
3 👎
as of July 23, 2020.

Want to close this and resume in https://github.com/cloudevents/sdk-javascript/issues/215? I've created a PR.

[2020-07-23 19:13] grant opened #261 "1 line parse CloudEvent from HTTP Request"
Like Ruby and some other SDKs, it should be 1 line to extract a CloudEvent JSON object from a HTTP request.

- 1 line/function for HTTP -> CloudEvent object
- No constructors needed. No `new` (unless we're saying `new CloudEvent`).

## Expected

[code]

## Actual

[code]

## Full Example

For example, this should work in Express:

[code]

This should be updated in the README (currently `CloudEvent

[2020-07-23 19:17] grant commented on #258
I've created a new issue showing what should be improved: https://github.com/cloudevents/sdk-javascript/issues/261

I've been preparing for a video recording for a few weeks, but that's going to be done tomorrow so hopefully I can help shape this SDK. I appreciate the work and replies.

[2020-07-23 22:10] grant opened #263 "gts not found"
`gts` is used in the `tsconfig.json` but isn't installed or specified in the package.json.
This raises an error for tooling.

[2020-07-23 22:12] grant commented on #263
Actually, this is only in the `typescript-ex` sample.
Not sure why we only have it there and not everywhere.

[2020-07-23 22:28] grant opened #266 "Remove Concept of Multiple Protocols within HTTP"
## Expected

We by default use the HTTP protocol for CloudEvents.
We do not need to specify if the CloudEvent module accepts only binary or only structured events.

## Actual

We specify the protocol in the `Receiver` constructor. Not sure why.
Seems overly complicated.

https://github.com/cloudevents/sdk-javascript/blob/master/src/transport/receiver.ts#L40
https://github.com/cloudevents/sdk-javas

[2020-07-23 22:30] grant commented on #266
I would assume the Receiver to only have static methods in the first place and not be an object.

Why would an application want to have to manage multiple CloudEvent receivers rather than static receivers?

[2020-07-23 22:33] grant commented on #266
This would greatly simplify a lof of the extra logic I see in the module.

We can always add in protocols later, but I suggest removing it for now.

[2020-07-23 22:39] lance commented on #266
I actually have tentative requirements for MQTT, AMQP and/or Kafka and that's why `Receiver` optionally accepts a protocol. I can see an argument to be made for making `accept()` a static method on `Request` or even just a standalone function. This would mean that we would need to add a third, optional protocol parameter to `accept()`.

[2020-07-23 22:50] grant commented on #266
I'm fine having an optional parameter to `accept()` rather than 100 dangling CloudEvent acceptor objects in my code.

I know that is a stretch, but I'd really like it to be static, or at least have the option of being static.
With CloudEvents, things are fully-encapsulating and stateless, so the less state we can have, the better.

Happy to keep the protocol list and have TODOs for those other pro

[2020-07-24 12:59] lholmquist commented on #255
closing for now

[2020-07-24 12:59] #255 closed

[2020-07-24 14:04] #215 closed

[2020-07-24 14:20] lance commented on #263
Closing this for now since we don't use `gts`. If we choose to go that route, let's open another issue or PR that introduces its usage.

[2020-07-24 14:20] #263 closed

[2020-07-24 14:23] lance commented on #242
Closing. Fixed in https://github.com/cloudevents/sdk-javascript/pull/260

[2020-07-24 14:23] #242 closed

[2020-07-24 16:20] lance commented on #241
We should probably start planning for this release to ship next week if possible. Before that, I would like the following PRs to land. Any objection @lholmquist / @grant?

* https://github.com/cloudevents/sdk-javascript/pull/271 - lib: change Receiver#accept() to be static Receiver.accept
* https://github.com/cloudevents/sdk-javascript/pull/270 - refactor: combine v03 and v1 event interfaces, spec

[2020-07-24 17:32] lholmquist commented on #241
@lance No objections here,  and I think all those PRs have approvals and are ready to land.

[2020-07-24 19:07] #261 closed

[2020-07-24 19:07] #266 closed

[2020-07-24 19:39] lholmquist commented on #241
All those listed pr's have merged except for #251 which has moved back to draft

[2020-07-24 19:43] grant opened #272 "Remove `export *`"
## Expected

`export *` is seen in a few files. This is usually a bad practice because we can't see what we export and we can't click to definition.

Just `export` the class/const with the definition.

## Actual

A few files have unnecessary `export * ` patterns.

[2020-07-24 20:08] lance commented on #241
@lholmquist awesome - thanks! Maybe on Monday we can finish up #251 and head down the release road.

[2020-07-24 20:32] grant opened #273 "Simplify Binary/Structured Receiver"
**Describe the Bug**

I'd expect the Binary/Structured Receiver to be really easy to setup. A developer shouldn't need to know about what mode the CloudEvent is in when receiving.

These methods should be static too.

Right now there's a lot of complicated logic for the binary/structured HTTP receiver. They should probably be 1 file each.

[2020-07-24 22:05] grant opened #275 "Remove All Version-Specific Methods"
**Describe the Bug**

This module includes a lot of public methods that assume there are are only 2 versions of the spec. We shouldn't copy-and-paste functions across versions. Rather, we should just pass a parameter to specify the CloudEvent version.

Here's an example:

## Actual

[code]

## Expected

[code]

[2020-07-27 17:19] #229 closed

[2020-07-27 17:29] lholmquist commented on #275
It looks like https://github.com/cloudevents/sdk-javascript/pull/277 addresses at least those 2 functions from above

[2020-07-27 18:53] lance commented on #241
Version 3.0.0 has been released as `cloudevents`

[2020-07-27 18:53] #241 closed

[2020-07-27 19:36] lance commented on #273
This is why we export `Receiver` and `Emitter` now. Developers are not required to use `BinaryReceiver` or `StructuredReceiver`.

[2020-07-27 19:38] lance commented on #273
What specifically do you have a problem with?

[2020-07-27 19:50] lance opened #278 "Move typedoc-clarity-theme to devDependencies"
**Describe the Bug**
The `typedoc-clarity-theme` dependency is incorrectly in the `dependencies` section of package.json.

**Steps to Reproduce**
1. Look at package.json

**Expected Behavior**
The dependency should be in `devDependencies`.

[2020-07-27 19:54] grant commented on #273
- `Receiver` is an object, when it should be static.
- There is no generic HTTP receiver. Binary and Structured receivers should really just be combined. This is how other SDK. A consumer doesn't know if a CE is binary/structured before it is sent to the server.
  - https://github.com/cloudevents/sdk-javascript/blob/master/src/transport/http/binary_receiver.ts
  - https://github.com/cloudevents/sd

[2020-07-27 19:58] grant commented on #273
If we export the `BinaryHTTPReceiver` in addition to `Receiver`, we can't stop folks from using those.

We should probably get rid of them in favor of just `Receiver`.

[2020-07-27 20:44] lance commented on #273
These classes are essentially the implementation for `Receiver`. I don't want to get rid of them. And I think exposing them is not inherently wrong.

[2020-07-28 01:11] grant commented on #273
Why do we want both `BinaryHTTPReceiver` and `StructuredHTTPReceiver`?
We can just have 1 receiver that accepts both binary and structured CloudEvents. What do you think of that?

[2020-07-28 12:31] lance commented on #273
That is `Receiver`. It exists. We don't need to make it again.

[2020-07-28 16:24] grant commented on #273
It's frustrating talking about this. There shouldn't be multiple ways of doing things.

[2020-07-28 18:42] lance opened #280 "CloudEvent data in Array format throws a ValidationError"
**Describe the Bug**

When creating or receiving a `CloudEvent`, if the data is in the form of an Array - which is valid JSON - we get a validation error.

**Steps to Reproduce**
1. use `new CloudEvent()` to create an event with the `data` property as an array. For example:

[code]
That will produce:

[code]

**Expected Behavior**

No error thrown.

**Additional context**

The schema seems to have

[2020-07-28 18:46] lance commented on #280
Although the schema has not changed, in previous versions the event was (in most cases) validated on demand. With the new version, you are not allowed to create an invalid event. In this case, the event is not invalid, but the schema thinks it is.

[2020-07-28 19:04] #278 closed

[2020-07-28 19:41] lance commented on #280
The fix for this also adds tests for `boolean` and `null` which are also valid JSON.

[2020-07-29 12:35] #280 closed

[2020-07-29 13:20] lance opened #283 "Discussion: consider changing primary branch from 'master' to 'main'"
**Is your feature request related to a problem? Please describe.**
In an effort to be more inclusive as a community, and empathetic to those who may be affected by the term `master`, we should consider changing the primary branch of the repository to `main`. I have seen this happen in other projects, and I do not think that this will have an impact on current or potential contributors. To pre-empt

[2020-07-29 13:48] lance commented on #245
Fixed in:  https://github.com/cloudevents/sdk-javascript/pull/281

[2020-07-29 13:48] #245 closed

[2020-07-29 19:00] lance opened #284 "BinaryHTTPReceiver should remove datacontentencoding property after decoding"
**Describe the Bug**
When the `BinaryHTTPReceiver` accepts an incoming event, one of the first things it does is check to see if the event has its data encoded, by looking for the `CloudEvent#datacontentencoding` property. If the data __is__ encoded, and the content type is `application/json`, then it will parse the data so that to the user, it ultimately is in `Object` form.

However, when valida

[2020-07-29 19:31] lance commented on #284
Note that this is also an issue for v03 structured events.

[2020-07-29 22:09] lholmquist opened #286 "Browser Version of the module is still called cloudevents-sdk"
**Describe the Bug**
The name of the module changed in #260,  but the webpack config was never updated,  https://github.com/cloudevents/sdk-javascript/blob/master/webpack.config.js

**Steps to Reproduce**
1. Create a Browser Application
2. Bring in the cloudevents-sdk
3. `window[cloudevents-sdk]` exists
3a. Also, the cloudevents-sdk.js file exists in the built bundles folder

**Expected Behavior**

[2020-07-29 22:23] n3wscott commented on #273
I do not feel this is a productive comment.

The SDK should take no opinion on optimization paths. `Receiver` is the general usecase but for someone who wants to write a service that optimizes for accepting only binary, or only structured events and wants to short-circuit the parsing path, it seems reasonable to expose this underlying detail.

The SDK should leave as many hooks and opening for int

[2020-07-29 23:03] grant commented on #273
I'm not trying to optimize, I'm trying to be DRY/KISS as we have duplicative logic in these files:

- https://github.com/cloudevents/sdk-javascript/blob/master/src/transport/http/binary_receiver.ts
- https://github.com/cloudevents/sdk-javascript/blob/master/src/transport/http/structured_receiver.ts

Where do we say we need to reject encodings in the CESDK requirements? This is not implemented in o

[2020-07-30 02:18] lance commented on #273
Please feel free to contribute code to this project for community review in order to satisfy your demands.

Help me understand where you think the module is “reject[ing] encodings”. This code that you reference does not do such a thing.

[2020-07-30 12:39] #284 closed

[2020-07-30 13:24] lholmquist commented on #249
closed via #282

[2020-07-30 13:24] #249 closed

[2020-07-30 13:48] lance opened #291 "Release 2.0.3 with name change warning"
**Is your feature request related to a problem? Please describe.**
With the release of 3.0.0 under a different name (`cloudevents` instead of `cloudevents-sdk`), existing users of the 2.x versions will never receive an update or patch unless they know that the module name has changed, and make proactive steps to modify their dependencies.

In order to help smooth the transition for existing users,

[2020-07-30 14:14] lholmquist commented on #291
+1

[2020-07-30 17:55] #286 closed

[2020-07-30 21:10] lance commented on #291
Fixed in https://github.com/cloudevents/sdk-javascript/commit/9a91d87442611d52898e39df6fe85d4160362e0f

[2020-07-30 21:10] #291 closed

[2020-07-31 18:58] grant opened #294 "Remove Unknown Type From Interfaces"
**Describe the Bug**

The TS interfaces are pretty great.

I found a bug where the TS `unknown` type is used for some of the properties in [`src/event/interfaces.ts`](https://github.com/cloudevents/sdk-javascript/blob/master/src/event/interfaces.ts).

This is a problem because this TS type causes some issues:

`Type 'unknown' is not assignable to type '{}'.ts(2322)`

---

We should simply remove t

[2020-07-31 19:17] grant opened #295 "isCloudEvent Function"
**Describe the Bug**

Is there an easy way to determine if a HTTP request is a CloudEvent or not?

It would be great if there was a `isCloudEvent` function or something similar. Maybe just documentation if we can re-use existing functions together to achieve this.

**Steps to Reproduce**

- Try to find a function to determine if a HTTP request is a valid CE

**Expected Behavior**

- Documentation

[2020-07-31 19:36] grant commented on #272
Specifically here:

https://github.com/cloudevents/sdk-javascript/blob/3d82fb629182edaee11e571ea895a5f8a7456a0e/src/transport/index.ts

It's actually causing issues with my build for some reason:

[code]

[2020-07-31 20:12] lance commented on #295
We do not have that in this module, although I can see it being useful. For a current project I am working on, we do this before trying to parse the event.

https://github.com/boson-project/faas-js-runtime/blob/master/lib/event-handler.js#L34-L50

[2020-07-31 20:21] #272 closed

[2020-08-03 18:39] lholmquist opened #298 "Easier Access to Constants for users"
**Is your feature request related to a problem? Please describe.**

If a user wants to get access to the constants,  they can do that by importing/requiring like this:

[code]

**Describe the solution you would like to see**

While this works,  it isn't as intuitive as it could be.

It would probably be nice if it was export at the top level, so we could do something like this:

[code]

[2020-08-03 19:41] lance commented on #294
Hmm. I don't think it's that simple. As the specification [states](https://github.com/cloudevents/spec/blob/v1.0/spec.md#event-data).

In your sample data, the `TestData` interface declares `data` to be `{}`. But there's no way to know for sure if that's actually the case. Even removing `unknown`, `null` and `undefined` from the `CloudEvent#data` type declaration, it still could be any of `Record<

[2020-08-04 13:42] #298 closed

[2020-08-04 22:17] lholmquist opened #300 "Release 3.1.0"
3.0.1 was released the 29th of August, but we also forgot to update the browser version to the new name.   The commits below include that update.   Should we release a new patch release soon with that change?  I don't think there are any commits below that need a minor bump.  I can see an argument for a7e0aa0 as a minor bump,  but I don't think it needs to be

[code]

[2020-08-05 12:53] lance commented on #300
That's some powerful time machine work you've got there! :laughing:

[2020-08-05 12:54] lance commented on #300
+1 for a new release

[2020-08-05 13:45] lholmquist commented on #300
:facepalm:

[2020-08-05 14:14] lance commented on #300
@lholmquist thinking a bit more about this, I think maybe this warrants a 3.1.0 release. The change with `CONSTANTS` being exported is a breaking change, and will actually break an automated upgrade.

[2020-08-05 14:18] lholmquist commented on #300
@lance that is fine.

[2020-08-05 21:09] lholmquist opened #301 "Emit Binary, but receives Structured"
**Describe the Bug**

I was playing around with a small example where i Emit a binary cloud event.  something like this:

[code]

Then i have a basic express.js application running on port 3000 with the route `cloudeventy` to receive the event coming in, which looks similar to this:

[code]

However,  I get an error saying that "Cannot read property specversion of undefned".

I also console logged

[2020-08-05 21:21] grant commented on #301
Seems like a bug. I haven't used the emitter yet.

[2020-08-05 21:30] lholmquist commented on #301
The default with no options is binary,  which is here:  https://github.com/cloudevents/sdk-javascript/blob/master/src/transport/emitter.ts#L48

I think not specifying is ok,  as long as we document that it defaults to something.

I guess i'm not familiar enough with the spec to know if the headers we add should be different than what we do currently for binary mode

[2020-08-05 21:58] lance commented on #301
Hmm - looks strange

[code]
The content type header here indicates a structured event. However, the inclusion of all of the `ce-*` headers is what happens for a binary event. So the `Receiver` is getting confused. What seems wrong here is that the `Emitter` is sending the wrong content type header. For the binary transport mode this is typically `application/json`. In this case, your data is just

[2020-08-05 22:02] lance commented on #301
Follow up...

In our `Emitter` tests, we are testing the content type for a structured mode event [here](https://github.com/cloudevents/sdk-javascript/blob/master/test/integration/http_emitter_test.ts#L98). But the [binary transport mode tests](https://github.com/cloudevents/sdk-javascript/blob/master/test/integration/http_emitter_test.ts#L70-L77) omit checking the header. That test should probabl

[2020-08-05 22:03] lholmquist commented on #301
LOL,  just wrote that:

And glad this is a bug and i'm not going crazy :)

[2020-08-05 22:04] lholmquist commented on #301
Also,  is there a place in the spec, that says which headers are suppose to go with which mode?

[2020-08-05 22:05] lholmquist commented on #301
assigning to myself to fix if no one minds

[2020-08-05 22:06] lance commented on #301
* Binary: https://github.com/cloudevents/spec/blob/v1.0/http-protocol-binding.md#311-http-content-type
* Structured: https://github.com/cloudevents/spec/blob/v1.0/http-protocol-binding.md#321-http-content-type

[2020-08-05 22:09] lance commented on #301
@lholmquist

I don't think we need to call `Receiver.accept` in the `Emitter` test. We just need to be validating our expectations. The `Receiver` is tested separately.

[2020-08-05 22:10] lholmquist commented on #301
yup,  was just illustrating why we never picked up the issue until now

[2020-08-05 22:30] lholmquist opened #303 "Test run not failing with broken tests"
**Describe the Bug**
While creating the PR for #301, i added a test that should fail the build.  It does fail the test,  but the test suite still thinks it passes.  The error shows up as an unhandled promise rejection:  https://github.com/cloudevents/sdk-javascript/pull/302/checks?check_run_id=951373768#step:6:330

**Expected Behavior**
The expected behavior is that CI should fail

**Additional co

[2020-08-06 14:35] lholmquist commented on #300
lets make sure this makes it in too, https://github.com/cloudevents/sdk-javascript/pull/302

[2020-08-06 14:36] #301 closed

[2020-08-06 14:40] lholmquist opened #304 "Release Procedure Document"
I noticed that we don't have any documentation around performing a new release.  We have a contributors guide and how to setup PRs  but nothing on doing an actual release.

With more folks having committer status and access to doing releases, we should probably have something

[2020-08-07 13:00] #303 closed

[2020-08-07 17:53] lholmquist commented on #300
Updating the list of commits:

[code]

[2020-08-10 17:38] lholmquist commented on #300
So doing a `npm run release -- --dry-run`  the version that was created, was 3.0.2 based on the commits.

@lance @grant I think we might need to force a 3.1.0 if we feel #299 makes it a minor bump instead of a patch bump

[2020-08-10 20:00] lance commented on #300
@lholmquist I think we should... You may know how already, but it's pretty easy to force a version number.

[code]

[2020-08-10 23:34] grant opened #308 "REAMDE sample has req/res undefined"
**Describe the Bug**

The README example doesn't have a full example. `req`/`res` is undefined, `CloudEvents` isn't used.

[2020-08-11 04:45] grant commented on #295
@lance What do you think about this logic?

https://github.com/cloudevents/sdk-javascript/blob/master/src/event/cloudevent.ts

- `CloudEvent#isBinary`
  - True if HTTP request has 4 required CE headers, otherwise false

[2020-08-11 13:25] #304 closed

[2020-08-11 13:26] lholmquist commented on #300
yup,  i am familiar

[2020-08-11 13:28] lholmquist commented on #300
There have been a couple commits that came in today, which were doc and some process related things,  3.1.0 is now looking like:

08bf15d  docs: Release Guidelines (#306)
f3cc2b4 chore: update the release script to signoff the commit (#307)
a5249de chore:  fix promise tests to break the build when they fail (#305)
ad0c434 fix: Add Correct Headers to emitted Binary Event (#302)
a7e0aa0 lib: expose

[2020-08-11 13:31] #308 closed

[2020-08-11 13:36] lholmquist commented on #300
Released now as 3.1.0, https://www.npmjs.com/package/cloudevents/v/3.1.0

[2020-08-11 13:38] #300 closed

[2020-08-11 13:44] lholmquist opened #312 "Release Automation"
Currently, as outlined in the [Release guidelines](url) docs, it is a manual process.

This issue is to be used to start to brainstorm ideas on how to make our release process more automated and less manual.

Some steps that need to be included:

* Run the release scripts with GH actions
* Create a new Release on Github
* Publish to npm

I'm sure there are more,  but that is what the issue is abou

[2020-08-11 13:54] lance commented on #295
Hmm - I don't think that it makes sense for a static `isBinary` method on `CloudEvent` because a `CloudEvent` itself is neither binary or structured. Those are just transport representations and really only make sense in the context of an incoming request over a transport protocol.

This would make more sense as a standalone function in `cloudevents/transport/http`. The logic for an `isCloudEvent`

[2020-08-11 14:38] grant commented on #295
Yup, adding the method to the HTTP transport files instead of CloudEvent files makes sense.

[2020-08-11 14:47] lance commented on #283
@cloudevents/sdk-javascript-maintainers I'm going to make this change this week unless objected to here.

[2020-08-11 14:57] grant opened #314 "Emitter Should Optionally Be Static"
**Describe the Bug**

The HTTP Emitter should have static methods such that we don't need to construct multiple Emitters before sending our CE.

Currently we must instantiate the Emitter with a URL and then emit. See [README](https://github.com/cloudevents/sdk-javascript#emitting-events).

[code]

**Expected Behavior**

Like the static `Receiver.accept(...)`, I'd imagine an `Emitter.send(...)`.

[

[2020-08-11 15:07] grant commented on #283
Sounds good.

[2020-08-11 15:50] lance commented on #314
I see where you are coming from with the desire for a static function. However, it's not the case that you are required to create a new `Emitter` for every URL. You can in fact, include a URL in the [send call](https://github.com/cloudevents/sdk-javascript/blob/master/src/transport/emitter.ts#L67-L69). For example.

[code]
This was designed intentionally so that the user isn't required to provide

[2020-08-11 16:27] matejvasek commented on #314
I just used javascript-sdk marginally, so correct me if I am wrong. I would expect emitter to contain some http-client object inside. Sometimes such an object my store some state, e.g. keep http-cookies. For that reason I would avoid having single static(global) emitter.

[2020-08-11 16:29] grant commented on #314
Creating a managed Emitter object is fine, but there are many use-cases where I don't want to manage state and figure out which file contains my emitter.

An alternative would be to have something like this:

[code]

Maybe we can we have both if we want to have a non-static emitter class? I see value in setting up configs for the emitter once.

[2020-08-11 16:41] lholmquist commented on #314
trying to do both would be very confusing for the user.

[2020-08-11 17:09] grant commented on #314
OK. I'm not sure what  Can we just have 1 function to send a HTTP request? Like:

[code]

This format is more idiomatic and is similar to the format for what other npm modules do:

- [`http`](https://nodejs.org/api/http.html#http_http_request_url_options_callback) Standard library – (`http.request(url, options)`)
- [`axios`](https://www.npmjs.com/package/axios) - (`axios.post(url, options)`)
- [`r

[2020-08-11 17:52] matejvasek commented on #314
@grant  Seems you are right that the JS/TS HTTP clients are mostly stateless (which is really good thing). I had different experience in different languages.

[2020-08-11 18:50] lance commented on #314
The current design is meant for simplicity once an `Emitter` has been created. `TransportOptions` holds a URL, the transport format (Binary or Structured) and the actual emitter implementation function (`binaryEmitter` or `structuredEmitter`). The idea is that, in most cases, you're going to be consistently sending an event using a single transport protocol format to a single URL. Instead of havin

[2020-08-11 18:50] dazuma commented on #312
We could consider a process like https://github.com/googleapis/release-please which was developed by the people behind [conventional commits](https://conventionalcommits.org) and is currently being used at Google to automate releases for hundreds of API client libraries across many languages. (Full disclosure: my day job is on that team.)

The basic idea is to
* trigger (e.g. a GH action) on new c

[2020-08-11 19:15] grant commented on #314
I hear where you're coming from. The difference is a stateless functional vs stateful object-oriented design.

I'm suggesting to be more functional like Node:

### Current

[code]

### Proposed

[code]

There are benefits for both styles of programming.

---

If you wanted to have a stateful endpoint, you can do this:

### Current

[code]

vs

[code]

If we need to change the `protocol` of one of

[2020-08-11 19:21] matejvasek commented on #314
I think that instance of an Emitter is supposed to be used only locally in single file (or even function) and not being exported.

[2020-08-11 19:29] matejvasek commented on #314
I like stateless immutable things, but it would force user to repeat code like
[code]
https://github.com/matejvasek/sdk-javascript/commit/f86388a67bca25a8aa02f4ad4dd12fa2778a6456

or maybe it could be extracted:
https://github.com/matejvasek/sdk-javascript/commit/dcdb24d03a2293ee1d1a852b44db54df69d36a80#diff-c6d9cc63d2d9557f6593b77a2153144eR62

[2020-08-11 19:38] grant commented on #314
You wouldn't need to repeat the code, you'd just need to export that stateful `send` function and use it within code if you really want to customize transport options.

---

I'm also not saying that they have to be mutually exclusive, if we want to keep state, we could have that too.

[2020-08-12 00:16] lance commented on #314
This is not a hill I feel like fighting on, so if you would like to propose an implementation in a PR that would be welcome. And we can discuss the merits of it there. I can see your point but do still have reasons to prefer the implementation as it is. Regarding idiomatic JS, there is a lot of room for interpretation around that and maintaining state is not inherently wrong in JS - note the recen

[2020-08-12 11:57] matejvasek commented on #314
What about adding some default _immutable_ instance as static member:
[code]
Then user could call:
[code]

[2020-08-12 13:29] lholmquist commented on #314
@grant i would suggest to send a PR with the proposed changes.   Maybe seeing the code in context might help

[2020-08-12 15:14] grant commented on #314
Thanks for the concrete suggestion @matejvasek. I'll look at changing the PR to something like that.

[2020-08-12 18:08] lance commented on #283
@cloudevents/sdk-javascript-maintainers just a heads up. I will make this switch at the end of the day today.

[2020-08-12 20:50] #232 closed

[2020-08-17 12:09] lance commented on #283
This is done

[2020-08-17 12:09] #283 closed

[2020-08-17 12:22] lance commented on #312
@dazuma this is pretty interesting. We already have steps 1-3 in place. Steps 4-6 are essentially what @grant suggested [here](https://github.com/cloudevents/sdk-javascript/pull/306) and what prompted the creation of this issue. I wasn't aware of `release-please`, however. Thanks for the pointer.

[2020-08-17 14:21] lholmquist commented on #312
this workflow looks really nice.  the only problem I can see is the 2FA for npm.  in the release-please docs, https://github.com/googleapis/release-please#automating-publication-to-npm , it says to "keep 2FA enable, point the the registry url to your own wombat dressing room".    So in order to use that, we would need to have that running and hosted somewhere.

[2020-08-17 18:36] lance commented on #294
Going ahead and closing this, as I don't believe it is an issue with the module

[2020-08-17 18:36] #294 closed

[2020-08-17 18:40] lance commented on #275
@lholmquist there are no other version specific functions that I am aware of being exported at the top level. I am closing this. @grant - If there are specific functions in nested files that should be addressed, please open a specific issue for them.

[2020-08-17 18:40] #275 closed

[2020-08-17 18:46] lance commented on #273
I'm going to go ahead and close this issue, as the one agreed upon step - making `Receiver.accept()` static - has landed. It's not clear to me what, if anything, else should be done. @grant if you have specific/tangible next steps, feel free to reopen and describe these, or create a new issue.

[2020-08-17 18:46] #273 closed

[2020-08-17 18:51] grant commented on #275
Yup, looks good to close @lance.

[2020-08-17 19:08] grant commented on #273
That's fine. A lot of improvements have been made.

There's some internal refactoring for making static receivers (every require('cloudevents') shouldn't create 4 objects, but that's not super important right now.
https://github.com/cloudevents/sdk-javascript/blob/main/src/transport/receiver.ts#L16-L25

[2020-08-17 21:24] lance commented on #273
That's not how it works with `require()`. Those objects are created only once. Here is a [simple example](https://gist.github.com/lance/4924609c950ca923a2fa6c0431c6d0ac) to illustrate.

[2020-08-17 21:39] grant commented on #273
_Updated the comment to "per module"._

The above sample is requiring in the same npm module. Requiring cloudevents in separate modules creates separate objects/namespaces.

[2020-08-17 22:15] lance commented on #273
After this, I'm going to drop it... but... you are mistaken. Please see the Node.js [module documentation](https://nodejs.org/api/modules.html#modules_caching).

There are some caveats to this. For example, if my project has multiple dependencies which each depend on a different version of `cloudevents`, those dependencies would resolve to different files and the file will be loaded and compiled m

[2020-08-18 23:21] lholmquist opened #320 "Readme: Supported Specification Features has broken links"
**Describe the Bug**

If you were to click the v0.3 and v1.0 links on this table on the readme, https://github.com/cloudevents/sdk-javascript#supported-specification-features,  they return a 404 since they don't link anywhere.

We could/should probably link out to the appropriate section in the spec repo.

I did notice however, that the spec repo only has a master and v1.0 branches,  https://githu

[2020-08-19 14:51] lance commented on #320
@lholmquist the v0.3 specs are just tagged https://github.com/cloudevents/spec/tree/v0.3

[2020-08-19 19:39] #320 closed

[2020-08-20 13:45] lholmquist opened #322 "Adding More Transport Protocols - A Proposal"
**What follows is a thought dump, so sorry if it rambles a bit.**

This module is in a pretty good state with the HTTP Protocol, so i started thinking about what the next protocol that could be added.

As I thought about it,  I realized a couple things.

This first is we probably need to make our top level `Receiver` and `Emitter` a little more generic.  At the moment,  they have things related to

[2020-08-20 14:05] lholmquist commented on #322
@cloudevents/sdk-javascript-maintainers and anyone else

[2020-08-20 15:17] lance commented on #322
@lholmquist thanks for bringing this up! As you know, I'm interested in moving ahead with MQTT protocol support in the near future.

One thing to consider is that we don't really need to support the MQTT protocol itself, we just need to provide a means for developers to [express a `CloudEvent` as an MQTT publish message](https://github.com/cloudevents/spec/blob/v1.0/mqtt-protocol-binding.md#12-rel

[2020-08-20 15:40] lholmquist commented on #322
One reason i can see having an Emitter, is to make the users life a little easier with not having to worry about setting the correct method and those other tiny details.    But I think that making this library smaller,  and focused on just formatting(receieving and sending) the CloudEvents might be a good direction to go in

That would allow a user to use their http lib of choice(or other protocol

[2020-08-21 04:46] moltar opened #323 "TypeError: Cannot read property 'V03' of undefined"
**Describe the Bug**

`Version` appears to be `undefined`.

**Steps to Reproduce**

[code]

**Expected Behavior**

Version should be defined.

**Additional context**

Using package from NPM version `3.1.0`.

[2020-08-21 04:48] moltar commented on #323
Never mind, seems to be an issue with `@swc-node/jest`.

[2020-08-21 05:13] moltar commented on #323
See https://github.com/swc-project/swc/issues/940

Maybe this can refactored from enum to const as const approach?

[code]

[2020-08-24 19:23] lance opened #325 "Loose event validation"
**Is your feature request related to a problem? Please describe.**
Currently, when creating a `CloudEvent` instance, one of the final things that happens in the constructor before freezing the object is `this.validate()` is called. The `validate()` function will throw an exception if the event is invalid. This effectively means that there is no way to create an event that's invalid. In most cases,

[2020-08-25 02:52] moltar opened #326 "Bug: time attribute is always a string, yet is type casted to string | Date"
It appears that `time` constructor attribute value, which can be `Date` is always converted to a string:

https://github.com/cloudevents/sdk-javascript/blob/73f0becc2b8e4f10ae40e23b77e4161d9b5ff611/src/event/cloudevent.ts#L91-L95

The setter also converts to a string:

https://github.com/cloudevents/sdk-javascript/blob/73f0becc2b8e4f10ae40e23b77e4161d9b5ff611/src/event/cloudevent.ts#L130-L132

Yet

[2020-08-25 12:51] lholmquist commented on #325
When i was first adding the validation to the CloudEvent constructor,  i contemplated adding what you are talking about in.   My main reason was because of how the test were written.

I can see this being a feature,  but my only concern is if a user has a service where they send cloud events, and turn off the event validation.  then another user uses that service to receive events,  how will they

[2020-08-25 13:04] lance commented on #326
@moltar - good catch. All of this conversion with the `time` attribute is done because the spec for JSON representation of an event specifically [requires a string](https://github.com/cloudevents/spec/blob/v1.0/json-format.md#22-type-system-mapping). But I think this is highlighting a deeper issue related to the JSON representation.

When we refactored this repository into TypeScript, there was an

[2020-08-25 13:12] lholmquist commented on #326
If we are adding in a `toString` method for the CloudEvent class,  then i don't think we need to wait until 4.0 since it would just be additive and would really break existing stuff.

[2020-08-25 13:16] lance commented on #326
@lholmquist You are probably correct, but I worry the changes would be bigger than that for TypeScript users, since we will be potentially changing function type signatures.

[2020-08-25 19:26] lance commented on #312
As discussed on Slack, let's go ahead and try to get `release-please` in place without automated publishing to `npm` for the next release (`3.2.0`).

[2020-08-26 18:10] lance commented on #323
Hi @moltar - I am unable to reproduce this. I tried downloading the `swc` CLI, and ran it on `src/event/cloudevent.ts` where the `Version` enum is declared, and did not get any errors. It produced this transpiled JS:

[code]
Can you provide some steps to reproduce this?

[2020-08-26 20:28] grant commented on #325
Thanks for creating the issue!

According to the SDK spec, there are various methods described. One of them is **creation** and one is **validation**.
https://github.com/cloudevents/spec/blob/master/SDK.md#technical-requirements

I would assume the [composition method](https://github.com/cloudevents/spec/blob/master/SDK.md#compose-an-event) and [validation method](https://github.com/cloudevents/sp

[2020-08-26 22:26] #295 closed

[2020-08-26 22:26] #322 closed

[2020-08-27 14:11] lholmquist commented on #312
I started to play around with adding release-please to my fork.   For the most part, I like what it is doing, and it does all the things we are looking to automate,  but there are a couple things that I think we need to fix before we can add it .

This first is that it is not taking into account that my default branch is main instead of master. so all PR's have been going to master.  I did add in

[2020-08-27 15:16] lance commented on #312
Thanks for looking into this @lholmquist. I poked around the source for the project and found some things that might help.

It looks like you can [add a `default-branch` parameter](https://github.com/googleapis/release-please/blob/master/src/bin/release-please.ts#L72-L74) to set the branch to `main`.

You might try extracting the `standard-version` stanza from package.json and put it into a [conve

[2020-08-27 15:18] lholmquist commented on #312
I was using an old version,  since i copy/pasted,  latest version is fine now

[2020-08-27 15:53] bcoe commented on #312
Just catching up on this thread, I wanted to share this with you:

https://github.com/GoogleCloudPlatform/release-please-action

It's a GitHub action that runs release-please, here it is [in action](https://github.com/yargs/yargs/blob/master/.github/workflows/release-please.yml). The main reason I opt for the GitHub app,  rather than the action for Google projects, is related to CLA.

[2020-08-27 16:08] lholmquist commented on #312
@bcoe thanks,  that's actually the action text that i ended up copying and running into the master/main issue

[2020-08-27 17:39] lholmquist commented on #312
@bcoe something I wanted to ask.   Is it possible to have the release-please action use a standard-release config to show more types in the changelog?    I've tried to add a .versionrc.json with something like this:
[code]

but i don't think it is recognizing it.  It is also completely possible,  I've written the config file incorrectly

[2020-08-28 03:20] moltar commented on #323
Here is a repro: https://github.com/moltar/cloudevent-exp

[2020-08-28 03:45] bcoe commented on #312
@lholmquist it's not today, but I'd  be happy to add  this functionality. If you get a moment, perhaps log a feature request? It's my goal that `release-please` would replace be able to replace `standard-version` (which I have had next to no time to work on in the past year, whereas I'm actively developing `release-please`).

[2020-08-28 16:31] lance commented on #326
I've been thinking about this, poking around some of the code, and reading some TypeScript [issues](https://github.com/microsoft/TypeScript/issues/2521). At first, I thought that the easiest and most straightforward way to handle this would be to just change the getters and setters so that the setter takes `string | Date` and the getter returns only `string`.

https://github.com/cloudevents/sdk-ja

[2020-08-28 16:47] grant commented on #326
I think we probably don't need to convert/touch the `time` value whenever it is set or retrieved.  I think the assumption for mapping to a string is only needed when transporting the CE (JSON doesn't support `Date`).

The JSON format is only needed for transport, not internal representation.

Javascript **natively** maps types to JSON like `Date`, so we shouldn't have custom conversion logic.

JS

[2020-08-28 17:47] lance commented on #326
I generally agree, but from [MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/toString).

So there is that to think about.

It's not as cut and dried as that, unfortunately. The `Timestamp` attribute per [the spec](https://github.com/cloudevents/spec/blob/v1.0/spec.md#type-system) MUST be in RFC3339 format, which is not what `Date.prototype.toString()` pro

[2020-08-28 18:05] grant commented on #326
All good points.

The main points I want to communicate:
- When creating/receiving a CloudEvent, the `#date` value should not be modified as provided. You should be able to `set` and `get` the date hundreds of times in different formats without changes. `Date` or `string` both sound reasonable.
  - The loose validation should allow even invalid strings.
- When validating a CloudEvent, check the da

[2020-08-28 18:24] lance commented on #326
Hmm - so I'm working on this now, and actually supporting a `Date` object makes some nice things go away. Specifically, this test no longer works.

https://github.com/cloudevents/sdk-javascript/blob/f3953a9a5abf5c0267247f9939cf567a47eccd91/test/integration/cloud_event_test.ts#L23-L26

This is because converting from a `Date` to a string in `JSON.stringify()` then results in an object that has it's

[2020-09-01 14:10] #326 closed

[2020-09-01 14:23] lance commented on #323
Thanks @moltar. This really seems to be an issue with swc. By modifying your example to use ts-jest instead of swc the example runs without error.

[code]

My modifications.
- package.json
[code]
- jest.config.js

[code]

[2020-09-02 10:10] satazor opened #332 "Should throw if specversion attribute is missing"
**Describe the Bug**

Does not throw if event doesn't have a `specversion` attribute, and fallbacks to `1.0`. The spec says that the `specversion` attribute is mandatory, so I think this library should fail when it's missing, instead of "magically" falling back.

**Steps to Reproduce**
1. `Receiver.accept({ 'Content-Type': 'application/cloudevents+json' }, { id: 'foo', source: 'foo', type: 'foo' }

[2020-09-02 10:13] satazor commented on #332
https://runkit.com/embed/chsthvg529ba

[2020-09-02 10:30] satazor opened #333 "Avoid doing console.error"
This is not really a bug, nor a feature request, so I haven't followed any of the templates.

It seems `console.error` is being used in several situations, e.g.: https://github.com/cloudevents/sdk-javascript/blob/6cd310c14168013a4298f87fd8ec3ef51782d7ce/src/event/cloudevent.ts#L170.

In most scenarios, these `console.error` calls are unnecessary as errors will be thrown anyway, that should be hand

[2020-09-02 16:17] lholmquist commented on #312
@bcoe sorry for the reply delay,  i was on PTO.

I can send a PR soon.  I have something working on my fork.  It looks like it needs to be updated in 2 spots.  The GH and the underlying release-please module

[2020-09-02 16:40] lance commented on #333
Thanks @satazor for opening this issue. It actually looks like there are only two calls to `console.error()` - the one you pointed out, and this one

https://github.com/cloudevents/sdk-javascript/blob/6cd310c14168013a4298f87fd8ec3ef51782d7ce/src/message/http/index.ts#L51

I think probably the one you note is the only one that should be removed, as the one in `src/messages/http` is informational an

[2020-09-02 16:43] lance commented on #332
@satazor thanks for pointing this out. I will look into dealing with this in https://github.com/cloudevents/sdk-javascript/pull/328

[2020-09-02 18:46] bcoe commented on #312
awesome, thank you @lholmquist that will be a great feature.

[2020-09-02 20:55] satazor commented on #333
@lance 👍

For informal logs, please consider adding the ability to specify the log interface (maybe the same interface as console), so that we can override with custom loggers.

[2020-09-03 02:24] moltar commented on #323
It is an issue with SWC, and they did confirm it in the linked issue: https://github.com/swc-project/swc/issues/940

But this is also a larger issue, because Babel also does not support const enums: https://github.com/babel/babel/issues/8741

I don't use babel, but there is a large portion of TS users who do.

Here is a short explainer (not my article): https://ncjamieson.com/dont-export-const-enu

[2020-09-03 02:25] moltar commented on #326
Thanks! :)

[2020-09-03 20:30] lance commented on #332
@satazor in [this PR](https://github.com/cloudevents/sdk-javascript/pull/328), there was [discussion](https://github.com/cloudevents/sdk-javascript/pull/328#issuecomment-682059664) around loose validation on receipt of a `CloudEvent`. Based on input from the community, noted in that comment, receipt of a `CloudEvent` should have loose validation, since it should be possible to receive and recover

[2020-09-03 20:32] lance commented on #332
Oh - but I see the problem here. Since it's defaulting the `specversion`, property, by the time it's unmarshalled as a `CloudEvent`, it _is_ valid, so calling `ce.validate()` won't help.

[2020-09-03 20:35] lance commented on #332
The other required attribute that we supply a default for if it's not provided is [`id`](https://github.com/cloudevents/sdk-javascript/blob/7423acb7fc4d431cc8d335fd5ccb1ad4a1f28a65/src/event/cloudevent.ts#L54-L55). The same would happen for this.

[2020-09-08 13:16] aabrams opened #340 "Typescript incompatible type in 3.1.0 and Express 4.x"
Trying to add in Express 4.x middleware:

import { Receiver, CloudEvent } from "cloudevents";

	const receivedEvent: CloudEvent = Receiver.accept(req.headers, req.body);

It fails with:

(property) IncomingMessage.headers: IncomingHttpHeaders
Argument of type 'IncomingHttpHeaders' is not assignable to parameter of type 'Headers'.
  Index signatures are incompatible.
    Type 'string | string[]' is

[2020-09-08 19:32] #325 closed

[2020-09-08 19:58] lance commented on #340
It appears that the `IncomingHttpHeaders` type is from [Node core](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/node/ts3.1/http.d.ts#L7), so I think this will probably be a common issue. We should consider modifying our type.

https://github.com/cloudevents/sdk-javascript/blob/1fa3a05aed84bb4bdb225b3e2e11aba60d80efe8/src/message/index.ts#L21-L23

In the meantime @aabrams ca

[2020-09-09 06:26] aabrams commented on #340
Trying what you suggested (req.headers as Headers):

Argument of type 'Headers' is not assignable to parameter of type 'import("c:/Users/adam_a/repos/Segment-Webhook/node_modules/cloudevents/dist/transport/http/headers").Headers'.
  Index signature is missing in type 'Headers'.ts(2345)
Conversion of type 'IncomingHttpHeaders' to type 'Headers' may be a mistake because neither type sufficiently ove

[2020-09-10 16:13] lholmquist commented on #312
@bcoe not sure if you are part of the group that does the release please GH action,  but i also sent a PR there to use the updated release-please functionality that i added,  https://github.com/GoogleCloudPlatform/release-please-action/pull/64

[2020-09-10 18:28] bcoe commented on #312
@lholmquist I have released  `release-please-action@v2.2.0`, let me  know if everything works for you?

[2020-09-17 18:04] lholmquist commented on #312
closing via #329 https://github.com/cloudevents/sdk-javascript/commit/a9114b712308efaca11c9e5f485948af5bb9e4bc

[2020-09-17 18:04] #312 closed

[2020-09-21 14:18] lholmquist commented on #314
I think we can close this since the re-write that will be released as 4.x should address this.

@grant @lance  does that sound correct?

[2020-09-21 14:40] grant commented on #314
Not sure of the status of this or what 4.x brings.

[2020-09-22 21:35] lance commented on #314
@grant the proposal was that `Emitter` is being deprecated because of the work that was done with the `Message` and `Binding` interfaces, etc. But, I've been thinking about this. I think before we drop 4.x, we should have a good, easy to use replacement, because it really does make life easy. Here is a prime example in the [Knative docs](https://knative.dev/docs/eventing/samples/writing-event-sour

[2020-09-23 13:25] lholmquist commented on #314
@lance sounds good.  i don't think we are in any rush for the 4.0 release

[2020-09-28 15:05] lholmquist commented on #314
Now that #342 has been merged,  should we close this?

[2020-09-28 15:08] lance commented on #314
As you know, #342 did not create a static emitter. But I think the design direction we are taking with that PR makes this issue obsolete.

[2020-09-28 15:10] grant commented on #314
Well, there's no way to send a CloudEvent without creating a factory or instance of an Emitter, so not really.

https://github.com/cloudevents/sdk-javascript/blob/e334b6eceb0227196bacea6a843c268489a7b71b/src/transport/emitter.ts#L97

[2020-09-28 15:14] lance commented on #314
Didn't we just go through all of this last week? There will be no `Emitter.send(event)` functionality in 4.x. Instead it will be `const emit = emitterFor(myTransport);`.

[2020-09-28 16:02] grant commented on #314
Hey, I was asked if we should close this issue. #342 creating a factory is useful but I thought it was a bit tangential. Really the goal was to not have to maintain an emitter across multiple files with a static option and just call emit anywhere (passing a transport).

The current interface is:

[code]

I guess I was expecting a `static` option like this:

[code]

so maybe a function like this:

[2020-09-28 16:06] grant commented on #314
Or if we're removing the `Emitter` class, then just directly exporting the [`emit`](https://github.com/cloudevents/sdk-javascript/blob/e334b6eceb0227196bacea6a843c268489a7b71b/src/transport/emitter.ts#L74) function statically would work.

[2020-09-28 17:44] evankanderson opened #343 "Binary data in binary format is not binary?"
**Describe the Bug**
I'm trying to send a cloudevent with `datacontenttype` of `image/jpeg` and the actual payload being the bytes of the image. It seems like the current code in `asData` will always base-64 the content when fetching data. (Possibly twice, if I read the code at line 12 of `http/index.js` correctly -- once for `event.data`, and once for `asData`.)

**Steps to Reproduce**
I'd like t

[2020-09-28 18:10] lance commented on #343
Hi @evankanderson can you please try the `data` assignment in the `cloneWith()` method?

[code]
This will get around the assignment errors. But you are correct that when serializing an event, it will be encoded as base64. This is based on a reading of the [JSON format spec](https://github.com/cloudevents/spec/blob/v1.0/json-format.md#31-handling-of-data).

The assumption made in this module is tha

[2020-09-28 18:37] evankanderson commented on #343
(I'm trying to avoid the overheads of base64 in my image pipeline, and my next step was expecting an image in the POST body.)

Thanks for the suggestion on assigning inside `cloneWith`, that seems to work. In general, it would be nice if I could assign a ReadableStream to `data` for the binary case, but I realze that's probably a larger feature request.

[2020-09-28 19:02] lance commented on #343
Sure thing. The idea behind `cloneWith` is that an event should be immutable. So that's why you were getting that particular error.

It is. But I should have a fix soon so that the `data` attribute is unmodified.

[2020-09-28 21:16] lance commented on #314
Yes, the plan is to remove `Emitter`.

I don't understand how this would work, since we will be removing axios when we remove `Emitter`. Without axios, how would a static function like this actually send the event?

[2020-09-28 21:55] grant commented on #314
I guess I don't understand the best way to send an event currently.

The thinking I was going with was to pass a function (which can use axios or something else) to actually send the event, but that's a bit overkill.

---

Really, it would be nice to have a sample in the [README](https://github.com/cloudevents/sdk-javascript#emitting-events):

[code]

This is similar to how python allows you to se

[2020-09-29 12:53] lance commented on #314
Outside of the `Emitter` class which is going away, there are two ways to send events. One is similar to the example you provide. E.g.

[code]

And the other is what you suggested with passing a function. This just landed in https://github.com/cloudevents/sdk-javascript/pull/342.

[code]

[2020-09-29 14:54] grant commented on #314
Looks great

[2020-09-29 14:55] #314 closed

[2020-09-29 15:24] lance commented on #343
Hi @evankanderson - I have a fix in this PR https://github.com/cloudevents/sdk-javascript/pull/344. If you can, would you mind giving it a try with your use case?

[2020-09-29 16:04] lance commented on #343
I think you should be able to do that with the changes in #344

[2020-09-29 17:00] evankanderson commented on #343
I have a demo that I'm wrapping up, but I'll try figuring out how to patch this in on a branch probably tomorrow morning once I've got the demo recorded. 😁

[2020-10-04 00:53] moltar commented on #323
Not stale

[2020-10-06 12:20] #343 closed

[2020-10-06 19:50] #340 closed

[2020-10-07 17:49] lholmquist commented on #332
I know this has been open for a while, but the idea is that we shouldn't be defaulting the specversion and id fields?

This would be a good one to get into the 4.0 release.  i can assign myself to take of it

[2020-10-07 18:27] lance commented on #332
I think defaulting them on creation with `new CloudEvent()` is fine. But when receiving events, we should not just assume that they are v1.0. That's what we are doing here.

https://github.com/cloudevents/sdk-javascript/blob/f6be285b8319919029d8c11f7bb49cac4bcc5c14/src/message/http/index.ts#L58-L60

Throwing here would also remove that `console.error()` and resolve https://github.com/cloudevents/s

[2020-10-07 18:30] lholmquist commented on #332
@lance that sounds good.   i'll take of it

[2020-10-20 18:50] cardil opened #355 "Add support for Distributed Tracing extension"
**Is your feature request related to a problem? Please describe.**
A Distributed Tracing Extension is part of [the specification](https://github.com/cloudevents/spec/blob/master/extensions/distributed-tracing.md). Javascript SDK should support it.

**Describe the solution you would like to see**
An implementation of Distributed Tracing should be implemented in similar way as it is done for Go and

[2020-10-20 18:50] cardil commented on #355
/cc @piecioshka

[2020-10-20 19:47] lance commented on #355
@cardil good catch!

To be clear, expectations for the SDKs do not require that this be implemented. https://github.com/cloudevents/spec/blob/master/SDK.md#technical-requirements

But I agree - it would be good.

[2020-10-22 18:57] grant opened #356 "Master and Main Branches?"
@lance @lholmquist I've noticed there are a bunch of branches on this repo, some which might be causing problems.

Specifically, having both a `master` and `main` might be causing issues, like PRs that are out of date. See https://github.com/cloudevents/sdk-javascript/pull/236 Could we delete stale branch `master`?

https://github.com/cloudevents/sdk-javascript/branches

[2020-10-22 21:58] lance commented on #356
I think that should be OK - are there any release tags on that branch that we would lose though? I think that's the main thing to look out for.

[2020-10-23 14:46] lholmquist commented on #356
i'm a +1 to removing master, to avoid the confusion.   Tags are just a pointer to a commit,  so i'm not sure what would happen,  but if that commit allow lives in the main branch,  then it should be fine? :shrug:

[2020-10-23 19:13] lance commented on #356
@lholmquist that was my thought as well. And anyway, several of us probably have that branch locally, so yes it should be OK.

[2020-10-23 19:16] lholmquist commented on #356
+1  and is anything really ever deleted :)

[2020-10-26 16:32] lholmquist opened #359 "Proposal for 4.0.0 Release"
I noticed that we have a 3.2.0 release,  but the package.json is still at 3.1.0.  I think we did that release in a separate branch for some reason,  but the list of commits below were generated with `git log v3.1.0..upstream/main --oneline` and the "Changelog section" was generated from `npm run release -- --dry-run`

There are some spots in the code that say "remove in 4.0",  should we remove tho

[2020-10-26 16:33] lholmquist commented on #359
@cloudevents/sdk-javascript-maintainers ^^

[2020-10-28 14:42] lholmquist opened #360 "Transition doc for deprecated API's"
Once we release the 4.0.0 version,  we are removing/replacing a bunch of API's.  While we have updated the readme already,  and will update the examples once the release happens,  it might be a better user experience if we were to document how to also  transition from the old API's to the new API's.

either as a separate doc, or part of the readme.  I'm more leaning toward a separate doc,  just so

[2020-10-29 14:35] lholmquist opened #361 "Should a cloneWith updated the id and time fields?"
I was playing with an example on using the `cloneWith` method of the CloudEvent class and i noticed that the new returned(cloned) CloudEvent has the same `id` and `time`  values.

So for example:

[code]

And then if we wanted to add an extension, for instance,  we could clone it into a new cloud event

[code]

I wasn't sure if that is correct or not.  I can go either way on this.  On one hand, it

[2020-10-30 14:11] lance commented on #361
@lholmquist good question. It might be worth asking in CloudEvents slack channel. My gut is to say that these values should not be cloned - especially the ID.

[2020-10-30 16:18] grant commented on #356
Thanks. I deleted the stale `master` branch.

[2020-10-30 16:18] #356 closed

[2020-10-30 16:26] grant commented on #359
The default branch has `3.1`, but the `v3.x` branch has `3.2`. So it's a bit weird seeing `3.2` out, yes.

I'm fine keeping the default branch up-to-date with whatever is published on npm (or a little ahead, but having github behind a bit weird imo).